{extend name="common/base"/}
<!-- 主体 -->
{block name="body"}

<div class="p-3">
	<form class="layui-form gg-form-bar border-t border-x">
		<div class="layui-input-inline" style="width:300px;">
			<input type="text" name="keywords" placeholder="请输入关键字" class="layui-input" autocomplete="off" />
		</div>
		<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="searchform">提交搜索</button>
	</form>
	<table class="layui-hide" id="football_match" lay-filter="football_match"></table>
</div>

<script type="text/html" id="toolbarDemo">
	<div class="layui-btn-container">
		<span class="layui-btn layui-btn-sm" lay-event="add" data-title="添加赛程数据">+ 添加赛程数据</span>

		<span class="layui-btn layui-btn-warm layui-btn-sm" lay-event="sync" data-title="同步数据">同步数据</span>
	</div>
</script>

<script type="text/html" id="barDemo">
<div class="layui-btn-group"><a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="read">查看</a><a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a><a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a></div>
</script>

{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	const moduleInit = ['tool'];
	function gouguInit() {
		var table = layui.table,tool = layui.tool, form = layui.form;
		layui.pageTable = table.render({
			elem: '#football_match',
			title: '赛程数据列表',
			toolbar: '#toolbarDemo',
			url: '/admin/football_match/datalist',
			page: true,
			limit: 20,
			cellMinWidth: 80,
			cols: [
				[
				{
					fixed: 'left',
					field: 'id',
					title: '编号',
					align: 'center',
					width: 80
				},{
					field: 'season_id',
					title: '赛季id',
					align: 'center',
					width: 80
				},{
					field: 'home_team_id',
					title: '主队id',
					align: 'center',
					width: 80
				},{
					field: 'away_team_id',
					title: '客队id',
					align: 'center',
					width: 80
				},{
					field: 'status_id',
					title: '比赛状态',
					align: 'center',
					width: 100
				},{
					field: 'match_time',
					title: '比赛时间',
					align: 'center',
					width: 100
				},{
					field: 'neutral',
					title: '是否中立场',
					align: 'center',
					width: 100
				},{
					field: 'away_position',
					title: '客队排名',
					align: 'center',
					width: 100
				},{
					field: 'coverage',
					title: '动画、情报、阵容',
					align: 'center',
					//width: 100
				},{
					field: 'venue_id',
					title: '场馆id',
					align: 'center',
					width: 80
				},{
					field: 'referee_id',
					title: '裁判id',
					align: 'center',
					width: 80
				},{
					field: 'updated_at',
					title: '更新时间',
					align: 'center',
					width: 150
				},
				{
					fixed: 'right',
					field: 'right',
					title: '操作',
					toolbar: '#barDemo',
					width: 136,
					align: 'center'
				}				
				]
			]
		});
		
		//监听表头工具栏事件
		table.on('toolbar(football_match)', function(obj){
			if (obj.event === 'add') {
				tool.side("/admin/football_match/add");
				return false;
			}else if( obj.event === 'sync' ){
				let callback = function (e) {
					layer.msg(e.msg);
					if (e.code == 0) {
						//table.refresh();
					}
				}
				tool.post("/admin/football_match/sync", { }, callback);

			}
		});

		//监听表格行工具事件
		table.on('tool(football_match)', function(obj) {
			var data = obj.data;
			if (obj.event === 'read') {
				tool.side('/admin/football_match/read?id='+obj.data.id);
			}
			else if (obj.event === 'edit') {
				tool.side('/admin/football_match/edit?id='+obj.data.id);
			}
			else if (obj.event === 'del') {
				layer.confirm('确定要删除该记录吗?', {
					icon: 3,
					title: '提示'
				}, function(index) {
					let callback = function (e) {
						layer.msg(e.msg);
						if (e.code == 0) {
							obj.del();
						}
					}
					tool.delete("/admin/football_match/del", { id: data.id }, callback);
					layer.close(index);
				});
			}
			return false;
		});

		//监听搜索提交
		form.on('submit(searchform)', function(data) {
			layui.pageTable.reload({
				where: {
					keywords: data.field.keywords
				},
				page: {
					curr: 1
				}
			});
			return false;
		});
	}
</script>
{/block}
<!-- /脚本 -->