{extend name="common/base"/}
{block name="style"}
{/block}
<!-- 主体 -->
{block name="body"}
{include file="common/header" nav='info' /}
<div class="container">
    <div class="left-main">
        <div class="new-content">
            <h1>{$info.title}<p><span>发布时间：{$info.create_time}</span><span>作者：{$info.author.username}</span></p>
            </h1>
            <div class="cont">
                {$info.content|raw}
            </div>
            <div class="connect">
                <span>上一篇：
                {if !empty($info['pre'])}
                        {if $info.pre.cate_id==1}
                                <a href="/zixun/zuqiu/zuqiu/zuqiu/{$info.pre.id}">
                                    {else}
                                    <a href="/zixun/lanqiu/lanqiu/lanqiu/{$info.pre.id}">
                            {/if}
                            {$info.pre.title}</a>
                {/if}
                </span>
                <span>下一篇：
                    {if !empty($info['next'])}
                        {if $info.next.cate_id==1}
                        <a href="/zixun/zuqiu/zuqiu/zuqiu/{$info.next.id}">
                            {else}
                            <a href="/zixun/lanqiu/lanqiu/lanqiu/{$info.next.id}">
                        {/if}
                            {$info.next.title}</a>
                    {/if}
                </span>
            </div>
<!--            <div class="keyword">-->
<!--                <label>标签 : </label>-->
<!--                <span><a href="">西甲</a></span>-->
<!--            </div>-->
        </div>
        {include file="assembly/newtxt"/}
    </div>
    <div class="right-main">
        {include file="assembly/zhibo"/}
        {include file="assembly/luxiang"/}
        {include file="assembly/jijin"/}
        {include file="assembly/hotkey"/}
    </div>
</div>
{/block}
<!-- /主体 -->
<!-- 脚本 -->
{block name="script"}
<script>

</script>
{/block}
<!-- /脚本 -->