{extend name="common/base"/}
{block name="style"}
{/block}
<!-- 主体 -->
{block name="body"}
{include file="common/header" nav='info' /}
<div class="container">
    <div class="left-main">
        <div class="new-content">
            <h1>{$info.title}<p><span>发布时间：{$info.create_time}</span><span>作者：{$info.author.username}</span></p>
            </h1>
            <div class="cont">
                {$info.content}
                <!--<p>西甲联赛是世界上最著名和最有影响力的足球联赛之一。这个联赛不仅具有极高的竞争水平，还拥有世界上一些最受欢迎的球队和球员。如果你是一个体育迷，那么西甲绝对是你不可错过的联赛之一。这篇博客将向你介绍西甲直播平台，带你深入了解这个联赛以及其中的球队和球员。-->
                <!--</p>-->
                <!--<p>西甲联赛是世界上最著名和最有影响力的足球联赛之一。这个联赛不仅具有极高的竞争水平，还拥有世界上一些最受欢迎的球队和球员。如果你是一个体育迷，那么西甲绝对是你不可错过的联赛之一。这篇博客将向你介绍西甲直播平台，带你深入了解这个联赛以及其中的球队和球员。-->
                <!--</p>-->
                <!--<p>西甲联赛是世界上最著名和最有影响力的足球联赛之一。这个联赛不仅具有极高的竞争水平，还拥有世界上一些最受欢迎的球队和球员。如果你是一个体育迷，那么西甲绝对是你不可错过的联赛之一。这篇博客将向你介绍西甲直播平台，带你深入了解这个联赛以及其中的球队和球员。-->
                <!--</p>-->
                <!--<p>西甲联赛是世界上最著名和最有影响力的足球联赛之一。这个联赛不仅具有极高的竞争水平，还拥有世界上一些最受欢迎的球队和球员。如果你是一个体育迷，那么西甲绝对是你不可错过的联赛之一。这篇博客将向你介绍西甲直播平台，带你深入了解这个联赛以及其中的球队和球员。-->
                <!--</p>-->
                <!--<p><img src="https://www.i999.com.cn/uploads/litimg/2023-04-26/640797f84db0433665c8e5ce6e1bae37.jpg"-->
                        <!--alt=""></p>-->
                <!--<p>西甲联赛是世界上最著名和最有影响力的足球联赛之一。这个联赛不仅具有极高的竞争水平，还拥有世界上一些最受欢迎的球队和球员。如果你是一个体育迷，那么西甲绝对是你不可错过的联赛之一。这篇博客将向你介绍西甲直播平台，带你深入了解这个联赛以及其中的球队和球员。-->
                <!--</p>-->
                <!--<p>西甲联赛是世界上最著名和最有影响力的足球联赛之一。这个联赛不仅具有极高的竞争水平，还拥有世界上一些最受欢迎的球队和球员。如果你是一个体育迷，那么西甲绝对是你不可错过的联赛之一。这篇博客将向你介绍西甲直播平台，带你深入了解这个联赛以及其中的球队和球员。-->
                <!--</p>-->
                <!--<p>西甲联赛是世界上最著名和最有影响力的足球联赛之一。这个联赛不仅具有极高的竞争水平，还拥有世界上一些最受欢迎的球队和球员。如果你是一个体育迷，那么西甲绝对是你不可错过的联赛之一。这篇博客将向你介绍西甲直播平台，带你深入了解这个联赛以及其中的球队和球员。-->
                <!--</p>-->
            </div>
            <div class="connect">
                <!--<span>上一篇：<a href="">CCTV5高清直播-篮球直播在线观看，不错过任何一场篮球赛！</a></span>-->
                <!--<span>下一篇：<a href="">西甲直播在哪里看？这里推荐几个超棒的直播网站！</a></span>-->

                <span>上一篇：
                {if !empty($info['pre'])}

                        {if $info.pre.cate_id==1}
                                <a href="/zixun/zuqiu/zuqiu/zuqiu/{$info.pre.id}">
                                    {else}
                                    <a href="/zixun/lanqiu/lanqiu/lanqiu/{$info.pre.id}">
                            {/if}
                            {$info.pre.title}</a>
                {/if}
                </span>


                <span>下一篇：
                    {if !empty($info['next'])}
                        {if $info.next.cate_id==1}
                        <a href="/zixun/zuqiu/zuqiu/zuqiu/{$info.next.id}">
                            {else}
                            <a href="/zixun/lanqiu/lanqiu/lanqiu/{$info.next.id}">
                        {/if}
                            {$info.next.title}</a>
                    {/if}
                </span>


            </div>
            <div class="keyword">
                <label>标签 : </label>
                <span><a href="">西甲</a></span>
            </div>
        </div>
        {include file="assembly/newtxt"/}
    </div>
    <div class="right-main">
        {include file="assembly/zhibo"/}
        {include file="assembly/luxiang"/}
        {include file="assembly/jijin"/}
        {include file="assembly/hotkey"/}
    </div>
</div>
{/block}
<!-- /主体 -->
<!-- 脚本 -->
{block name="script"}
<script>

</script>
{/block}
<!-- /脚本 -->