{extend name="common/base"/}
{block name="style"}
{/block}
<!-- 主体 -->
{block name="body"}
{include file="common/header" nav='info' /}
<div class="container">
    <div class="left-main">
        <div class="new-content">
            <h1><span>{$info.title}</span><p><span>发布时间：{$info.create_time}</span><span>作者：{$web_name}</span></p>
            </h1>
            <div class="cont">
                {$info.content|raw}
            </div>
            <div class="keyword" style="text-align: left;margin-bottom: 20px;">
                <label>相关标签 : </label>
                {foreach $keywords as $k}
                <span><a href="/search/index_1/{$k.keywords_id}">{$k.title}</a></span>
                {/foreach}
            </div>
            <div class="connect">
                {if !empty($info['pre'])}
                <span>上一篇：
                    <a href="/zixun-{$info.pre.cate_id==1?'zuqiu':'lanqiu'}/{$info.pre.id}.html">{$info.pre.title}</a>
                </span>
                {/if}
                {if !empty($info['next'])}
                <span>下一篇：
                    <a href="/zixun-{$info.next.cate_id==1?'zuqiu':'lanqiu'}/{$info.next.id}.html">{$info.next.title}</a>
                </span>
                {/if}
            </div>
        </div>
        {include file="assembly/newtxt"/}
    </div>
    <div class="right-main">
        {include file="assembly/zhibo"/}
        {include file="assembly/luxiang"/}
        {include file="assembly/jijin"/}
        {include file="assembly/hotkey"/}
    </div>
</div>
{/block}
<!-- /主体 -->
<!-- 脚本 -->
{block name="script"}
<script>

</script>
{/block}
<!-- /脚本 -->