{extend name="common/base"/}
{block name="style"}
{/block}
<!-- 主体 -->
{block name="body"}
{include file="common/header" nav='info' /}
<div class="container">
    <div class="left-main">
        <div class="model">
            <div class="title">
                <p class="tit"><i
                        class="iconfont {$index=='录像'?'icon-luxiang':'icon-jijin'}"></i><span><?php echo typename() ?>{$index}</span></p>
            </div>
            {include file="assembly/typeselect"/}
            <dl class="list-back">
                {foreach $list.data as $row}
                <dd>
                    <p class="back-cont">
                        <!-----type:1集锦，2录像  video_type:0足球，1篮球----------------------------------->

                        <a href="/{$row.type=='1'?'jijin':'luxiang'}/{$row.video_type=='0'?'zuqiu':'lanqiu'}/{$param.page}/{$row.short_name_py}/{$row.id}"><span>{$row.date}</span>{$row.title}</a>
                    </p>
                    <p class="back-team">
                        {foreach $row.team as $team}
                        <a>{$team}</a>
                        {/foreach}
                    </p>
                </dd>
                {/foreach}
            </dl>
            <div class="pages">
                <?php
				$cur=$list['current_page'];
				$total=ceil($list['total']/$list['per_page']);
				$start=$total>9&&$cur>5?($total-$cur<5?$total-8:$cur-4):1;
                $end=$total>9&&$cur>5?($cur+5>$total?$total+1:$cur+5):($total>9?10:$total+1);
                ?>
                <a href="{$cur==1?'':'?page='.($cur-1)}"><</a>
                {for start='$start' end='$end'}
                <a href="{$cur==$i?'#':'?page='.$i}">{$i}</a>
                {/for}
                <a href="{$cur==$total?'':'?page='.($cur+1)}">></a>
            </div>
        </div>
    </div>
    <div class="right-main">
        {include file="assembly/zhibo"/}
        <?php if($index=='录像'): ?>
        {include file="assembly/jijin"/}
        <?php else: ?>
        {include file="assembly/luxiang"/}
        <?php endif; ?>
        {include file="assembly/hotkey"/}
    </div>
</div>
{/block}
<!-- /主体 -->
<!-- 脚本 -->
{block name="script"}
<script>

</script>
{/block}
<!-- /脚本 -->