{extend name="common/base"/}
{block name="style"}
{/block}
<!-- 主体 -->
{block name="body"}
{include file="common/header" nav='info' /}
<div class="container">
    <div class="left-main">
        <div class="model">
            <div class="title">
                <p class="tit"><i class="iconfont icon-jijin"></i><span>{$index}</span></p>
            </div>
            <div class="category">
                <a href="{$href}" {if $compName==''} class="cur" {/if}>全部</a>
                    {foreach $short as $s}
                    <a href="{$href}{$s.short_name_py}"  {if $compName==$s.short_name_py } class="cur"  {/if}>{$s.short_name_zh}</a>
                    {/foreach}
            </div>
            <dl class="list-back">

                {foreach $list.data as $row}
                <dd>
                    <p class="back-cont">
                        <!-----type:1集锦，2录像  video_type:0足球，1篮球----------------------------------->
                        {if $row.type=='1'}<!---集锦--->
                            {if $row.video_type=='0'}
                                <a href="/jijin/zuqiu/zuqiu/zuqiu/{$row.id}"><span>{$row.date}</span>{$row.title}</a>
                            {else}
                                <a href="/jijin/lanqiu/lanqiu/lanqiu/{$row.id}"><span>{$row.date}</span>{$row.title}</a>
                            {/if}
                        {else}
                            {if $row.video_type=='0'}
                                <a href="/luxiang/zuqiu/zuqiu/zuqiu/{$row.id}"><span>{$row.date}</span>{$row.title}</a>
                            {else}
                                <a href="/luxiang/lanqiu/lanqiu/lanqiu/{$row.id}"><span>{$row.date}</span>{$row.title}</a>
                            {/if}
                        {/if}
                    </p>
                    <p class="back-team">
                        {foreach $row.team as $team}
                            <a>{$team}</a>
                        {/foreach}
                        <!--<a href="">莱斯特城</a><a href="">利兹联</a>-->
                    </p>
                </dd>


                {/foreach}

                <!--<dd>-->
                    <!--<p class="back-cont">-->
                        <!--<a href=""><span>2023-04-26</span>英超-西尼斯特拉泰山压顶瓦尔迪扳平-->
                            <!--利兹联1-1莱斯特城排名不变</a>-->
                    <!--</p>-->
                    <!--<p class="back-team">-->
                        <!--<a href="">莱斯特城</a><a href="">利兹联</a>-->
                    <!--</p>-->
                <!--</dd>-->
            </dl>
            <style type="text/css">
                .pagination li{
                    float: left;
                    width: 30px;
                }
            </style>
            <div class="pages">
                <?php echo $list['render'] ?>
            </div>
        </div>
    </div>
    <div class="right-main">
        {include file="assembly/zhibo"/}
        {include file="assembly/luxiang"/}
        {include file="assembly/hotkey"/}
    </div>
</div>
{/block}
<!-- /主体 -->
<!-- 脚本 -->
{block name="script"}
<script>

</script>
{/block}
<!-- /脚本 -->