<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" sizes="any" mask="" href="{:get_system_config('web','icon')}">
    {block name="meta"}
    <link rel="mobile-prefetch" href=""/>
    {/block}
    {block name="title"}<title>{:$seo.title}</title>{/block}
    {block name="keywords"}
    <meta name="keywords" content="{:$seo.keywords}"/>
    <meta name="description" content="{:$seo.description}"/>
    {/block}
    <link rel="stylesheet" href="{__CSS__}/base.css">
    <link rel="stylesheet" href="{__CSS__}/newstyle.css">
    <link rel="stylesheet" href="{__CSS__}/icofont/iconfont.css">
    {block name="css"}{/block}
    {block name="style"}
    {/block}
    {block name="js"}
    <script>var webcolor = "#{:get_system_config('web','webcolor')}";</script>
    <script src="{__JS__}/jquery-1.12.4.min.js"></script>
    <script src="{__JS__}/environment.js"></script>
    <script defer src="{__JS__}/layer/layer.js"></script>
    {/block}
</head>
<body>
<!-- 主体 -->
{block name="body"}{/block}
<!-- /主体 -->
<!-- 底部 -->
{block name="footer"}
{include file="common/footer" /}
{/block}
<!-- /底部 -->

<!-- 统计代码 -->
{block name="code"}{/block}
<!-- /统计代码 -->
</body>
<!-- 脚本 -->
{block name="script"}{/block}
<p>
    {:get_system_config('web','code')}
</p>

<!-- /脚本 -->
</html>