<div id="header">
    <div class="right-tool">
        <p class="gotop"><i class="iconfont icon-shang"></i></p>
    </div>
    <div class="head">
        <h1 class="logo" style="-webkit-mask-image: url({:get_system_config('web','logo')});">
            <a href="/">
                <img src="{:get_system_config('web','logo')}" alt="{:get_system_config('web','admin_title')}"
                     title="{:get_system_config('web','admin_title')}">
            </a>
        </h1>
        <nav class="nav">
            <ul>
                {foreach $COMMON_NAV as $item}
                    <li><a href="{:url($item.src . $item.param)}">{$item.title}<i class="iconfont icon-xia"></i></a>
                    <?php if(isset($item['list'])&&is_array($item['list'])&&count($item['list'])>0): ?>
                    <div class="sub">
                        {foreach $item.list as $t}
                        <a href="{:url($t.src . $t.param)}">{$t.title}</a>
                        {/foreach}
                    </div>
                    <?php endif; ?>
                    </li>
                {/foreach}
            </ul>
        </nav>
        <div class="search">
            <form action="//www.runoob.com/" target="_blank" onsubmit="return isEmpty()">
                <input id="keyword" name="s" autocomplete="off">
                <button type="submit"><i class="iconfont icon-sousuo"></i></button>
            </form>
        </div>
    </div>
</div>
<script>
    let curlink = window.location.pathname;
    $(".nav a").each(function (i, item) {
        let thelink = $(item).attr('href') ? $(item).attr('href') : false;
        if (thelink && curlink.indexOf(thelink) > -1) $(item).parents('li').addClass('cur').siblings().removeClass(
            'cur');
    })

    function isEmpty() {
        let txt = $.trim($("#keyword").val());
        if (txt != "") {
            $("#keyword").val(txt);
            return true;
        } else {
            return false;
        }
    }
</script>