{extend name="common/base"/}
<!-- 主体 -->
{block name="body"}
<form class="layui-form p-4">
	<h3 class="pb-3">编辑足球赛季列表</h3>
	<table class="layui-table layui-table-form">
		<tr><td class="layui-td-gray-2">赛事id<font>*</font></td>
			<td><input type="text" name="competition_id"  lay-verify="required" lay-reqText="请完善赛事id" value="{$detail.competition_id}" autocomplete="off" placeholder="请输入赛事id" class="layui-input"></td><td class="layui-td-gray-2">赛事年份<font>*</font></td>
			<td><input type="text" name="year"  lay-verify="required" lay-reqText="请完善赛事年份" value="{$detail.year}" autocomplete="off" placeholder="请输入赛事年份" class="layui-input"></td><td class="layui-td-gray-2">是否最新赛季<font>*</font></td>
			<td>
				<input type="radio" name="is_current" value="0" title="选项一" {eq name="$detail.is_current" value="1"} checked{/eq}>
				<input type="radio" name="is_current" value="1" title="选项二" {eq name="$detail.is_current" value="2"} checked{/eq}>
			</td>
		</tr>
				<tr><td class="layui-td-gray-2">是否有球员统计<font>*</font></td>
			<td>
				<select name="has_player_stats"  lay-verify="required" lay-reqText="请完善是否有球员统计">
					<option value="">请选择</option>
					<option value="1" {eq name="$detail.has_player_stats" value="1"} selected{/eq}>选项一</option>
					<option value="2" {eq name="$detail.has_player_stats" value="2"} selected{/eq}>选项二</option>
				</select>
			</td><td class="layui-td-gray-2">是否有球队统计<font>*</font></td>
			<td><input type="text" name="has_team_stats"  lay-verify="required" lay-reqText="请完善是否有球队统计" value="{$detail.has_team_stats}" autocomplete="off" placeholder="请输入是否有球队统计" class="layui-input"></td><td class="layui-td-gray-2">是否有积分榜<font>*</font></td>
			<td><input type="text" name="has_table"  lay-verify="required" lay-reqText="请完善是否有积分榜" value="{$detail.has_table}" autocomplete="off" placeholder="请输入是否有积分榜" class="layui-input"></td>
		</tr>
				<tr><td class="layui-td-gray-2">开始时间<font>*</font></td>
			<td><input type="text" name="start_time"  lay-verify="required" lay-reqText="请完善开始时间" value="{$detail.start_time|time_format=###,'Y-m-d'}" readonly readonly id="laydate_start_time" autocomplete="off" placeholder="请选择" class="layui-input"></td><td class="layui-td-gray-2">结束时间<font>*</font></td>
			<td><input type="text" name="end_time"  lay-verify="required" lay-reqText="请完善结束时间" value="{$detail.end_time|time_format=###,'Y-m-d'}" readonly readonly id="laydate_end_time" autocomplete="off" placeholder="请选择" class="layui-input"></td><td class="layui-td-gray-2">更新时间<font>*</font></td>
			<td><input type="text" name="updated_at"  lay-verify="required" lay-reqText="请完善更新时间" value="{$detail.updated_at|time_format=###,'Y-m-d'}" readonly readonly id="laydate_updated_at" autocomplete="off" placeholder="请选择" class="layui-input"></td>
		</tr>
				
	</table>
	<div class="py-3">
		<input type="hidden" name="id" value="{$detail.id}"/>
		<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="webform">立即提交</button>
		<button type="reset" class="layui-btn layui-btn-primary">重置</button>
	</div>
</form>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	var moduleInit = ['tool'];

	function gouguInit() {
		var form = layui.form, tool = layui.tool;
		//日期选择
		layui.laydate.render({
			elem: '#laydate_start_time' //指定元素
		});//日期选择
		layui.laydate.render({
			elem: '#laydate_end_time' //指定元素
		});//日期选择
		layui.laydate.render({
			elem: '#laydate_updated_at' //指定元素
		});
		
				
		//监听提交
		form.on('submit(webform)', function (data) {
			
			let callback = function (e) {
				layer.msg(e.msg);
				if (e.code == 0) {
					tool.sideClose(1000);
				}
			}
			tool.post("/admin/football_season/edit", data.field, callback);
			return false;
		});
	}
</script>
{/block}
<!-- /脚本 -->