{extend name="common/base"/}
{block name="style"}
{/block}
<!-- 主体 -->
{block name="body"}
{include file="common/header" nav='info' /}
<div class="container">
    <div class="left-main">
        <div class="model">
            <div class="title">
                <p class="tit"><i class="iconfont icon-zixun"></i><span>资讯</span></p>
            </div>
            <div class="category">
                <a href="" class="cur">全部</a>
                <a href="">足球资讯</a>
                <a href="">篮球资讯</a>
            </div>
            <dl class="news-list">
                <dd>
                    <a href="">
                        <img src="https://www.i999.com.cn/uploads/litimg/2023-04-26/39171d1b1bd18afef7bd5836f273f62b.jpg">
                    </a>
                    <div>
                        <a href="new.html" target="_blank">
                            <h4 title="">梅州外援杜加利奇：本场输球很失望 要抬起头来拿到更多分数</h4>
                            <p class="desc"> 4月25日讯 梅州客家队在中超联赛第三轮1-2输给武汉三镇，梅州客家队外援杜加利奇赛后进了一球。 评论这场比赛 没有什么可评论的，很遗憾输了，就这样。 前三轮对手强，如何调整球</p>
                        </a>
                        <p class="other">
									<span>
										<i><a href="" target="_blank">西甲</a></i>
									</span>
                            <span>
										<i>浏览：0</i>
										<i>时间：2023-04-14 16:14</i>
									</span>
                        </p>
                    </div>
                </dd>
                <dd>
                    <a href="">
                        <img src="https://www.i999.com.cn/uploads/litimg/2023-04-26/39171d1b1bd18afef7bd5836f273f62b.jpg">
                    </a>
                    <div>
                        <a href="" target="_blank">
                            <h4 title="">梅州外援杜加利奇：本场输球很失望 要抬起头来拿到更多分数</h4>
                            <p class="desc"> 4月25日讯 梅州客家队在中超联赛第三轮1-2输给武汉三镇，梅州客家队外援杜加利奇赛后进了一球。 评论这场比赛 没有什么可评论的，很遗憾输了，就这样。 前三轮对手强，如何调整球</p>
                        </a>
                        <p class="other">
									<span>
										<i><a href="" target="_blank">西甲</a></i>
									</span>
                            <span>
										<i>浏览：0</i>
										<i>时间：2023-04-14 16:14</i>
									</span>
                        </p>
                    </div>
                </dd>
                <dd>
                    <a href="">
                        <img src="https://www.i999.com.cn/uploads/litimg/2023-04-26/39171d1b1bd18afef7bd5836f273f62b.jpg">
                    </a>
                    <div>
                        <a href="" target="_blank">
                            <h4 title="">梅州外援杜加利奇：本场输球很失望 要抬起头来拿到更多分数</h4>
                            <p class="desc"> 4月25日讯 梅州客家队在中超联赛第三轮1-2输给武汉三镇，梅州客家队外援杜加利奇赛后进了一球。 评论这场比赛 没有什么可评论的，很遗憾输了，就这样。 前三轮对手强，如何调整球</p>
                        </a>
                        <p class="other">
									<span>
										<i><a href="" target="_blank">西甲</a></i>
									</span>
                            <span>
										<i>浏览：0</i>
										<i>时间：2023-04-14 16:14</i>
									</span>
                        </p>
                    </div>
                </dd>
                <dd>
                    <a href="">
                        <img src="https://www.i999.com.cn/uploads/litimg/2023-04-26/39171d1b1bd18afef7bd5836f273f62b.jpg">
                    </a>
                    <div>
                        <a href="" target="_blank">
                            <h4 title="">梅州外援杜加利奇：本场输球很失望 要抬起头来拿到更多分数</h4>
                            <p class="desc"> 4月25日讯 梅州客家队在中超联赛第三轮1-2输给武汉三镇，梅州客家队外援杜加利奇赛后进了一球。 评论这场比赛 没有什么可评论的，很遗憾输了，就这样。 前三轮对手强，如何调整球</p>
                        </a>
                        <p class="other">
									<span>
										<i><a href="" target="_blank">西甲</a></i>
									</span>
                            <span>
										<i>浏览：0</i>
										<i>时间：2023-04-14 16:14</i>
									</span>
                        </p>
                    </div>
                </dd>
                <dd>
                    <a href="">
                        <img src="https://www.i999.com.cn/uploads/litimg/2023-04-26/39171d1b1bd18afef7bd5836f273f62b.jpg">
                    </a>
                    <div>
                        <a href="" target="_blank">
                            <h4 title="">梅州外援杜加利奇：本场输球很失望 要抬起头来拿到更多分数</h4>
                            <p class="desc"> 4月25日讯 梅州客家队在中超联赛第三轮1-2输给武汉三镇，梅州客家队外援杜加利奇赛后进了一球。 评论这场比赛 没有什么可评论的，很遗憾输了，就这样。 前三轮对手强，如何调整球</p>
                        </a>
                        <p class="other">
									<span>
										<i><a href="" target="_blank">西甲</a></i>
									</span>
                            <span>
										<i>浏览：0</i>
										<i>时间：2023-04-14 16:14</i>
									</span>
                        </p>
                    </div>
                </dd>
                <dd>
                    <a href="">
                        <img src="https://www.i999.com.cn/uploads/litimg/2023-04-26/39171d1b1bd18afef7bd5836f273f62b.jpg">
                    </a>
                    <div>
                        <a href="" target="_blank">
                            <h4 title="">梅州外援杜加利奇：本场输球很失望 要抬起头来拿到更多分数</h4>
                            <p class="desc"> 4月25日讯 梅州客家队在中超联赛第三轮1-2输给武汉三镇，梅州客家队外援杜加利奇赛后进了一球。 评论这场比赛 没有什么可评论的，很遗憾输了，就这样。 前三轮对手强，如何调整球</p>
                        </a>
                        <p class="other">
									<span>
										<i><a href="" target="_blank">西甲</a></i>
									</span>
                            <span>
										<i>浏览：0</i>
										<i>时间：2023-04-14 16:14</i>
									</span>
                        </p>
                    </div>
                </dd>
                <dd>
                    <a href="">
                        <img src="https://www.i999.com.cn/uploads/litimg/2023-04-26/39171d1b1bd18afef7bd5836f273f62b.jpg">
                    </a>
                    <div>
                        <a href="" target="_blank">
                            <h4 title="">梅州外援杜加利奇：本场输球很失望 要抬起头来拿到更多分数</h4>
                            <p class="desc"> 4月25日讯 梅州客家队在中超联赛第三轮1-2输给武汉三镇，梅州客家队外援杜加利奇赛后进了一球。 评论这场比赛 没有什么可评论的，很遗憾输了，就这样。 前三轮对手强，如何调整球</p>
                        </a>
                        <p class="other">
									<span>
										<i><a href="" target="_blank">西甲</a></i>
									</span>
                            <span>
										<i>浏览：0</i>
										<i>时间：2023-04-14 16:14</i>
									</span>
                        </p>
                    </div>
                </dd>
                <dd>
                    <a href="">
                        <img src="https://www.i999.com.cn/uploads/litimg/2023-04-26/39171d1b1bd18afef7bd5836f273f62b.jpg">
                    </a>
                    <div>
                        <a href="" target="_blank">
                            <h4 title="">梅州外援杜加利奇：本场输球很失望 要抬起头来拿到更多分数</h4>
                            <p class="desc"> 4月25日讯 梅州客家队在中超联赛第三轮1-2输给武汉三镇，梅州客家队外援杜加利奇赛后进了一球。 评论这场比赛 没有什么可评论的，很遗憾输了，就这样。 前三轮对手强，如何调整球</p>
                        </a>
                        <p class="other">
									<span>
										<i><a href="" target="_blank">西甲</a></i>
									</span>
                            <span>
										<i>浏览：0</i>
										<i>时间：2023-04-14 16:14</i>
									</span>
                        </p>
                    </div>
                </dd>
                <dd>
                    <a href="">
                        <img src="https://www.i999.com.cn/uploads/litimg/2023-04-26/39171d1b1bd18afef7bd5836f273f62b.jpg">
                    </a>
                    <div>
                        <a href="" target="_blank">
                            <h4 title="">梅州外援杜加利奇：本场输球很失望 要抬起头来拿到更多分数</h4>
                            <p class="desc"> 4月25日讯 梅州客家队在中超联赛第三轮1-2输给武汉三镇，梅州客家队外援杜加利奇赛后进了一球。 评论这场比赛 没有什么可评论的，很遗憾输了，就这样。 前三轮对手强，如何调整球</p>
                        </a>
                        <p class="other">
									<span>
										<i><a href="" target="_blank">西甲</a></i>
									</span>
                            <span>
										<i>浏览：0</i>
										<i>时间：2023-04-14 16:14</i>
									</span>
                        </p>
                    </div>
                </dd>
                <dd>
                    <a href="">
                        <img src="https://www.i999.com.cn/uploads/litimg/2023-04-26/39171d1b1bd18afef7bd5836f273f62b.jpg">
                    </a>
                    <div>
                        <a href="" target="_blank">
                            <h4 title="">梅州外援杜加利奇：本场输球很失望 要抬起头来拿到更多分数</h4>
                            <p class="desc"> 4月25日讯 梅州客家队在中超联赛第三轮1-2输给武汉三镇，梅州客家队外援杜加利奇赛后进了一球。 评论这场比赛 没有什么可评论的，很遗憾输了，就这样。 前三轮对手强，如何调整球</p>
                        </a>
                        <p class="other">
									<span>
										<i><a href="" target="_blank">西甲</a></i>
									</span>
                            <span>
										<i>浏览：0</i>
										<i>时间：2023-04-14 16:14</i>
									</span>
                        </p>
                    </div>
                </dd>
            </dl>
            <div class="pages">
                <a href="">&lt;</a>
                <a href="#">1</a>
                <a href="/">2</a>
                <a href="/">3</a>
                <a href="/">4</a>
                <a href="/">5</a>
                <a href="/">6</a>
                <a href="/">7</a>
                <a href="/">8</a>
                <a href="/">9</a>
                <a href="/">&gt;</a>
            </div>
        </div>
    </div>
    <div class="right-main">
        {include file="assembly/zhibo"/}
        {include file="assembly/luxiang"/}
        {include file="assembly/jijin"/}
        {include file="assembly/hotkey"/}
    </div>
</div>
{/block}
<!-- /主体 -->
<!-- 脚本 -->
{block name="script"}
<script>

</script>
{/block}
<!-- /脚本 -->