{extend name="common/base"/}
{block name="style"}
{/block}
<!-- 主体 -->
{block name="body"}
{include file="common/header" nav='info' /}
<div class="container">
    <div class="left-main">
        <div class="model">
            <div class="title">
                <p class="tit"><i class="iconfont icon-zixun"></i><span>资讯</span></p>
            </div>
            <div class="category">
                <a href="" class="cur">全部</a>
                <a href="">足球资讯</a>
                <a href="">篮球资讯</a>
            </div>
            <dl class="news-list">
                {foreach $list.data as $l}
                <dd>

                        <a href="/zixun/{$l.cate_id=='1'?'zuqiu':'lanqiu'}/{$param.page}/{$l.short_name_py}/{$l.id}"><img src="{$l.origin_url}">
                    </a>
                    <div>


                        <a href="/zixun/{$l.cate_id=='1'?'zuqiu':'lanqiu'}/{$param.page}/{$l.short_name_py}/{$l.id}">


                            <h4 title="">{$l.title}</h4>
                            <p class="desc"> {$l.desc}</p>
                        </a>
                        <p class="other">
									<span>
                                        {if !empty($l['short_name_zh'])}
										<i>
                                            <a>{$l.short_name_zh}</a>
                                        </i>
                                        {/if}
									</span>
                            <span>
										<i>浏览：{$l.read}</i>
										<i>时间：{$l.create_time}</i>
									</span>
                        </p>
                    </div>
                </dd>
                {/foreach}
            </dl>
            <div class="pages">
                <?php
				$cur=$list['current_page'];
				$total=ceil($list['total']/$list['per_page']);
				$start=$total>9&&$cur>5?($total-$cur<5?$total-8:$cur-4):1;
                $end=$total>9&&$cur>5?($cur+5>$total?$total+1:$cur+5):($total>9?10:$total+1);
                ?>
                <a href="{$cur==1?'':'?page='.($cur-1)}"><</a>
                {for start='$start' end='$end'}
                <a href="{$cur==$i?'#':'?page='.$i}">{$i}</a>
                {/for}
                <a href="{$cur==$total?'':'?page='.($cur+1)}">></a>
            </div>
        </div>
    </div>
    <div class="right-main">
        {include file="assembly/zhibo"/}
        {include file="assembly/luxiang"/}
        {include file="assembly/jijin"/}
        {include file="assembly/hotkey"/}
    </div>
</div>
{/block}
<!-- /主体 -->
<!-- 脚本 -->
{block name="script"}
<script>

</script>
{/block}
<!-- /脚本 -->