{extend name="common/base"/}
{block name="style"}
<style type="text/css">
.editormd-code-toolbar select {display: inline-block}
.editormd li {list-style: inherit;}
</style>
{/block}
<!-- 主体 -->
{block name="body"}
<form class="layui-form p-4">
	<h3 class="pb-3">新建标签</h3>
	<table class="layui-table layui-table-form">
		<tr>
			<td class="layui-td-gray">标签名称<font>*</font></td>
			<td colspan="7"><input type="text" name="name" lay-verify="required" lay-reqText="请输入标签名称"
					autocomplete="off" placeholder="请输入标签名称" class="layui-input"></td>
		</tr>


		<tr>
			<td class="layui-td-gray">链接<font>*</font></td>
			<td colspan="7"><input type="text" name="href" lay-verify="required" lay-reqText="请输入标签链接"
								   autocomplete="off" placeholder="请输入标签链接" class="layui-input"></td>
		</tr>
		<tr>
			<td class="layui-td-gray">是否可用</td>
			<td colspan="3">
				<input type="radio" name="status" value="1" title="可用" checked>
				<input type="radio" name="status" value="0" title="禁用">
			</td>
			<td class="layui-td-gray">新开窗口</td>
			<td colspan="3">
				<input type="radio" name="target" value="1" title="是" checked>
				<input type="radio" name="target" value="0" title="否">
			</td>
		</tr>
	</table>
	<div class="pt-3">
		<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="webform">立即提交</button>
		<button type="reset" class="layui-btn layui-btn-primary">重置</button>
	</div>
</form>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	const editorType = '{$editor}';
	var moduleInit;
	if (editorType == 1) {
		moduleInit = ['tool', 'tagpicker', 'tinymce'];
	}
	else {
		moduleInit = ['tool', 'tagpicker', 'editormd'];
	}

	function gouguInit() {
		var form = layui.form, tool = layui.tool,tagspicker = layui.tagpicker;

		//日期选择
		layui.laydate.render({
			type:'datetime',
			elem: '#laydate_jijin_time' //指定元素
		});

		var tags = new tagspicker({
			'url': '/admin/api/get_keyword_cate',
			'target': 'keyword_name',
			'tag_ids': 'keyword_id',
			'tag_tags': 'keyword_name',
			'height': 500,
			'isDiy': 1
		});
		
		//上传缩略图
		var upload_thumb = layui.upload.render({
			elem: '#upload_btn_thumb',
			url: '/admin/api/upload',
			done: function (res) {
				//如果上传失败
				if (res.code == 1) {
					return layer.msg('上传失败');
				}
				//上传成功
				$('#upload_box_thumb input').attr('value', res.data.id);
				$('#upload_box_thumb img').attr('src', res.data.filepath);
			}
		});

		if (editorType == 1) {
			var editor = layui.tinymce;
			var edit = editor.render({
				selector: "#container_content",
				height: 500
			});
			//监听提交
			form.on('submit(webform)', function (data) {
				let callback = function (e) {
					layer.msg(e.msg);
					if (e.code == 0) {
						tool.tabRefresh(71);
						tool.sideClose(1000);
					}
				}
				tool.post("/admin/label/add", data.field, callback);
				return false;
			});
		}
		else {
			var editor = layui.editormd;
			var edit = editor.render('docContent', {
				markdown: document.getElementById('mdContent').value
			});
			//监听提交
			form.on('submit(webform)', function (data) {
				let callback = function (e) {
					layer.msg(e.msg);
					if (e.code == 0) {
						tool.tabRefresh(71);
						tool.sideClose(1000);
					}
				}
				tool.post("/admin/label/add", data.field, callback);
				return false;
			});
		}
	}
</script>
{/block}
<!-- /脚本 -->