{extend name="common/base"/}
{block name="style"}
{/block}
<!-- 主体 -->
{block name="body"}
{include file="common/header" nav='info' /}
<?php $type=hotlive('live','直播'); ?>
<div class="subnav">
    <ul>
        {volist name="type" id="item" length='10'}
        <li><a href="{$item.src}">{$item.title}</a></li>
        {/volist}
    </ul>
</div>
<div class="container">
    <div class="left-main">
        <div class="main-model collect">
            <div class="title">
                <p class="name"><i class="iconfont icon-zuqiu"></i>足球</p>
                <div class="tool"><p><a class="cur">录像</a><a>集锦</a><a>资讯</a></p></div>
            </div>
            <div class="list">
                <ul class="cur">
                    <?php  $zuqiuLx = getLuxiangJijin(2,0);  ?>
                    {foreach $zuqiuLx.data as $row}
                    <li><a href="/luxiang-zuqiu/{$row.short_name_py}/{$row.id}.html"
                           target="_blank">{$row.title}</a><span>{$row.created_at}</span></li>
                    {/foreach}
                </ul>
                <ul>
                    <?php  $zuqiuJj = getLuxiangJijin(1,0);  ?>
                    {foreach $zuqiuJj.data as $row}
                    <li><a href="/jijin-zuqiu/{$row.short_name_py}/{$row.id}.html"
                           target="_blank">{$row.title}</a><span>{$row.created_at}</span></li>
                    {/foreach}
                </ul>
                <ul>
                    <?php  $zuqiuZx = getZiXun(1);  ?>
                    {foreach $zuqiuZx as $row}
                    <li><a href="/zixun-zuqiu/{$row.id}.html"
                           target="_blank">{$row.title}</a><span>{$row.create_time}</span></li>
                    {/foreach}
                </ul>
            </div>
        </div>
        <div class="main-model collect">
            <div class="title">
                <p class="name"><i class="iconfont icon-lanqiu"></i>篮球</p>
                <div class="tool"><p><a class="cur">录像</a><a>集锦</a><a>资讯</a></p></div>
            </div>
            <div class="list">
                <ul class="cur">
                    <?php  $zuqiuLx = getLuxiangJijin(2,1);  ?>
                    {foreach $zuqiuLx.data as $row}
                    <li><a href="/luxiang-lanqiu/{$row.short_name_py}/{$row.id}.html"
                           target="_blank">{$row.title}</a><span>{$row.created_at}</span></li>
                    {/foreach}
                </ul>
                <ul>
                    <?php  $zuqiuJj = getLuxiangJijin(1,1);  ?>
                    {foreach $zuqiuJj.data as $row}
                    <li><a href="/jijin-lanqiu/{$row.short_name_py}/{$row.id}.html"
                           target="_blank">{$row.title}</a><span>{$row.created_at}</span></li>
                    {/foreach}
                </ul>
                <ul>
                    <?php  $zuqiuZx = getZiXun(2);  ?>
                    {foreach $zuqiuZx as $row}
                    <li><a href="/zixun-lanqiu/{$row.id}.html"
                           target="_blank">{$row.title}</a><span>{$row.create_time}</span></li>
                    {/foreach}
                </ul>
            </div>
        </div>
        <div class="main-model live-lists">
            <div class="title">
                <p class="name"><i class="iconfont icon-zhibo"></i>热门直播</p>
                <div class="tool">
                    <p><a>全部</a><a>直播中</a><a>未开赛</a><a>已完结</a></p>
                    <div class="right-btn"><span>筛选</span>
                        <div class="moresel">
                            <ul>
                                <li>
                                    <?php $zuqiu=getFootballHotComp(); ?>
                                    足球：{foreach $zuqiu as $item}<a target="_blank"
                                                                     href="/live-{$item.sphere_type}/{$item.short_name_py}">{$item.short_name_zh}</a>{/foreach}
                                </li>
                                <li>
                                    <?php $lanqiu=getBasketballHotComp(); ?>
                                    篮球：{foreach $lanqiu as $item}<a target="_blank"
                                                                      href="/live-{$item.sphere_type}/{$item.short_name_py}">{$item.short_name_zh}</a>{/foreach}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="play-list nodata">
                {foreach $data as $key=>$item}
                <p class="play-date">{$key}</p>
                <?php $formatdata=formatList($item);?>
                {foreach $formatdata as $key=>$category}
                <dl class="list-cont sp">
                    {foreach $category as $i=>$team}
                    <dd class="<?php echo getzt($team['status_id'],2,$team['sphere_type']) ?>">
                        <div class="item-box">
                            <div class="left">
                                <p class="time">{$team.match_time|date='H:i'}</p>
                                <p class="name"><a href="/live-{$team.sphere_type}/{$team.comp_py}" target="_blank">{$team.competition_text}</a></p>
                            </div>
                            <div class="center">
                                <a class="left-name" href="/qiudui-{$team.sphere_type}/{$team.home_team_id}" target="_blank">
                                    <p>{$team.home_team_text}</p>
                                    <img class="" src="{$team.home_team_logo}" alt="">
                                    <span class="bf">{$team.sphere_type=='zuqiu'?$team.home_scores[0]:getScore($team.home_scores)}</span>
                                </a>
                                <span class="zt"><?php echo getzt($team['status_id'],3,$team['sphere_type']) ?></span>
                                <a class="right-name" href="/qiudui-{$team.sphere_type}/{$team.away_team_id}" target="_blank">
                                    <span class="bf">{$team.sphere_type=='zuqiu'?$team.away_scores[0]:getScore($team.away_scores)}</span>
                                    <img class="" src="{$team.away_team_logo}" alt="">
                                    <p>{$team.away_team_text}</p>
                                </a>
                            </div>
                            <div class="right">
                                <a href="/live-{$team.sphere_type}/{$team.comp_py}/{$team.id}.html" target="_blank"><i class="iconfont <?php echo getzt($team['status_id'],0,$team['sphere_type']) ?>"></i><span><?php echo getzt($team['status_id'],1,$team['sphere_type']) ?></span></a>
                            </div>
                        </div>
                    </dd>
                    {/foreach}
                </dl>
                {/foreach}
                {/foreach}
            </div>
        </div>
    </div>
    <div class="right-main">
        {include file="assembly/saishi"/}
        {include file="assembly/team"/}
        {include file="assembly/hotkey"/}
    </div>
</div>
{/block}
<!-- /主体 -->
<!-- 脚本 -->
{block name="script"}
<script>
    $(".collect .tool a").click(function () {
        $(this).addClass('cur').siblings().removeClass('cur');
        let parents = $(this).parents('.collect');
        $(parents).find("ul").removeClass('cur').eq($(this).index()).addClass('cur')
    })
    $(".live-lists .tool a").click(function () {
        $(this).addClass('cur').siblings().removeClass();
        switch ($(this).index()) {
            case 0:
                $(".list-cont").removeClass('cur')
                if ($(".list-cont").eq(1).find('.nodata').length == 0) {
                    $(".list-cont").eq(1).addClass('cur')
                }
                if ($(".list-cont").eq(2).find('.nodata').length == 0) {
                    $(".list-cont").eq(2).addClass('cur')
                }
                break;
            case 1:
                $(".list-cont").removeClass('cur').eq(1).addClass('cur')
                break;
            case 2:
                $(".list-cont").removeClass('cur').eq(2).addClass('cur')
                break;
            case 3:
                $(".list-cont").removeClass('cur').eq(0).addClass('cur')
                break;
        }
    })

    $(".list-cont").each(function (i, item) {
        if ($(item).children().length == 0) {
            $(item).append(`<p class='nodata sp'>暂无相关数据</p>`)
        }
        $(".live-lists .tool a").eq(0).trigger('click')
    })
</script>
{/block}
<!-- /脚本 -->