{extend name="common/base"/}
{block name="style"}
{/block}
<!-- 主体 -->
{block name="body"}
{include file="common/header" nav='info' /}
<?php $type=hotlive('live','直播'); ?>
<div class="subnav">
    <ul>
        {foreach $type as $key=>$item}
        <li><a href="{$item.src}">{$item.title}</a></li>
        {/foreach}
    </ul>
</div>
<div class="container">
    <div class="left-main">
        <div class="model">
            <div class="title">
                <div class="tit"><i class="iconfont icon-zhibo"></i><span>最近直播</span></div>
                <div class="right-btn"><i class="iconfont icon-shaixuan"></i><span>筛选</span>
                    <div class="moresel">
                        <ul>
                            <li>
                                足球：<a href="">欧冠</a><a href="">西甲</a><a href="">NBA</a><a href="">CBA</a><a
                                    href="">世界杯</a><a href="">欧冠</a><a href="">西甲</a><a href="">NBA</a><a
                                    href="">CBA</a><a href="">世界杯</a><a href="">欧冠</a><a href="">西甲</a><a
                                    href="">NBA</a><a href="">CBA</a><a href="">世界杯</a><a href="">欧冠</a><a
                                    href="">西甲</a><a href="">NBA</a><a href="">CBA</a><a href="">世界杯</a>
                            </li>
                            <li>篮球：<a href="">欧冠</a><a href="">西甲</a><a href="">NBA</a><a href="">CBA</a><a
                                    href="">世界杯</a><a href="">欧冠</a><a href="">西甲</a><a href="">NBA</a><a
                                    href="">CBA</a><a href="">世界杯</a><a href="">欧冠</a><a href="">西甲</a><a
                                    href="">NBA</a><a href="">CBA</a><a href="">世界杯</a><a href="">欧冠</a><a
                                    href="">西甲</a><a href="">NBA</a><a href="">CBA</a><a href="">世界杯</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="play-list">
                <p class="play-date">2023-04-26</p>
                <dl class="list-cont">
                    <dd>
                        <p class="time"><i class="iconfont icon-zuqiu"></i>15:00</p>
                        <p class="type"><a href="">中女超</a></p>
                        <p class="team"><a href="">永川茶山竹海女足</a><img class=""
                                                                            src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""></p>
                        <p class="vs">VS</p>
                        <p class="team"><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png"
                                             alt=""><a href="">杭州银行女足</a></p>
                        <a class="right-btn" href=""><i class="iconfont icon-fenxi"></i><span>赛前分析</span></a>
                    </dd>
                    <dd>
                        <p class="time"><i class="iconfont icon-zuqiu"></i>15:00</p>
                        <p class="type"><a href="">中女超</a></p>
                        <p class="team"><a href="">永川茶山竹海女足</a><img class=""
                                                                            src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""></p>
                        <p class="vs">VS</p>
                        <p class="team"><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png"
                                             alt=""><a href="">杭州银行女足</a></p>
                        <a class="right-btn" href=""><i class="iconfont icon-bofang"></i><span>锦集/录像</span></a>
                    </dd>
                    <dd>
                        <p class="time"><i class="iconfont icon-zuqiu"></i>15:00</p>
                        <p class="type"><a href="">中女超</a></p>
                        <p class="team"><a href="">永川茶山竹海女足</a><img class=""
                                                                            src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""></p>
                        <p class="vs">VS</p>
                        <p class="team"><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png"
                                             alt=""><a href="">杭州银行女足</a></p>
                        <a class="right-btn" href=""><i class="iconfont icon-bofang"></i><span>锦集/录像</span></a>
                    </dd>
                    <dd>
                        <p class="time"><i class="iconfont icon-zuqiu"></i>15:00</p>
                        <p class="type"><a href="">中女超</a></p>
                        <p class="team"><a href="">永川茶山竹海女足</a><img class=""
                                                                            src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""></p>
                        <p class="vs">VS</p>
                        <p class="team"><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png"
                                             alt=""><a href="">杭州银行女足</a></p>
                        <a class="right-btn" href=""><i class="iconfont icon-zhibo"></i><span>直播中...</span></a>
                    </dd>
                </dl>
                <p class="play-date">2023-04-27</p>
                <dl class="list-cont">
                    <dd>
                        <p class="time"><i class="iconfont icon-zuqiu"></i>15:00</p>
                        <p class="type"><a href="">中女超</a></p>
                        <p class="team"><a href="">永川茶山竹海女足</a><img class=""
                                                                            src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""></p>
                        <p class="vs">VS</p>
                        <p class="team"><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png"
                                             alt=""><a href="">杭州银行女足</a></p>
                        <a class="right-btn" href=""><i class="iconfont icon-fenxi"></i><span>赛前分析</span></a>
                    </dd>
                    <dd>
                        <p class="time"><i class="iconfont icon-zuqiu"></i>15:00</p>
                        <p class="type"><a href="">中女超</a></p>
                        <p class="team"><a href="">永川茶山竹海女足</a><img class=""
                                                                            src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""></p>
                        <p class="vs">VS</p>
                        <p class="team"><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png"
                                             alt=""><a href="">杭州银行女足</a></p>
                        <a class="right-btn" href=""><i class="iconfont icon-bofang"></i><span>锦集/录像</span></a>
                    </dd>
                    <dd>
                        <p class="time"><i class="iconfont icon-zuqiu"></i>15:00</p>
                        <p class="type"><a href="">中女超</a></p>
                        <p class="team"><a href="">永川茶山竹海女足</a><img class=""
                                                                            src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""></p>
                        <p class="vs">VS</p>
                        <p class="team"><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png"
                                             alt=""><a href="">杭州银行女足</a></p>
                        <a class="right-btn" href=""><i class="iconfont icon-bofang"></i><span>锦集/录像</span></a>
                    </dd>
                    <dd>
                        <p class="time"><i class="iconfont icon-zuqiu"></i>15:00</p>
                        <p class="type"><a href="">中女超</a></p>
                        <p class="team"><a href="">永川茶山竹海女足</a><img class=""
                                                                            src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""></p>
                        <p class="vs">VS</p>
                        <p class="team"><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png"
                                             alt=""><a href="">杭州银行女足</a></p>
                        <a class="right-btn" href=""><i class="iconfont icon-zhibo"></i><span>直播中...</span></a>
                    </dd>
                </dl>
                <p class="play-date">2023-04-28</p>
                <dl class="list-cont">
                    <dd>
                        <p class="time"><i class="iconfont icon-zuqiu"></i>15:00</p>
                        <p class="type"><a href="">中女超</a></p>
                        <p class="team"><a href="">永川茶山竹海女足</a><img class=""
                                                                            src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""></p>
                        <p class="vs">VS</p>
                        <p class="team"><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png"
                                             alt=""><a href="">杭州银行女足</a></p>
                        <a class="right-btn" href=""><i class="iconfont icon-fenxi"></i><span>赛前分析</span></a>
                    </dd>
                    <dd>
                        <p class="time"><i class="iconfont icon-zuqiu"></i>15:00</p>
                        <p class="type"><a href="">中女超</a></p>
                        <p class="team"><a href="">永川茶山竹海女足</a><img class=""
                                                                            src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""></p>
                        <p class="vs">VS</p>
                        <p class="team"><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png"
                                             alt=""><a href="">杭州银行女足</a></p>
                        <a class="right-btn" href=""><i class="iconfont icon-bofang"></i><span>锦集/录像</span></a>
                    </dd>
                    <dd>
                        <p class="time"><i class="iconfont icon-zuqiu"></i>15:00</p>
                        <p class="type"><a href="">中女超</a></p>
                        <p class="team"><a href="">永川茶山竹海女足</a><img class=""
                                                                            src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""></p>
                        <p class="vs">VS</p>
                        <p class="team"><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png"
                                             alt=""><a href="">杭州银行女足</a></p>
                        <a class="right-btn" href=""><i class="iconfont icon-bofang"></i><span>锦集/录像</span></a>
                    </dd>
                    <dd>
                        <p class="time"><i class="iconfont icon-zuqiu"></i>15:00</p>
                        <p class="type"><a href="">中女超</a></p>
                        <p class="team"><a href="">永川茶山竹海女足</a><img class=""
                                                                            src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""></p>
                        <p class="vs">VS</p>
                        <p class="team"><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png"
                                             alt=""><a href="">杭州银行女足</a></p>
                        <a class="right-btn" href=""><i class="iconfont icon-zhibo"></i><span>直播中...</span></a>
                    </dd>
                </dl>
                <p class="play-date">2023-04-29</p>
                <dl class="list-cont">
                    <dd>
                        <p class="time"><i class="iconfont icon-zuqiu"></i>15:00</p>
                        <p class="type"><a href="">中女超</a></p>
                        <p class="team"><a href="">永川茶山竹海女足</a><img class=""
                                                                            src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""></p>
                        <p class="vs">VS</p>
                        <p class="team"><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png"
                                             alt=""><a href="">杭州银行女足</a></p>
                        <a class="right-btn" href=""><i class="iconfont icon-fenxi"></i><span>赛前分析</span></a>
                    </dd>
                    <dd>
                        <p class="time"><i class="iconfont icon-zuqiu"></i>15:00</p>
                        <p class="type"><a href="">中女超</a></p>
                        <p class="team"><a href="">永川茶山竹海女足</a><img class=""
                                                                            src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""></p>
                        <p class="vs">VS</p>
                        <p class="team"><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png"
                                             alt=""><a href="">杭州银行女足</a></p>
                        <a class="right-btn" href=""><i class="iconfont icon-bofang"></i><span>锦集/录像</span></a>
                    </dd>
                    <dd>
                        <p class="time"><i class="iconfont icon-zuqiu"></i>15:00</p>
                        <p class="type"><a href="">中女超</a></p>
                        <p class="team"><a href="">永川茶山竹海女足</a><img class=""
                                                                            src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""></p>
                        <p class="vs">VS</p>
                        <p class="team"><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png"
                                             alt=""><a href="">杭州银行女足</a></p>
                        <a class="right-btn" href=""><i class="iconfont icon-bofang"></i><span>锦集/录像</span></a>
                    </dd>
                    <dd>
                        <p class="time"><i class="iconfont icon-zuqiu"></i>15:00</p>
                        <p class="type"><a href="">中女超</a></p>
                        <p class="team"><a href="">永川茶山竹海女足</a><img class=""
                                                                            src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""></p>
                        <p class="vs">VS</p>
                        <p class="team"><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png"
                                             alt=""><a href="">杭州银行女足</a></p>
                        <a class="right-btn" href=""><i class="iconfont icon-zhibo"></i><span>直播中...</span></a>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="collect">
            <div class="collect-box">
                <div class="collect-tab">
                    <p class="cur">足球录像</p>
                    <p>足球集锦</p>
                    <p>足球资讯</p>
                </div>
                <ul class="cur">
                    <?php  $zuqiuLx = getLuxiangJijin(2,0,5);  ?>
                    {foreach $zuqiuLx as $row}
                    <li><i class="iconfont icon-zuqiu"></i><a href="/luxiang/zuqiu/1/1/{$row.id}" target="_blank">{$row.title}</a></li>
                    {/foreach}

                </ul>
                <ul>
                    <?php  $zuqiuJj = getLuxiangJijin(1,0,5);  ?>
                    {foreach $zuqiuJj as $row}
                    <li><i class="iconfont icon-zuqiu"></i><a href="/luxiang/zuqiu/1/1/{$row.id}" target="_blank">{$row.title}</a></li>
                    {/foreach}
                </ul>
                <ul>
                    <?php  $zuqiuZx = getZiXun(1,5);  ?>
                    {foreach $zuqiuZx as $row}
                    <li><i class="iconfont icon-zuqiu"></i><a href="/zixun/zuqiu/1/1/{$row.id}" target="_blank">{$row.title}</a></li>
                    {/foreach}
                </ul>
            </div>
            <div class="collect-box">
                <div class="collect-tab">
                    <p class="cur">篮球录像</p>
                    <p>篮球集锦</p>
                    <p>篮球资讯</p>
                </div>
                <ul class="cur">
                    <?php  $lanqiuLx = getLuxiangJijin(2,1,5);  ?>
                    {foreach $lanqiuLx as $row}
                    <li><i class="iconfont icon-lanqiu"></i><a href="/luxiang/lanqiu/1/1/{$row.id}" target="_blank">{$row.title}</a></li>
                    {/foreach}
                </ul>
                <ul>
                    <?php  $lanqiuJj = getLuxiangJijin(1,1,5);  ?>
                    {foreach $lanqiuJj as $row}
                    <li><i class="iconfont icon-lanqiu"></i><a href="/luxiang/lanqiu/1/1/{$row.id}" target="_blank">{$row.title}</a></li>
                    {/foreach}
                </ul>
                <ul>
                    <?php  $lanqiuZx = getZiXun(2,5);  ?>
                    {foreach $lanqiuZx as $row}
                    <li><i class="iconfont icon-lanqiu"></i><a href="/zixun/lanqiu/1/1/{$row.id}" target="_blank">{$row.title}</a></li>
                    {/foreach}


                </ul>
            </div>
        </div>
    </div>
    <div class="right-main">
        {include file="assembly/saishi"/}
        {include file="assembly/team"/}
        {include file="assembly/hotkey"/}
        {include file="assembly/jifen"/}
    </div>
</div>
{/block}
<!-- /主体 -->
<!-- 脚本 -->
{block name="script"}
<script>
    $(".collect-tab p").click(function() {
        $(this).addClass('cur').siblings().removeClass('cur');
        let parents = $(this).parents('.collect-box');
        $(parents).find("ul").removeClass('cur').eq($(this).index()).addClass('cur')
    })
</script>
{/block}
<!-- /脚本 -->