{extend name="common/base"/}
{block name="style"}
{/block}
<!-- 主体 -->
{block name="body"}
{include file="common/header" nav='info' /}
<div class="container">
    <div class="left-main">
        <div class="model">
            <div class="title">
                <p class="tit"><i class="iconfont icon-jijin"></i><span>集锦</span></p>
            </div>
            <div class="category">
                <a href="" class="cur">全部4</a>
                <a href="">足球集锦</a>
                <a href="">篮球集锦</a>
            </div>
            <dl class="list-back">
                <dd>
                    <p class="back-cont">
                        <a href=""><span>2023-04-26</span>英超-西尼斯特拉泰山压顶瓦尔迪扳平
                            利兹联1-1莱斯特城排名不变</a>
                    </p>
                    <p class="back-team">
                        <a href="">莱斯特城</a><a href="">利兹联</a>
                    </p>
                </dd>
                <dd>
                    <p class="back-cont">
                        <a href=""><span>2023-04-26</span>英超-西尼斯特拉泰山压顶瓦尔迪扳平
                            利兹联1-1莱斯特城排名不变</a>
                    </p>
                    <p class="back-team">
                        <a href="">莱斯特城</a><a href="">利兹联</a>
                    </p>
                </dd>
                <dd>
                    <p class="back-cont">
                        <a href=""><span>2023-04-26</span>英超-西尼斯特拉泰山压顶瓦尔迪扳平
                            利兹联1-1莱斯特城排名不变</a>
                    </p>
                    <p class="back-team">
                        <a href="">莱斯特城</a><a href="">利兹联</a>
                    </p>
                </dd>
                <dd>
                    <p class="back-cont">
                        <a href=""><span>2023-04-26</span>英超-西尼斯特拉泰山压顶瓦尔迪扳平
                            利兹联1-1莱斯特城排名不变</a>
                    </p>
                    <p class="back-team">
                        <a href="">莱斯特城</a><a href="">利兹联</a>
                    </p>
                </dd>
                <dd>
                    <p class="back-cont">
                        <a href=""><span>2023-04-26</span>英超-西尼斯特拉泰山压顶瓦尔迪扳平
                            利兹联1-1莱斯特城排名不变</a>
                    </p>
                    <p class="back-team">
                        <a href="">莱斯特城</a><a href="">利兹联</a>
                    </p>
                </dd>
                <dd>
                    <p class="back-cont">
                        <a href=""><span>2023-04-26</span>英超-西尼斯特拉泰山压顶瓦尔迪扳平
                            利兹联1-1莱斯特城排名不变</a>
                    </p>
                    <p class="back-team">
                        <a href="">莱斯特城</a><a href="">利兹联</a>
                    </p>
                </dd>
                <dd>
                    <p class="back-cont">
                        <a href=""><span>2023-04-26</span>英超-西尼斯特拉泰山压顶瓦尔迪扳平
                            利兹联1-1莱斯特城排名不变</a>
                    </p>
                    <p class="back-team">
                        <a href="">莱斯特城</a><a href="">利兹联</a>
                    </p>
                </dd>
                <dd>
                    <p class="back-cont">
                        <a href=""><span>2023-04-26</span>英超-西尼斯特拉泰山压顶瓦尔迪扳平
                            利兹联1-1莱斯特城排名不变</a>
                    </p>
                    <p class="back-team">
                        <a href="">莱斯特城</a><a href="">利兹联</a>
                    </p>
                </dd>
                <dd>
                    <p class="back-cont">
                        <a href=""><span>2023-04-26</span>英超-西尼斯特拉泰山压顶瓦尔迪扳平
                            利兹联1-1莱斯特城排名不变</a>
                    </p>
                    <p class="back-team">
                        <a href="">莱斯特城</a><a href="">利兹联</a>
                    </p>
                </dd>
                <dd>
                    <p class="back-cont">
                        <a href=""><span>2023-04-26</span>英超-西尼斯特拉泰山压顶瓦尔迪扳平
                            利兹联1-1莱斯特城排名不变</a>
                    </p>
                    <p class="back-team">
                        <a href="">莱斯特城</a><a href="">利兹联</a>
                    </p>
                </dd>
                <dd>
                    <p class="back-cont">
                        <a href=""><span>2023-04-26</span>英超-西尼斯特拉泰山压顶瓦尔迪扳平
                            利兹联1-1莱斯特城排名不变</a>
                    </p>
                    <p class="back-team">
                        <a href="">莱斯特城</a><a href="">利兹联</a>
                    </p>
                </dd>
                <dd>
                    <p class="back-cont">
                        <a href=""><span>2023-04-26</span>英超-西尼斯特拉泰山压顶瓦尔迪扳平
                            利兹联1-1莱斯特城排名不变</a>
                    </p>
                    <p class="back-team">
                        <a href="">莱斯特城</a><a href="">利兹联</a>
                    </p>
                </dd>
                <dd>
                    <p class="back-cont">
                        <a href=""><span>2023-04-26</span>英超-西尼斯特拉泰山压顶瓦尔迪扳平
                            利兹联1-1莱斯特城排名不变</a>
                    </p>
                    <p class="back-team">
                        <a href="">莱斯特城</a><a href="">利兹联</a>
                    </p>
                </dd>
                <dd>
                    <p class="back-cont">
                        <a href=""><span>2023-04-26</span>英超-西尼斯特拉泰山压顶瓦尔迪扳平
                            利兹联1-1莱斯特城排名不变</a>
                    </p>
                    <p class="back-team">
                        <a href="">莱斯特城</a><a href="">利兹联</a>
                    </p>
                </dd>
                <dd>
                    <p class="back-cont">
                        <a href=""><span>2023-04-26</span>英超-西尼斯特拉泰山压顶瓦尔迪扳平
                            利兹联1-1莱斯特城排名不变</a>
                    </p>
                    <p class="back-team">
                        <a href="">莱斯特城</a><a href="">利兹联</a>
                    </p>
                </dd>
                <dd>
                    <p class="back-cont">
                        <a href=""><span>2023-04-26</span>英超-西尼斯特拉泰山压顶瓦尔迪扳平
                            利兹联1-1莱斯特城排名不变</a>
                    </p>
                    <p class="back-team">
                        <a href="">莱斯特城</a><a href="">利兹联</a>
                    </p>
                </dd>
                <dd>
                    <p class="back-cont">
                        <a href=""><span>2023-04-26</span>英超-西尼斯特拉泰山压顶瓦尔迪扳平
                            利兹联1-1莱斯特城排名不变</a>
                    </p>
                    <p class="back-team">
                        <a href="">莱斯特城</a><a href="">利兹联</a>
                    </p>
                </dd>
                <dd>
                    <p class="back-cont">
                        <a href=""><span>2023-04-26</span>英超-西尼斯特拉泰山压顶瓦尔迪扳平
                            利兹联1-1莱斯特城排名不变</a>
                    </p>
                    <p class="back-team">
                        <a href="">莱斯特城</a><a href="">利兹联</a>
                    </p>
                </dd>
                <dd>
                    <p class="back-cont">
                        <a href=""><span>2023-04-26</span>英超-西尼斯特拉泰山压顶瓦尔迪扳平
                            利兹联1-1莱斯特城排名不变</a>
                    </p>
                    <p class="back-team">
                        <a href="">莱斯特城</a><a href="">利兹联</a>
                    </p>
                </dd>
                <dd>
                    <p class="back-cont">
                        <a href=""><span>2023-04-26</span>英超-西尼斯特拉泰山压顶瓦尔迪扳平
                            利兹联1-1莱斯特城排名不变</a>
                    </p>
                    <p class="back-team">
                        <a href="">莱斯特城</a><a href="">利兹联</a>
                    </p>
                </dd>
            </dl>
            <div class="pages">
                <a href="">&lt;</a>
                <a href="#">1</a>
                <a href="/">2</a>
                <a href="/">3</a>
                <a href="/">4</a>
                <a href="/">5</a>
                <a href="/">6</a>
                <a href="/">7</a>
                <a href="/">8</a>
                <a href="/">9</a>
                <a href="/">&gt;</a>
            </div>
        </div>
    </div>
    <div class="right-main">
        {include file="assembly/zhibo"/}
        {include file="assembly/luxiang"/}
        {include file="assembly/hotkey"/}
    </div>
</div>
{/block}
<!-- /主体 -->
<!-- 脚本 -->
{block name="script"}
<script>

</script>
{/block}
<!-- /脚本 -->