{extend name="common/base"/}
<!-- 主体 -->
{block name="body"}
<form class="layui-form p-4">
	<h3 class="pb-3">新建模组配置管理</h3>
	<table class="layui-table layui-table-form">
		<tr><td class="layui-td-gray-2">模板名称<font>*</font></td>
			<td><input type="text" name="temp_name" id="temp_name" lay-verify="required" lay-reqText="请完善模板名称" value="" autocomplete="off" placeholder="请输入模板名称" class="layui-input"></td><td class="layui-td-gray-2">模板路径<font>*</font></td>
			<td><input type="text" name="temp_path" id="temp_path"  lay-verify="required" lay-reqText="请完善模板路径" value="" autocomplete="off" placeholder="请输入模板路径" class="layui-input"></td><td class="layui-td-gray-2">对应路由<font>*</font></td>
			<td>
				<input type="text" name="ab_route" id="ab_route" lay-verify="required" lay-reqText="请完善对应路由" value="" autocomplete="off" placeholder="请输入对应路由" class="layui-input">
			</td>
		</tr>
				<tr><td class="layui-td-gray-2">模板绝对路径<font>*</font></td>
			<td><input type="text" name="temp_AP" id="temp_AP" lay-verify="required"  lay-reqText="请完善模板绝对路径" value="" autocomplete="off" placeholder="请输入模板绝对路径" class="layui-input"></td><td colspan='4'></td>
		</tr>
		<tr>
			<button type="button" class="layui-btn" id="test1">
				<i class="layui-icon">&#xe67c;</i>上传模板
			</button>
			<span style="color:red">(以zip压缩格式上传)</span>
		</tr>
	</table>
	<div class="pt-3">
		<input type="hidden" name="id" value="0"/>
		<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="webform">立即提交</button>
		<button type="reset" class="layui-btn layui-btn-primary">重置</button>
	</div>
</form>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	var moduleInit = ['tool'];

	function gouguInit() {
		var form = layui.form, tool = layui.tool;

		layui.use('upload', function(){
			var upload = layui.upload;

			//执行实例
			var uploadInst = upload.render({
				elem: '#test1' //绑定元素
				,url: '/admin/api/upload' //上传接口
				,accept:'file'
				,data:{
					file_type:'temp'
				}
				,done: function(res){
					//上传完毕回调
					if (res.code == 1) {
						return layer.msg(res.msg);
					}
					//上传成功
					$('#temp_path').attr('value', res.data.filepath);
					$('#temp_AP').attr('value', '/home' + res.data.filepath);
				}
				,error: function(){
					//请求异常回调
				}
			});
		});
				
		//监听提交
		form.on('submit(webform)', function (data) {
			
			let callback = function (e) {
				layer.msg(e.msg);
				if (e.code == 0) {
					tool.sideClose(1000);
				}
			}
			tool.post("/admin/home_temp_route/add", data.field, callback);
			return false;
		});
	}
</script>
{/block}
<!-- /脚本 -->