{extend name="common/base"/}
<!-- 主体 -->
{block name="body"}
<form class="layui-form p-4">
	<h3 class="pb-3">编辑模组配置管理</h3>
	<table class="layui-table layui-table-form">
		<tr><td class="layui-td-gray-2">模板名称<font>*</font></td>
			<td><input type="text" name="temp_name"  lay-verify="required" lay-reqText="请完善模板名称" value="{$detail.temp_name}" autocomplete="off" placeholder="请输入模板名称" class="layui-input"></td><td class="layui-td-gray-2">模板路径<font>*</font></td>
			<td><input type="text" name="temp_path"  lay-verify="required" lay-reqText="请完善模板路径" value="{$detail.temp_path}" autocomplete="off" placeholder="请输入模板路径" class="layui-input"></td><td class="layui-td-gray-2">对应路由<font>*</font></td>
			<td><input type="text" name="ab_route"  lay-verify="required" lay-reqText="请完善对应路由" value="{$detail.ab_route}" autocomplete="off" placeholder="请输入对应路由" class="layui-input"></td>
		</tr>
				<tr><td class="layui-td-gray-2">模板绝对路径<font>*</font></td>
			<td><input type="text" name="temp_AP"  lay-verify="required" lay-reqText="请完善模板绝对路径" value="{$detail.temp_AP}" autocomplete="off" placeholder="请输入模板绝对路径" class="layui-input"></td><td colspan='4'></td>
		</tr>
	</table>
	<div class="py-3">
		<input type="hidden" name="id" value="{$detail.id}"/>
		<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="webform">立即提交</button>
		<button type="reset" class="layui-btn layui-btn-primary">重置</button>
	</div>
</form>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	var moduleInit = ['tool'];

	function gouguInit() {
		var form = layui.form, tool = layui.tool;
		
		
				
		//监听提交
		form.on('submit(webform)', function (data) {
			
			let callback = function (e) {
				layer.msg(e.msg);
				if (e.code == 0) {
					tool.sideClose(1000);
				}
			}
			tool.post("/admin/home_temp_route/edit", data.field, callback);
			return false;
		});
	}
</script>
{/block}
<!-- /脚本 -->