{extend name="common/base"/}
{block name="style"}
{/block}
<!-- 主体 -->
{block name="body"}
{include file="common/header" nav='info' /}
<div class="container">
    <div class="left-main">
        <div class="model">
            <div class="title">
                <p class="tit"><i class="iconfont icon-zhibo"></i><span>直播</span></p>
            </div>
            <div class="play-list">
                <dl class="list-cont nodata">
                    {foreach $data as $i=>$team}
                    <dd>
                        <p class="time"><i class="iconfont {$team.sphere_type=='zuqiu'?'icon-zuqiu':'icon-lanqiu'}"></i>{$team.match_time|date='m-d H:i'}</p>
                        <p class="type"><a href="/live/{$team.sphere_type}/{$team.comp_py}/" target="_blank">{$team.competition_text}</a></p>
                        <p class="team">{$team.home_team_text}<img src="{$team.home_team_logo}"></p>
                        <p class="vs">VS</p>
                        <p class="team"><img src="{$team.away_team_logo}">{$team.away_team_text}</p>
                        <a class="right-btn" target="_blank" href="/live/{$team.sphere_type}/{$team.comp_py}/{$team.id}"><i class="iconfont <?php echo getzt($team['status_id'],0) ?>"></i><span><?php echo getzt($team['status_id'],1) ?></span></a>
                    </dd>
                    {/foreach}
                </dl>
            </div>
        </div>
        <div class="model">
            <div class="title">
                <p class="tit"><i class="iconfont icon-luxiang"></i><span>录像</span></p>
            </div>
            <dl class="list-back nodata">
                {foreach $luxiang as $i=>$item}
                <dd>
                    <p class="back-cont">
                        <a href="/luxiang/{$item.sphere_type}/1/{$item.short_name_py}/{$item.id}/" target="_blank"><span></span>{$item.title}</a>
                    </p>
                    <p class="back-team">
                        <a href=""></a><a href=""></a>
                    </p>
                </dd>
                {/foreach}
            </dl>
        </div>
        <div class="model">
            <div class="title">
                <p class="tit"><i class="iconfont icon-jijin"></i><span>集锦</span></p>
            </div>
            <dl class="list-back nodata">
                {foreach $jijin as $i=>$item}
                <dd>
                    <p class="back-cont">
                        <a href="/jijin/{$item.sphere_type}/1/{$item.short_name_py}/{$item.id}/" target="_blank"><span></span>{$item.title}</a>
                    </p>
                    <p class="back-team">
                        <a href=""></a><a href=""></a>
                    </p>
                </dd>
                {/foreach}
            </dl>
        </div>
        {include file="assembly/newimg"/}
    </div>
    <div class="right-main">
        <div class="model specific">
            <div class="logo">
                <img src="{$data_info.logo}" />
            </div>
            <?php if(strpos($_SERVER['REQUEST_URI'], 'liansai')): ?>
            <div class="title">
                <p class="tit"><i class="iconfont icon-jianjie"></i><span>{$data_info.short_name_zh}简介</span></p>
            </div>
            <?php endif; ?>
            <div class="info">
                {$data_info.intro}
            </div>
        </div>
        {include file="assembly/team"/}
    </div>
</div>
{/block}
<!-- /主体 -->
<!-- 脚本 -->
{block name="script"}
<script>

</script>
{/block}
<!-- /脚本 -->