{extend name="common/base"/}
{block name="style"}
{/block}
<!-- 主体 -->
{block name="body"}
{include file="common/header" nav='info' /}
<div class="playbg">
    <div class="breadcrumbs">
        <ul>
            <li>
                <a href="">首页</a>
            </li>
            <li>&gt;</li>
            <li>
                <a href="">首页</a>
            </li>
            <li>&gt;</li>
            <li>
                <a href="">首页</a>
            </li>
            <li>&gt;</li>
            <li>
                首页
            </li>
        </ul>
    </div>
    <div class="play">
        <h1>
            <p>04月28日 西甲第31轮 毕尔巴鄂vs塞维利亚 全场录像</p>
        </h1>
        <div class="showlist">
            <iframe id="videobox" src="https://www.miguvideo.com/mgs/website/prd/detail.html?cid=805767165"
                    scrolling="no"></iframe>
            <!-- <a href="">
                <img src="https://img-cdn.namitiyu.com/video/collection/fe0170784d.jpg">
                <i class="btn"></i>
            </a> -->
            <div class="list">
                <p>播放列表</p>
                <ul>
                    <li class="cur">
                        <p class="title">[咪咕全场集锦] 西甲-双方均无建树 西班牙人0-0闷平加的斯</p>
                        <a href=""><i class="iconfont icon-bofang"></i><span>源站播放</span></a>
                    </li>
                    <li class="">
                        <p class="title">[咪咕] 04月22日 西甲第30轮 西班牙人vs加的斯 全场录像[有比分]</p>
                        <a href=""><i class="iconfont icon-bofang"></i><span>源站播放</span></a>
                    </li>
                    <li class="">
                        <p class="title">[咪咕] 04月22日 西甲第30轮 西班牙人vs加的斯 全场录像[有比分]</p>
                        <a href=""><i class="iconfont icon-bofang"></i><span>源站播放</span></a>
                    </li>
                    <li class="">
                        <p class="title">[咪咕] 04月22日 西甲第30轮 西班牙人vs加的斯 全场录像[有比分]</p>
                        <a href=""><i class="iconfont icon-bofang"></i><span>源站播放</span></a>
                    </li>
                    <li class="">
                        <p class="title">[咪咕] 04月22日 西甲第30轮 西班牙人vs加的斯 全场录像[有比分]</p>
                        <a href=""><i class="iconfont icon-bofang"></i><span>源站播放</span></a>
                    </li>
                    <li class="">
                        <p class="title">[咪咕] 04月22日 西甲第30轮 西班牙人vs加的斯 全场录像[有比分]</p>
                        <a href=""><i class="iconfont icon-bofang"></i><span>源站播放</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="left-main">
        <div class="video-intro">
            <p class="tit">录像介绍</p>
            <ul class="playtxt">
                <li>录像简介：在线观看录像-04月28日 西甲第31轮毕尔巴鄂vs塞维利亚，99直播吧为你提供04月28日 西甲第31轮毕尔巴鄂vs塞维利亚导航资源，本站不制作、不存储04月28日
                    西甲第31轮毕尔巴鄂vs塞维利亚视频资源，只作为技术探索的导航学习用途。</li>
                <li>添加时间：2023-04-22 03:00</li>
            </ul>
        </div>
        {include file="assembly/newimg"/}
    </div>
    <div class="right-main">
        {include file="assembly/zhibo"/}
        {include file="assembly/luxiang"/}
        {include file="assembly/jijin"/}
    </div>
</div>
{/block}
<!-- /主体 -->
<!-- 脚本 -->
{block name="script"}
<script>

</script>
{/block}
<!-- /脚本 -->