{extend name="common/base"/}
{block name="style"}
{/block}
<!-- 主体 -->
{block name="body"}
{include file="common/header" nav='info' /}
<div class="playbg">
    <div class="play">
        <h1>
            <p>{$matchLive.title}</p>
        </h1>
        <div class="showlist">
            <iframe id="videobox" src="{$matchLive.pc_link}"
                    scrolling="no"></iframe>
            <!-- <a href="">
                <img src="https://img-cdn.namitiyu.com/video/collection/fe0170784d.jpg">
                <i class="btn"></i>
            </a> -->
            <div class="list">
                <p>播放列表</p>
                <ul>
                    <li class="cur">
                        <p class="title">{$matchLive.title}</p>
                        <a href="{$matchLive.pc_link}" target="_blank"><i class="iconfont icon-bofang"></i><span>源站播放</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="left-main">
        <div class="video-intro">
            <p class="tit">{$index}</p>
            <ul class="playtxt">
                {if !empty($matchLive.team.home_team) && !empty($matchLive.team.away_team)}
                    <li>{$index}：在线观看录像-{$matchLive.match_time|date="m-d H:i"} {$matchLive.team.home_team.name_zh}vs{$matchLive.team.away_team.name_zh}，{$web_name}为你提供{$matchLive.match_time|date="m-d H:i"} {$matchLive.team.home_team.name_zh}vs{$matchLive.team.away_team.name_zh}导航资源，本站不制作、不存储{$matchLive.match_time|date="m-d H:i"} {$matchLive.team.home_team.name_zh}vs{$matchLive.team.away_team.name_zh}视频资源，只作为技术探索的导航学习用途。</li>
                {/if}
                <li>添加时间：{$matchLive.created_at}</li>
                <li>热门标签:
                    <a href="/{$matchLive.type=='1'?'jijin':'luxiang'}-{$matchLive.video_type=='0'?'zuqiu':'lanqiu'}/1/{$matchLive.short_name_py}">{$matchLive.short_name_zh}</a>
                    <a href="/qiudui-{$matchLive.video_type=='0'?'zuqiu':'lanqiu'}/1/{$matchLive.team.home_team.id}">{$matchLive.team.home_team.name_zh}</a>
                    <a href="/qiudui-{$matchLive.video_type=='0'?'zuqiu':'lanqiu'}/1/{$matchLive.team.away_team.id}">{$matchLive.team.away_team.name_zh}</a>
                </li>
            </ul>
        </div>
        {include file="assembly/newimg"/}
    </div>
    <div class="right-main">
        {include file="assembly/zhibo"/}
        {include file="assembly/luxiang"/}
        {include file="assembly/jijin"/}
    </div>
</div>
{/block}
<!-- /主体 -->
<!-- 脚本 -->
{block name="script"}
<script>

</script>
{/block}
<!-- /脚本 -->