{extend name="common/base"/}
{block name="style"}
{/block}
<!-- 主体 -->
{block name="body"}
{include file="common/header" nav='info' /}
<div class="playbg">
    <div class="play">
        <h1>
            <p>{$matchLive.title}</p>
        </h1>
        <div class="showlist">
            <iframe id="videobox" src="{$matchLive.pc_link}"
                    scrolling="no"></iframe>
            <!-- <a href="">
                <img src="https://img-cdn.namitiyu.com/video/collection/fe0170784d.jpg">
                <i class="btn"></i>
            </a> -->
            <div class="list">
                <p>播放列表</p>
                <ul>
                    <li class="cur">
                        <p class="title">{$matchLive.title}</p>
                        <a href="{$matchLive.pc_link}" target="_blank"><i class="iconfont icon-bofang"></i><span>源站播放</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="left-main">
        <div class="video-intro">
            <p class="tit">{$index}</p>
            <ul class="playtxt">
                <li>{$index}：在线观看录像-04月28日 西甲第31轮毕尔巴鄂vs塞维利亚，{$web_name}为你提供04月28日 西甲第31轮毕尔巴鄂vs塞维利亚导航资源，本站不制作、不存储04月28日
                    西甲第31轮毕尔巴鄂vs塞维利亚视频资源，只作为技术探索的导航学习用途。</li>
                <li>添加时间：2023-04-22 03:00</li>
            </ul>
        </div>
        {include file="assembly/newimg"/}
    </div>
    <div class="right-main">
        {include file="assembly/zhibo"/}
        {include file="assembly/luxiang"/}
        {include file="assembly/jijin"/}
    </div>
</div>
{/block}
<!-- /主体 -->
<!-- 脚本 -->
{block name="script"}
<script>

</script>
{/block}
<!-- /脚本 -->