{extend name="common/base"/}
<!-- 主体 -->
{block name="body"}
<form class="layui-form p-4">
    <h3 class="pb-3">导航内容</h3>
    <table class="layui-table layui-table-form">
        <tr>
            <td class="layui-td-gray">父级导航<font>*</font>
            </td>
            <td>
                <input type="hidden" name="id" value="{$id}"/>
                <input type="hidden" name="nav_id" value="{$nav_id}"/>
                <select name="pid" lay-verify="required" lay-reqText="请选择父级导航">
                    <option value="0">作为顶级导航</option>
                    {volist name=":set_recursion(get_nav($nav_id))" id="v"}
                        <option value="{$v.id}" {eq name="pid" value="$v.id" }selected="" {/eq}>{$v.title} </option>
                    {/volist}
                </select>
            </td>
            <td class="layui-td-gray">排序</td>
            <td>
                <input type="text" name="sort" autocomplete="off" class="layui-input" {notempty name="$nav.sort"
                }value="{$nav.sort}" {else/}value="0" {/notempty}>
            </td>
            <td class="layui-td-gray">参数</td>
            <td>
                <input type="text" name="param" placeholder="请输入导航参数，可空" autocomplete="off" class="layui-input"
                       {notempty name="$nav.param" }value="{$nav.param}" {/notempty}>
            </td>
        </tr>

        <tr>
            <td class="layui-td-gray">选择路由<font>*</font>
            </td>
            <td colspan="3">
                <select name="route_tag" id="routeChange" lay-verify="required" lay-reqText="请选择路由"
                        lay-filter="oneLeverChange">
                    <?php $routeMap = get_config('homeRouteMap');?>
                    {foreach $routeMap as $key=>$vo }
                        <option value="{$key}" data-path="{$vo.route_path}"
                                data-keywords='<?php echo json_encode($vo["keywords"]) ?>'
                                {eq name="route_tag" value="$key" }selected="" {/eq}>{$vo.route_name} </option>
                    {/foreach}
                </select>
            </td>
            <td class="layui-td-gray">选择模板<font>*</font>
            </td>
            <td colspan="2">
                <select name="temp_id" lay-verify="required" lay-reqText="请选择模板">
                    <?php $temp = getTempList();?>
                    {foreach $temp as $vo}
                        <option value="{$vo.id}"
                                {eq name="temp_id" value="$vo.id" }selected="" {/eq}>{$vo.temp_name} </option>
                    {/foreach}
                </select>
            </td>
        </tr>

        <tr>
            <td class="layui-td-gray">导航名称<font>*</font>
            </td>
            <td colspan="3">
                <input type="text" name="title" id="title" lay-verify="required" autocomplete="off"
                       placeholder="请输入名称"
                       lay-reqText="请输入名称" class="layui-input" {notempty name="$nav.title" }value="{$nav.title}"
                {/notempty}>
            </td>
            <td class="layui-td-gray-2">新窗口打开</td>
            <td>
                {if condition="$id eq 0"}
                    <input type="radio" name="target" value="0" title="否" checked>
                    <input type="radio" name="target" value="1" title="是">
                {else/}
                    <input type="radio" name="target" value="0" title="否"
                           {eq name="$nav.target" value="0" }checked{/eq}>
                    <input type="radio" name="target" value="1" title="是"
                           {eq name="$nav.target" value="1" }checked{/eq}>
                {/if}
            </td>
        </tr>
        <tr>
            <td class="layui-td-gray">网址链接</td>
            <td colspan="3">
                <input type="text" name="src" id="src" placeholder="请输入导航网址链接，可空" autocomplete="off"
                       class="layui-input"
                       {notempty name="$nav.src" }value="{$nav.src}" {/notempty}>
            </td>
            <td class="layui-td-gray">状态<font>*</font>
            </td>
            <td>
                {if condition="$id eq 0"}
                    <input type="radio" name="status" value="1" title="正常" checked>
                    <input type="radio" name="status" value="-1" title="禁用">
                {else/}
                    <input type="radio" name="status" value="1" title="正常"
                           {eq name="$nav.status" value="1" }checked{/eq}>
                    <input type="radio" name="status" value="-1" title="禁用"
                           {eq name="$nav.status" value="-1" }checked{/eq}>
                {/if}
            </td>
        </tr>
        <tr>
            <td class="layui-td-gray">tdk关键字</td>
            <td colspan="5">

                <button type="button" data-key="date" class="layui-btn keybtn">当前时间</button>
                <button type="button" data-key="web_common_title" class="layui-btn keybtn">网站名称</button>
                <span style="padding-left: 10px" id="btns">
                    {foreach $routeMap[$route_tag]['keywords'] as $key=>$vo }
                        <button type="button" data-key="{$key}" class="layui-btn keybtn">{$vo}</button>
                    {/foreach}
                </span>
            </td>
        </tr>
        <tr>
            <td colspan="5"><span style="color: red">eg:[date#Y-m-d H:i:s] date#号后面可以设置时间格式,如例子所示展示效果为2023-05-18 15:04:22</span>
            </td>
        </tr>
        <tr>
            <td rowspan="3" class="layui-td-gray">页面配置</td>
            <td colspan="5">
                <input type="text" name="web_title" placeholder="请输入页面标题" autocomplete="off"
                       class="pageset layui-input"
                       {notempty name="$nav.web_title" }value="{$nav.web_title}" {/notempty}>
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <input type="text" name="web_keywords" placeholder="请输入页面关键字" autocomplete="off"
                       class="pageset layui-input"
                       {notempty name="$nav.web_keywords" }value="{$nav.web_keywords}" {/notempty}>
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <input type="text" name="web_desc" placeholder="请输入页面描述" autocomplete="off"
                       class="pageset layui-input"
                       {notempty name="$nav.web_desc" }value="{$nav.web_desc}" {/notempty}>
            </td>
        </tr>
    </table>
    <div class="py-3">
        <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="webform">立即提交</button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
</form>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
    const moduleInit = ['tool'];

    function gouguInit() {
        var form = layui.form, tool = layui.tool;
        //监听提交
        form.on('submit(webform)', function (data) {
            let callback = function (e) {
                layer.msg(e.msg);
                if (e.code == 0) {
                    setTimeout(function () {
                        parent.location.reload();
                    }, 1000);
                }
            }
            tool.post("/admin/nav/nav_info_add", data.field, callback);
            return false;
        });

        form.on('select(oneLeverChange)',
                function (data) {
                    var val = data.value;
                    let sz = document.getElementsByTagName("option");
                    [...sz].forEach(function (item) {
                        if (item.value == val) {
                            document.getElementById('title').value = item.innerText;
                            document.getElementById('src').value = item.getAttribute("data-path");

                            $("#btns").empty();
                            let data = JSON.parse(item.getAttribute("data-keywords"));
                            if (!$.isArray(data)) {
                                let dom = ``;
                                $.each(data, function (k, v) {
                                    dom += `<button type="button"  data-key="${k}" class="layui-btn keybtn">${v}</button>`
                                })
                                $("#btns").append(dom);
                            }
                        }
                    })

                });
    }

    $(".keybtn").click(function () {
        let word = $(this).data("key");
        $(".pageset").each(function (i, item) {
            let txtarr = $(item).val().split('');
            $.each(txtarr, function (i, txt) {
                if (txt == ']' && txtarr[i - 1] == '[') {
                    txtarr[i] = word + "]";
                }
            })
            $(item).val(txtarr.join(''))
        });
    })
</script>

{/block}
<!-- /脚本 -->