{extend name="common/base"/}
{block name="style"}
{/block}
<!-- 主体 -->
{block name="body"}
{include file="common/header" nav='info' /}
<div class="container">
    <div class="left-main">
        <?php if(isset($comp)): ?>
        <div class="laliga-info">
            <div class="laliga-logo">
                <img src="{$comp.logo}">
            </div>
            <div class="laliga-intro">
                <h1>{$comp.name_zh}({$comp.short_name_zh}{$comp.id})</h1>
                <p>{$comp.intro}</p>
            </div>
        </div>
        <?php else: ?>
        <img class="infoimg" src="/static/home/images/{:strpos(get_ruleName(),'zuqiu')?'zuqiubg':'lanqiubg'}.jpg" />
        <?php endif; ?>
        <div class="model">
            <div class="title">
                <p class="tit"><i class="iconfont icon-zhibo"></i><span class="prefix">直播</span></p>
            </div>
            {include file="assembly/typeselect"/}
            <div class="play-list">
                {foreach $data as $key=>$item}
                <p class="play-date">{$key}</p>
                <dl class="list-cont">
                    {foreach $item as $i=>$team}
                    <dd>
                        <p class="time"><i class="iconfont {$team.sphere_type=='zuqiu'?'icon-zuqiu':'icon-lanqiu'}"></i>{$team.match_time|date='H:i'}</p>
                        <p class="type"><a href="">{$team.competition_text}</a></p>
                        <p class="team"><a href="">{$team.home_team_text}</a><img src="{$team.home_team_logo}"></p>
                        <p class="vs">VS</p>
                        <p class="team"><img src="{$team.away_team_logo}"><a href="">{$team.away_team_text}</a></p>
                        <a class="right-btn" target="_blank" href="/live/{$team.sphere_type}/{$team.comp_py}/{$team.id}"><i class="iconfont <?php echo getzt($team['status_id'],0) ?>"></i><span><?php echo getzt($team['status_id'],1) ?></span></a>
                    </dd>
                    {/foreach}
                </dl>
                {/foreach}
            </div>
        </div>
    </div>
    <div class="right-main">
        {include file="assembly/zixun"/}
        {include file="assembly/luxiang"/}
        {include file="assembly/jijin"/}
        {include file="assembly/hotkey"/}
    </div>
</div>
{/block}
<!-- /主体 -->
<!-- 脚本 -->
{block name="script"}
<script>
</script>
{/block}
<!-- /脚本 -->