{extend name="common/base"/}
{block name="style"}
{/block}
<!-- 主体 -->
{block name="body"}
{include file="common/header" nav='info' /}
<div class="container">
    <div class="left-main">
        <?php if(isset($comp)): ?>
        <div class="laliga-info">
            <div class="laliga-logo">
                <img src="{$comp.logo}">
            </div>
            <div class="laliga-intro">
                <h1>{$comp.name_zh}({$comp.short_name_zh})</h1>
                <p>{$comp.intro}</p>
            </div>
        </div>
        <?php else: ?>
        <img class="infoimg" src="/static/home/images/{:strpos(get_ruleName(),'zuqiu')?'zuqiubg':'lanqiubg'}.jpg" />
        <?php endif; ?>
        <div class="main-model">
            <div class="title">
                <p class="name"><i class="iconfont icon-zhibo"></i><span class="prefix">直播</span></p>
                <div class="tool">
                    {include file="assembly/typeselect"/}
                </div>
            </div>
            <div class="play-list">
                {foreach $data as $key=>$item}
                <p class="play-date">{$key}</p>
                <dl class="list-cont">
                    {foreach $item as $i=>$team}
                    <dd class="<?php echo getzt($team['status_id'],2,$team['sphere_type']) ?>">
                        <div class="item-box">
                            <div class="left">
                                <p class="time">{$team.match_time|date='H:i'}</p>
                                <p class="name"><a href="/live-{$team.sphere_type}/{$team.comp_py}" target="_blank">{$team.competition_text}</a></p>
                            </div>
                            <div class="center">
                                <a class="left-name" href="/qiudui-{$team.sphere_type}/{$team.home_team_id}" target="_blank">
                                    <p>{$team.home_team_text}</p>
                                    <img class="" src="{$team.home_team_logo}" alt="">
                                    <span class="bf">{$team.sphere_type=='zuqiu'?$team.home_scores[0]:getScore($team.home_scores)}</span>
                                </a>
                                <span class="zt"><?php echo getzt($team['status_id'],3,$team['sphere_type']) ?></span>
                                <a class="right-name" href="/qiudui-{$team.sphere_type}/{$team.away_team_id}" target="_blank">
                                    <span class="bf">{$team.sphere_type=='zuqiu'?$team.away_scores[0]:getScore($team.away_scores)}</span>
                                    <img class="" src="{$team.away_team_logo}" alt="">
                                    <p>{$team.away_team_text}</p>
                                </a>
                            </div>
                            <div class="right">
                                <a href="/live-{$team.sphere_type}/{$team.comp_py}/{$team.id}.html" target="_blank"><i class="iconfont <?php echo getzt($team['status_id'],0,$team['sphere_type']) ?>"></i><span><?php echo getzt($team['status_id'],1,$team['sphere_type']) ?></span></a>
                            </div>
                        </div>
                    </dd>
                    {/foreach}
                </dl>
                {/foreach}
            </div>
        </div>
    </div>
    <div class="right-main">
        {include file="assembly/zixun"/}
        {include file="assembly/luxiang"/}
        {include file="assembly/jijin"/}
        {include file="assembly/hotkey"/}
    </div>
</div>
{/block}
<!-- /主体 -->
<!-- 脚本 -->
{block name="script"}
<script>

</script>
{/block}
<!-- /脚本 -->