{extend name="common/base"/}
{block name="style"}
{/block}
<!-- 主体 -->
{block name="body"}
{include file="common/header" nav='info' /}
<div class="container">
    <div class="left-main">
        <div class="laliga-info">
            <div class="laliga-logo">
                <img src="https://cdn.sportnanoapi.com/football/competition/e6ee784bdd6af4694075206cd069387e.png">
            </div>
            <div class="laliga-intro">
                <h1>西班牙足球甲级联赛</h1>
                <p>西班牙足球甲级联赛（La Liga）成立于1929年，由20支俱乐部组成，每个赛季进行38轮比赛。La Liga是世界足球顶级联赛之一，以技术流畅的比赛和巨星球员云集而闻名。拥有梅西、贝尔等全球顶尖球星，以及世界上最好的球队之一巴塞罗那和皇家马德里。每个赛季前四名晋级欧冠，第五和第六名晋级欧联，最后三名直接降级。</p>
            </div>
        </div>
        <div class="model">
            <div class="title">
                <p class="tit"><i class="iconfont icon-zhibo"></i><span>直播</span></p>
            </div>
            <div class="category">
                <a href="" class="cur">全部</a>
                <a href="">足球直播</a>
                <a href="">篮球直播</a>
            </div>
            <div class="play-list">
                <p class="play-date">2023-04-26</p>
                <dl class="list-cont">
                    <dd>
                        <p class="time"><i class="iconfont icon-zuqiu"></i>15:00</p>
                        <p class="type"><a href="">中女超</a></p>
                        <p class="team"><a href="">永川茶山竹海女足</a><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""></p>
                        <p class="vs">VS</p>
                        <p class="team"><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""><a href="">杭州银行女足</a></p>
                        <a class="right-btn" href=""><i class="iconfont icon-fenxi"></i><span>赛前分析</span></a>
                    </dd>
                    <dd>
                        <p class="time"><i class="iconfont icon-zuqiu"></i>15:00</p>
                        <p class="type"><a href="">中女超</a></p>
                        <p class="team"><a href="">永川茶山竹海女足</a><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""></p>
                        <p class="vs">VS</p>
                        <p class="team"><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""><a href="">杭州银行女足</a></p>
                        <a class="right-btn" href=""><i class="iconfont icon-bofang"></i><span>锦集/录像</span></a>
                    </dd>
                    <dd>
                        <p class="time"><i class="iconfont icon-zuqiu"></i>15:00</p>
                        <p class="type"><a href="">中女超</a></p>
                        <p class="team"><a href="">永川茶山竹海女足</a><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""></p>
                        <p class="vs">VS</p>
                        <p class="team"><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""><a href="">杭州银行女足</a></p>
                        <a class="right-btn" href=""><i class="iconfont icon-bofang"></i><span>锦集/录像</span></a>
                    </dd>
                    <dd>
                        <p class="time"><i class="iconfont icon-zuqiu"></i>15:00</p>
                        <p class="type"><a href="">中女超</a></p>
                        <p class="team"><a href="">永川茶山竹海女足</a><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""></p>
                        <p class="vs">VS</p>
                        <p class="team"><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""><a href="">杭州银行女足</a></p>
                        <a class="right-btn" href=""><i class="iconfont icon-zhibo"></i><span>直播中...</span></a>
                    </dd>
                </dl>
                <p class="play-date">2023-04-27</p>
                <dl class="list-cont">
                    <dd>
                        <p class="time"><i class="iconfont icon-zuqiu"></i>15:00</p>
                        <p class="type"><a href="">中女超</a></p>
                        <p class="team"><a href="">永川茶山竹海女足</a><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""></p>
                        <p class="vs">VS</p>
                        <p class="team"><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""><a href="">杭州银行女足</a></p>
                        <a class="right-btn" href=""><i class="iconfont icon-fenxi"></i><span>赛前分析</span></a>
                    </dd>
                    <dd>
                        <p class="time"><i class="iconfont icon-zuqiu"></i>15:00</p>
                        <p class="type"><a href="">中女超</a></p>
                        <p class="team"><a href="">永川茶山竹海女足</a><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""></p>
                        <p class="vs">VS</p>
                        <p class="team"><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""><a href="">杭州银行女足</a></p>
                        <a class="right-btn" href=""><i class="iconfont icon-bofang"></i><span>锦集/录像</span></a>
                    </dd>
                    <dd>
                        <p class="time"><i class="iconfont icon-zuqiu"></i>15:00</p>
                        <p class="type"><a href="">中女超</a></p>
                        <p class="team"><a href="">永川茶山竹海女足</a><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""></p>
                        <p class="vs">VS</p>
                        <p class="team"><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""><a href="">杭州银行女足</a></p>
                        <a class="right-btn" href=""><i class="iconfont icon-bofang"></i><span>锦集/录像</span></a>
                    </dd>
                    <dd>
                        <p class="time"><i class="iconfont icon-zuqiu"></i>15:00</p>
                        <p class="type"><a href="">中女超</a></p>
                        <p class="team"><a href="">永川茶山竹海女足</a><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""></p>
                        <p class="vs">VS</p>
                        <p class="team"><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""><a href="">杭州银行女足</a></p>
                        <a class="right-btn" href=""><i class="iconfont icon-zhibo"></i><span>直播中...</span></a>
                    </dd>
                </dl>
                <p class="play-date">2023-04-28</p>
                <dl class="list-cont">
                    <dd>
                        <p class="time"><i class="iconfont icon-zuqiu"></i>15:00</p>
                        <p class="type"><a href="">中女超</a></p>
                        <p class="team"><a href="">永川茶山竹海女足</a><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""></p>
                        <p class="vs">VS</p>
                        <p class="team"><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""><a href="">杭州银行女足</a></p>
                        <a class="right-btn" href=""><i class="iconfont icon-fenxi"></i><span>赛前分析</span></a>
                    </dd>
                    <dd>
                        <p class="time"><i class="iconfont icon-zuqiu"></i>15:00</p>
                        <p class="type"><a href="">中女超</a></p>
                        <p class="team"><a href="">永川茶山竹海女足</a><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""></p>
                        <p class="vs">VS</p>
                        <p class="team"><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""><a href="">杭州银行女足</a></p>
                        <a class="right-btn" href=""><i class="iconfont icon-bofang"></i><span>锦集/录像</span></a>
                    </dd>
                    <dd>
                        <p class="time"><i class="iconfont icon-zuqiu"></i>15:00</p>
                        <p class="type"><a href="">中女超</a></p>
                        <p class="team"><a href="">永川茶山竹海女足</a><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""></p>
                        <p class="vs">VS</p>
                        <p class="team"><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""><a href="">杭州银行女足</a></p>
                        <a class="right-btn" href=""><i class="iconfont icon-bofang"></i><span>锦集/录像</span></a>
                    </dd>
                    <dd>
                        <p class="time"><i class="iconfont icon-zuqiu"></i>15:00</p>
                        <p class="type"><a href="">中女超</a></p>
                        <p class="team"><a href="">永川茶山竹海女足</a><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""></p>
                        <p class="vs">VS</p>
                        <p class="team"><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""><a href="">杭州银行女足</a></p>
                        <a class="right-btn" href=""><i class="iconfont icon-zhibo"></i><span>直播中...</span></a>
                    </dd>
                </dl>
                <p class="play-date">2023-04-29</p>
                <dl class="list-cont">
                    <dd>
                        <p class="time"><i class="iconfont icon-zuqiu"></i>15:00</p>
                        <p class="type"><a href="">中女超</a></p>
                        <p class="team"><a href="">永川茶山竹海女足</a><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""></p>
                        <p class="vs">VS</p>
                        <p class="team"><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""><a href="">杭州银行女足</a></p>
                        <a class="right-btn" href=""><i class="iconfont icon-fenxi"></i><span>赛前分析</span></a>
                    </dd>
                    <dd>
                        <p class="time"><i class="iconfont icon-zuqiu"></i>15:00</p>
                        <p class="type"><a href="">中女超</a></p>
                        <p class="team"><a href="">永川茶山竹海女足</a><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""></p>
                        <p class="vs">VS</p>
                        <p class="team"><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""><a href="">杭州银行女足</a></p>
                        <a class="right-btn" href=""><i class="iconfont icon-bofang"></i><span>锦集/录像</span></a>
                    </dd>
                    <dd>
                        <p class="time"><i class="iconfont icon-zuqiu"></i>15:00</p>
                        <p class="type"><a href="">中女超</a></p>
                        <p class="team"><a href="">永川茶山竹海女足</a><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""></p>
                        <p class="vs">VS</p>
                        <p class="team"><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""><a href="">杭州银行女足</a></p>
                        <a class="right-btn" href=""><i class="iconfont icon-bofang"></i><span>锦集/录像</span></a>
                    </dd>
                    <dd>
                        <p class="time"><i class="iconfont icon-zuqiu"></i>15:00</p>
                        <p class="type"><a href="">中女超</a></p>
                        <p class="team"><a href="">永川茶山竹海女足</a><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""></p>
                        <p class="vs">VS</p>
                        <p class="team"><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""><a href="">杭州银行女足</a></p>
                        <a class="right-btn" href=""><i class="iconfont icon-zhibo"></i><span>直播中...</span></a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="right-main">
        {include file="assembly/zixun"/}
        {include file="assembly/luxiang"/}
        {include file="assembly/jijin"/}
        {include file="assembly/hotkey"/}
    </div>
</div>
{/block}
<!-- /主体 -->
<!-- 脚本 -->
{block name="script"}
<script>

</script>
{/block}
<!-- /脚本 -->