{extend name="common/base"/}
{block name="style"}

<link rel="stylesheet" href="{__CSS__}/public.css?v=1{:get_system_config('web','version')}">
<link rel="stylesheet" href="{__CSS__}/layui.css">
<link rel="stylesheet" href="{__CSS__}/newstyle.css">
{/block}

<!-- 主体 -->
{block name="body"}
{include file="common/header" nav='index' /}
<div class="main clearfix">
	<div class="main-wrap flex">
		<div class="data-list">
			<ul id="data-list">
				<li class="head">
					<span>排名</span>
					<span>球队</span>
					<span>场次</span>
					<span>胜</span>
					<span>平</span>
					<span>负</span>
					<span>进球</span>
					<span>失球</span>
					<span>净胜球</span>
					<span>积分</span>
				</li>
				{foreach $integral as $level}
				<?php $name='ABCDEFGHIJKLMNOPQRSTUVWXYZ'; if(count($integral)>1): ?>
				<li class="group-name"><span>{$name[$level.group-1]}组</span></li>
				<?php endif; ?>
                    {foreach $level['rows'] as $item}
                    <li><span><i class={$item.position<4?'top':''}{$item.position}>{$item.position}</i></span><span><img src={$item.team_logo}><a href=team/{$item.team_id}.html target=_blank>{$item.team_name}</a></span><span>{$item.total}</span><span>{$item.won}</span><span>{$item.draw}</span><span>{$item.loss}</span><span>{$item.goals}</span><span>{$item.goals_against}</span><span>{$item.goal_diff}</span><span>{$item.points}</span></li>
                    {/foreach}
                {/foreach}
			</ul>
		</div>
	</div>
</div>
{/block}
<!-- 脚本 -->
{block name="script"}
<script>

</script>
{/block}
<!-- /脚本 -->