{extend name="common/base"/}
{block name="style"}

<link rel="stylesheet" href="{__CSS__}/public.css?v=1{:get_system_config('web','version')}">
<link rel="stylesheet" href="{__CSS__}/layui.css">
<link rel="stylesheet" href="{__CSS__}/newstyle.css">
{/block}

<!-- 主体 -->
{block name="body"}
{include file="common/header" nav='index' /}
<div class="main clearfix">
	<div class="main-wrap flex">
		<div class="left-main">
			<div class="new-content">
				<div class="breadcrumbs">
					<li><a href="/" target="_blank">首页</a></li>
					<li>></li>
					<li><a href="/news/" target="_blank">西甲新闻</a></li>
				</div>
				<h1>
					{$article.title}
					<p><span>发布时间：{$article.create_time|date='Y-m-d H:i'}</span><span>作者：{$article.origin}</span></p>
				</h1>
				<div class="cont">
					{$article.content|raw}
				</div>
				<div class="connect">
					<span>上一篇：<?php echo !empty($first['title']) ? '<a href='.$first['id'].'.html>'.$first['title'].'</a>' :"没有了"; ?></span>
					<span>下一篇：<?php echo !empty($next['title']) ? '<a href='.$next['id'].'.html>'.$next['title'].'</a>' :"没有了"; ?></span>
				</div>
				<div class="keyword">
					<label>标签 : </label>
					{foreach $keywords as $item}
					<span><a href="/news/1/{$item.id}.html">{$item.title}</a></span>
					{/foreach}
				</div>
			</div>
			<div class="about-new">
				<div class="play-title">
					<p class="title"><span>推荐阅读</span></p>
				</div>
				<dl class="about-list">
					{foreach $aboutArticle as $item}
					<dd>
						<a href="{:url('newcont',['id'=>$item.id])}" target="_blank">
							<div class="new-img">
								<img title="{$item.title}"
									 alt="{$item.title}"
									 src="{$item.origin_url?$item.origin_url:'/static/home/images/noimage.png'}">
							</div>
							<div class="cont">
								<h4 title="{$item.title}">{$item.title}</h4>
								<p class="desc">{$item.desc}</p>
							</div>
						</a>
					</dd>
					{/foreach}
				</dl>
			</div>
		</div>
		<div class="right-main">
			<div class="right-box">
				{include file="sphere/hotLive" /}
			</div>
			<div class="right-box">
				{include file="article/hotNews"/}
			</div>
		</div>
	</div>
</div>

{/block}
<!-- 脚本 -->
{block name="script"}
<script>

</script>
{/block}
<!-- /脚本 -->