{extend name="common/base"/}
{block name="style"}

<link rel="stylesheet" href="{__CSS__}/public.css?v=1{:get_system_config('web','version')}">
<link rel="stylesheet" href="{__CSS__}/layui.css">
<link rel="stylesheet" href="{__CSS__}/newstyle.css">
{/block}

<!-- 主体 -->
{block name="body"}
{include file="common/header" nav='index' /}
<div class="main clearfix">
    <div class="main-wrap flex">
        <div class="left-main news-list" id="news-list">
            <ul>
                {foreach $news.data as $item}
                <li>
                    <dl>
                        <dt>
                            <a href="{:url('newcont',['id'=>$item.id])}" target="_blank"><img title="{$item.title}"
                                                                                              alt="{$item.title}"
                                                                                              src="{$item.origin_url?$item.origin_url:'/static/home/images/noimage.png'}"></a>
                        </dt>
                        <dd>
                            <a href="{:url('newcont',['id'=>$item.id])}" target="_blank">
                                <h4 title="{$item.title}">{$item.title}</h4>
                                <p class="desc">{$item.desc}</p>
                            </a>
                            <p class="other">
								<span>
                                    {volist name="item.articleKeywords" id="word" length='5'}
                                    <i><a href="/news/1/{$word.id}.html" target="_blank">{$word.title}</a></i>
                                    {/volist}
								</span>
                                <span>
									<i>浏览：{$item.read}</i>
									<i>时间：{$item.create_time|date='Y-m-d H:i'}</i>
								</span>
                            </p>
                        </dd>
                    </dl>
                </li>
                {/foreach}
            </ul>
            <p class="pages">
                <?php
				$cur=$news['current_page'];
				$total=ceil($news['total']/$news['per_page']);
				$start=$total>9&&$cur>5?($total-$cur<5?$total-8:$cur-4):1;
                $end=$total>9&&$cur>5?($cur+5>$total?$total+1:$cur+5):($total>9?10:$total+1);
                ?>
                <a href="{$cur==1?'':('/news/'.($label>0?($cur-1).'/'.$label:($cur-1)).'.html')}"><</a>
                {for start='$start' end='$end'}
                <a href="{$cur==$i?'#':('/news/'.($label>0?$i.'/'.$label:$i).'.html')}">{$i}</a>
                {/for}
                <a href="{$cur==$total?'':('/news/'.($label>0?($cur+1).'/'.$label:($cur+1)).'.html')}">></a>
            </p>
        </div>
        <div class="right-main">
            <div class="right-box">
                {include file="article/keyWord" /}
            </div>
            <div class="right-box">
                {include file="sphere/hotLive" /}
            </div>
        </div>
    </div>
</div>
{/block}
<!-- 脚本 -->
{block name="script"}
<script>

</script>
{/block}
<!-- /脚本 -->