<div class="cont-list" id="cont-list">
	<?php $weekarray=["星期日","星期一","星期二","星期三","星期四","星期五","星期六"];

	if(is_array($match)&&count($match)>0): ?>
	{foreach $match as $key=>$item}
	<div class="cont-box">
		<span class='left-tab <?php echo getzt($item['status_id'],0) ?>'>{$item.status_text}<i style="display: none">{$item.status_id}</i></span>
		<div class=start-date>{$item.match_time|date='Y-m-d'} <?php echo $weekarray[date("w",$item['match_time'])]?></div>
		<div class=match>
			<ul>
				<li>{$item.match_time|date='H:i'}</li>
				<li>{$item.competition_text}</li>
				<li><a href=/team/{$item.home_team_id}.html target=_blank>{$item.home_team_text}</a><img
						src={$item.home_team_logo}></li>
				<li>VS</li>
				<li><img src={$item.away_team_logo}><a href=/team/{$item.away_team_id}.html
						target=_blank>{$item.away_team_text}</a></li>
				<li></li>
			</ul>
		</div>
		<div class='play-btn <?php echo getzt($item['status_id'],0) ?>'><a href=/info/{$item.status_id==8?'jjlx':'sqfx'}/{$item.id}.html target=_blank><i class='<?php echo getzt($item['status_id'],2) ?>'></i><?php echo getzt($item['status_id'],1) ?></a></div>
	</div>
	{/foreach}
	<?php else: ?>
	<p class=nodata>暂无数据</p>
	<?php endif; ?>
</div>
<script>
	let status = ['0', '1', '8', '9', '10', '11', '12', '13'];
	$(".left-tab i").each(function (i,item){
		let id = $(item).text();
		if(status.indexOf(id)==-1){
			$(item).parents('.cont-box').attr('style','--main-color:#f57b32')
		}
	})
</script>