{extend name="common/base"/}
{block name="style"}

<link rel="stylesheet" href="{__CSS__}/public.css?v=1{:get_system_config('web','version')}">
<link rel="stylesheet" href="{__CSS__}/layui.css">
<link rel="stylesheet" href="{__CSS__}/newstyle.css">
{/block}

<!-- 主体 -->
{block name="body"}
{include file="common/header" nav='index' /}
<div class="main clearfix">
    <div class="main-wrap flex">
        <div class="left-main">
            <div class="play-list">
                <div class="play-title">
                    <?php $hotCompetition = getHotComp(); ?>
                    {volist name="hotCompetition" id="item" length='8'}
                    <p><a href="{:url('playback' . '/'.$item.id)}">{$item.short_name_zh}</a></p>
                    {/volist}
                    <div class="select">更多直播<span class="arrow"></span>
                        <ul>
                            {volist name="hotCompetition" id="item" offset="8"}
                            <li><a href="{:url('playback' . '/'.$item.id)}">{$item.short_name_zh}</a></li>
                            {/volist}
                        </ul>
                    </div>
                </div>
                <div class="type-tab sp" id="type-tab">
                    <?php $id = get_params(); ?>
                    {foreach $dateRange as $key=>$item}
                    <p><a href="/playback/{$id.id}/<?php echo str_replace('-','',$item) ?>.html">{$item}</a></p>
                    {/foreach}
                </div>
                {include file="newadd/playlist" datalist="match"/}
            </div>
        </div>
        <div class="right-main">
            <div class="right-box">
                {include file="article/hotNews" /}
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script>
    let patchname = window.location.pathname.replace('.html', '');
    let first = true;

    $(".play-title>p").each(function (i, item) {
        let href = $(item).find('a').attr('href').replace('.html', '');
        if (patchname.indexOf(href) > -1) $(item).addClass('title');
    })

    $("#type-tab p").each(function (i, item) {
        let link = $(item).find('a').attr('href').replace('.html', '');
        if (patchname.indexOf(link) > -1) {
            $(item).addClass('cur');
            first = false;
        }
    })

    if(first) $("#type-tab p").eq(0).addClass('cur');
</script>
{/block}