<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<style>
			.asd {
				filter: drop-shadow(0 0 #c00);
			}

			.azz {
				width: 400px;
				height: 400px;
				-webkit-mask-image: url(../../../../public/static/home/images/fx.png);
				mask-image: url(../../../../public/static/home/images/fx.png);
				background: #c00;
				mask-size: contain;
				mask-position: center;
				mask-repeat: no-repeat;
				-webkit-mask-size: contain;
				-webkit-mask-position: center;
				-webkit-mask-repeat: no-repeat;
			}
		</style>
	</head>
	<body>
		<img src="../../../../public/static/home/images/fx.png" class="asd">
		<div class="azz"></div>
	</body>
</html>