{extend name="common/base"/}
{block name="style"}
{/block}
<!-- 主体 -->
{block name="body"}
{include file="common/header" nav='info' /}
<div class="container">
    <div class="left-main">
        <div class="yuce-content">
            <div class="match-info">
                <div class="team">
                    <p class="team-logo"><a href="/qiudui-{$ball}/{$info.home_team_id}" target="_blank"><img
                            src="{$info.home.logo??''}"></a></p>
                    <p class="name"><a href="/qiudui-{$ball}/{$info.home_team_id}" target="_blank">{$info.home.name_zh??''}</a>
                    </p>
                </div>
                <div class="bf"></div>
                <div class="info">
                    <p>{$info.match_time|date='Y-m-d H:i'}</p>
                    <p class="zt"></p>
                    <p></p>
                </div>
                <div class="bf"></div>
                <div class="team">
                    <p class="team-logo"><a href="/qiudui-{$ball}/{$info.away_team_id}" target="_blank"><img
                            src="{$info.away.logo??''}"></a></p>
                    <p class="name"><a href="/qiudui-{$ball}/{$info.away_team_id}" target="_blank">{$info.away.name_zh??''}</a>
                    </p>
                </div>
            </div>
            <h1>{$info.home.name_zh??''}vs{$info.away.name_zh??''}：预测分析,比分预测,在线直播,比赛结果</h1>
            <div class="cont">
                {$info.forecast|raw}
            </div>
        </div>
    </div>
    <div class="right-main">
        {include file="assembly/zhibo"/}
        {include file="assembly/luxiang"/}
        {include file="assembly/jijin"/}
        {include file="assembly/hotkey"/}
    </div>
</div>
{/block}
<!-- /主体 -->
<!-- 脚本 -->
{block name="script"}
<script>

</script>
{/block}
<!-- /脚本 -->