{extend name="common/base"/}
<!-- 主体 -->
{block name="body"}
<div class="layui-form p-4">
	<h3 class="pb-3">国家地区详情</h3>
	<table class="layui-table layui-table-form">
		<tr><td class="layui-td-gray-2">分类id</td>
			<td>{$detail.category_id}</td><td class="layui-td-gray-2">中文名称</td>
			<td>{$detail.name_zh}</td><td class="layui-td-gray-2">粤语名称</td>
			<td>{$detail.name_zht}</td>
		</tr><tr><td class="layui-td-gray-2">英文名称</td>
			<td>{$detail.name_en}</td><td class="layui-td-gray-2">更新时间</td>
			<td>{$detail.updated_at|date="Y-m-d H:i:s"}</td>
			<td class="layui-td-gray-2"></td>
			<td></td>
		</tr>

		<tr><td class="layui-td-gray-2">国家logo<font>*</font></td>
			<td colspan="5" style="vertical-align:top">
				<div class="layui-upload">

					<div class="layui-upload-list" id="upload_box_logo">
						<img src="{$detail.logo}" onerror="javascript:this.src='{__GOUGU__}/gougu/images/nonepic600x360.jpg';this.onerror=null;" style="width:200px;max-width:200px" />

					</div>
				</div>
			</td>
		</tr>

	</table>
</div>
{/block}
<!-- /主体 -->