:root {
    --main-color: #4375bf;
    --main-r: 67;
    --main-g: 117;
    --main-b: 191;
}


body {
    background-color: #f3f3f3;
    color: #444;
    font-family: Arial, "Microsoft YaHei";
    padding-top: 70px;
    font-size: 14px;
}

a {
    color: #444;
}

a:hover {
    color: var(--main-color);
}

img {
    vertical-align: middle;
    object-fit: contain;
}

.right-tool {
    position: fixed;
    right: 0;
    bottom: 80px;
    z-index: 999;
}

.right-tool p {
    width: 50px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    text-align: center;
    background-color: rgba(var(--main-r), var(--main-g), var(--main-b), 0.6);
}

.right-tool p:hover {
    background-color: var(--main-color);
}

.right-tool p.gotop {
    display: none;
}

.right-tool p.gotop i {
    font-size: 30px;
    color: #fff;
}

i.iconfont {
    color: var(--main-color);
    font-size: 18px;
}

#header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition: 0.5s;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.head {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    height: 70px;
    align-items: center;
}

.head h1.logo {
    display: flex;
    align-items: center;
    margin-right: 80px;
    padding-left: 20px;
    -webkit-mask-position: 20px 0;
    -webkit-mask-size: auto 40px;
    -webkit-mask-repeat: no-repeat;
    background-color: var(--main-color);
}

.head h1.logo img {
    height: 40px;
    width: auto;
    opacity: 0;
}

.head .nav ul {
    display: flex;
}

.head .nav li {
    height: 50px;
    color: #444;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    margin-right: 16px;
}

.head .nav li i.iconfont {
    display: inline-block;
    padding: 0 8px;
    font-size: 12px;
    margin-right: -8px;
    color: #444;
    transition: transform 0.3s;
}

.head .nav li:first-child i {
    display: none;
}

.head .nav li.cur a {
    border-image: linear-gradient(to right, rgb(var(--main-r), var(--main-g), var(--main-b)), rgb(calc(255 - var(--main-r)), calc(255 - var(--main-g)), calc(255 - var(--main-b)))) 1;
}

.head .nav li > a {
    height: 47px;
    line-height: 50px;
    border-bottom: 3px solid transparent;
    padding: 0 14px;
    display: block;
    font-size: 17px;
    color: #444;
    transition: 0.5s;
}

.head .nav li:hover > a {
    border-image: linear-gradient(to right, rgb(var(--main-r), var(--main-g), var(--main-b)), rgb(calc(255 - var(--main-r)), calc(255 - var(--main-b)), calc(255 - var(--main-g)))) 1;
    color: var(--main-color);
}

.head .nav li:hover i.iconfont {
    color: var(--main-color);
    transform: rotate(180deg);
}

.head .nav li .sub {
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 50px;
    padding-top: 6px;
    text-align: center;
}

.head .nav li:hover .sub {
    height: auto;
    box-shadow: 0 3px 6px 0 rgba(206, 206, 206, 0.8);
}

.head .nav li .sub a {
    color: #444;
    font-size: 15px;
    padding: 10px 24px 0;
    display: block;
    background-color: #fff;
    white-space: nowrap;
    transition: 0.3s;
}

.head .nav li .sub a:first-child {
}

.head .nav li .sub a:last-child {
    padding-bottom: 10px;
}

.head .nav li:hover .sub a {
    padding-top: 18px;
}

.head .nav li:hover .sub a:last-child {
    padding-bottom: 18px;
}

.head .nav li .sub a:hover {
    color: var(--main-color);
}

.head .search {
    margin-left: auto;
    font-size: 0;
    border-radius: 16px;
    background-color: var(--main-color);
    margin-right: 10px;
}

.head .search input {
    height: 32px;
    width: 120px;
    color: #fff;
    font-size: 12px;
    padding: 0 10px 0 18px;
    background-color: transparent;
    border: none;
    vertical-align: bottom;
}

.head .search button {
    cursor: pointer;
    height: 32px;
    width: 44px;
    background-color: transparent;
}

.head .search button i.iconfont {
    color: #fff;
}

.subnav {
    width: 1200px;
    margin: 20px auto 0;
    box-sizing: border-box;
    background-color: rgb(var(--main-r), var(--main-g), var(--main-b)) !important;
}

.subnav ul {
    width: 100%;
    padding: 16px 8px;
    display: flex;
    align-items: center;
}

.subnav ul li:not(:last-child) {
    border-right: 1px solid #fff6;
}

.subnav ul li a {
    display: block;
    padding: 0 20px;
    color: #fff;
    font-size: 16px;
}

.subnav ul li a:hover {
    text-decoration: underline;
}

.copyright {
    padding: 30px 0;
    background-color: #333;
}

.copyright .main {
    width: 1200px;
    margin: 0 auto;
    color: #ccc;
}

.copyright .main .info {
    font-size: 13px;
    line-height: 24px;
    padding-bottom: 10px;
}

.copyright .main .link {
    text-align: center;
}

.copyright .main .link a {
    padding: 0 10px;
    font-size: 12px;
    color: #999;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0 60px;
    display: flex;
    justify-content: space-between;
}

.left-main > div,
.right-main > div {
    background-color: #fff;
    margin-bottom: 20px;
}

.left-main {
    width: 850px;
}

.right-main {
    width: 320px;
}

.icon-zuqiu {
    color: #2e2e2e !important;
}

.icon-lanqiu {
    color: #ff7517 !important;
    background: #000;
    border-radius: 50%;
}

.main-model {
}

.main-model .title {
    display: flex;
    padding: 14px 0;
    height: 42px;
}

.main-model .title .name {
    display: flex;
    align-items: center;
    padding: 0 10px 0 14px;
    font-size: 26px;
    color: #2e2e2e;
}

.main-model .title .name i {
    font-size: 28px;
    margin-right: 8px;
}

.main-model .title .name span {
    max-width: 140px;
}

.main-model .title .tool {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 10px;
    height: 32px;
    flex-grow: 1;
    font-size: 15px;
    border-bottom: 3px solid var(--main-color);
}

.main-model .title .tool > p a {
    cursor: pointer;
    padding: 0 10px;
}

.main-model .title .tool > p a.cur {
    font-weight: bold;
    color: var(--main-color);
}

.main-model .title .tool > p a:not(:first-child) {
    border-left: 1px solid #ccc;
}

.main-model .title .tool {
    position: relative;
}

.main-model .title .tool .spbtn {
    position: absolute;
    bottom: -40px;
    border-radius: 3px;
    font-size: 12px;
    color: #fff6;
    background-color: var(--main-color);
    padding: 6px 4px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
    white-space: nowrap;
}

.main-model .title .tool .spbtn span {
    color: #fff8;
    padding: 0 6px;
    cursor: pointer;
}

.main-model .title .tool .spbtn span.cur {
    color: #fff;
}

.main-model .title .tool .spbtn i {
    left: 50%;
    margin-left: -5px;
    top: -5px;
    border-width: 0 5px 5px;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-bottom-color: var(--main-color);
}

.main-model .title .tool .nocur {
    bottom: -50px;
    right: 20px;
}

.main-model .title .tool .nocur i {
    display: none;
}

.right-btn {
    margin-right: -10px;
    position: relative;
}

.right-btn span {
    cursor: pointer;
    height: 32px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    color: #fff;
    background-color: var(--main-color);
}

.right-btn .moresel {
    display: none;
    position: absolute;
    right: 0;
    top: 34px;
    padding-top: 10px;
    z-index: 999;
    cursor: default;
}

.right-btn:hover .moresel {
    display: block;
}

.right-btn .moresel ul {
    box-shadow: 0 0 4px rgba(0, 0, 0, .6);
    background-color: #fff;
    border: 1px solid var(--main-color);
    border-radius: 4px;
    padding: 10px;
    width: 400px;
    max-height: 500px;
}

.right-btn .moresel li {
    text-indent: -39px;
    padding: 10px 0 10px 46px;
    font-size: 13px;
}

.right-btn .moresel li a {
    display: inline-block;
    margin: 6px 12px 6px 0;
    color: var(--main-color);
    text-indent: 0;
}

.right-btn .moresel li a:hover {
    text-decoration: underline;
}

.collect .list {
    padding: 6px 20px 12px;
}

.collect .list ul {
    display: none;
}

.collect .list ul.cur {
    display: block;
}

.collect .list li {
    display: flex;
    padding: 6px 0;
    justify-content: space-between;
    align-items: center;
}

.collect .list li a {
    font-size: 16px;
    width: 650px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.collect .list li span {
    color: #999;
}

.play-list {
    overflow: hidden;
}

.play-list .play-date {
    font-size: 14px;
    line-height: 44px;
    color: var(--main-color);
    padding: 0 20px;
}

.list-cont.sp {
    display: none;
}

.list-cont.cur {
    display: block;
}

.list-cont dd {
    padding: 0 20px;
}

.list-cont dd .item-box {
    border-top: 1px solid #f1f1f1;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-cont dd.over:hover {
    background-color: #96969611;
}

.list-cont dd.ing:hover {
    background-color: rgba(calc(255 - var(--main-r)), calc(255 - var(--main-g)), calc(255 - var(--main-b)), 0.05);
}

.list-cont dd.not:hover {
    background-color: rgba(var(--main-r), var(--main-g), var(--main-b), 0.05);
}

.list-cont dd .left {
    width: 130px;
}

.list-cont dd .time {
    font-size: 18px;
    font-weight: bold;
}

.list-cont dd .name {
    font-size: 15px;
    padding-top: 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.list-cont dd .right {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.list-cont dd .right a {
    display: flex;
    width: 110px;
    height: 36px;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    box-shadow: 0 2px 3px #0003;
}

.list-cont dd.over .right a {
    border-color: rgb(var(--main-r), var(--main-g), var(--main-b));
    background-color: rgb(var(--main-r), var(--main-g), var(--main-b));
    color: #fff;
}

.list-cont dd.ing .right a {
    border-color: rgb(calc(255 - var(--main-r)), calc(255 - var(--main-g)), calc(255 - var(--main-b)));
    background-color: rgb(calc(255 - var(--main-r)), calc(255 - var(--main-g)), calc(255 - var(--main-b)));
    color: #fff;
}

.list-cont dd.not .right a {
    border-color: rgb(var(--main-r), var(--main-g), var(--main-b));
    background-color: #fff;
    color: var(--main-color);
}

.list-cont dd.over .right a i,
.list-cont dd.ing .right a i {
    color: #fff;
}

.list-cont dd .right span {
    display: inline-block;
    width: 60px;
    padding-left: 8px;
}

.list-cont dd .center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-cont dd .center .zt {
    width: 60px;
    text-align: center;
}

.list-cont dd .center a {
    display: flex;
    align-items: center;
    font-size: 15px;
}

.list-cont dd .center p {
    width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.list-cont dd .center .left-name p {
    text-align: right;
}

.list-cont dd .center .bf {
    width: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.list-cont dd .center img {
    width: 34px;
    height: 34px;
    margin: 0 8px;
}

.sub-model {
}

.sub-model .title {
    display: flex;
}

.sub-model .title .name {
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 0 14px;
    height: 40px;
    border-bottom: 3px solid var(--main-color);
}

.sub-model .title .more {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 20px;
    flex: 1;
    margin-left: 2px;
    height: 40px;
    border-bottom: 3px solid rgb(calc(255 - var(--main-r)), calc(255 - var(--main-g)), calc(255 - var(--main-b)));
}

.sub-model .cont {
    padding: 12px;
}

.match-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px 0;
}

.match-type a {
    width: 29%;
    border: 1px solid #f1f1f1;
}

.match-type img {
    display: block;
    margin: 10px auto;
    width: 64px;
    height: 64px;
}

.match-type p {
    text-align: center;
    height: 30px;
    line-height: 30px;
    background-color: #eee;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.match-type a:hover {
    border-color: var(--main-color);
    color: #fff;
}

.match-type a:hover p {
    background-color: var(--main-color);
}

.team-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px 0;
}

.team-type a {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 2px;
    width: 46%;
    border-radius: 20px;
}

.team-type img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: var(--main-color);
}

.team-type p {
    padding-left: 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.team-type a:hover {
    border-color: var(--main-color);
    color: #fff;
    background-color: var(--main-color);
}

.team-type a:hover img {
    background-color: #fff;
}

.hot-tags {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
}

.hot-tags a {
    padding: 5px 8px;
    margin: 8px;
    background-color: rgba(var(--main-r), var(--main-g), var(--main-b), 0.1);
    color: var(--main-color);
    border-radius: 3px;
    transition: 0.3s;
}

.hot-tags a:hover {
    background-color: rgb(calc(255 - var(--main-r)), calc(255 - var(--main-g)), calc(255 - var(--main-b)));
    color: #fff;
    transform: scale(1.2);
}

.item-list {
}

.item-list li {
    display: flex;
    height: 34px;
    align-items: center;
}

.item-list a {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-list li::before {
    display: inline-block;
    flex-shrink: 0;
    height: 6px;
    content: '';
    width: 6px;
    background: #ddd;
    border-radius: 50%;
    margin-right: 8px;
}

.video-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 8px 16px;
}

.video-list .play {
    width: 48%;
    margin: 8px 0;
}

.video-list .play img {
    width: 100%;
    aspect-ratio: 3/2;
    border-radius: 4px;
    object-fit: cover;
}

.video-list .play .tit {
    padding-top: 10px;
    font-size: 13px;
    height: 44px;
    line-height: 22px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all;
    overflow: hidden;
}

.infoimg {
    display: block;
    width: 850px;
    height: auto;
    margin-bottom: 20px;
    object-fit: cover;
}

.laliga-info {
    display: flex;
    padding: 20px;
}

.laliga-logo {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #888;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, .3);
}

.laliga-logo img {
    width: 150px;
    height: auto;
    min-height: 150px;
    max-height: 180px;
    object-fit: contain;
}

.laliga-intro {
    padding-left: 30px;
}

.laliga-intro h1 {
    padding-top: 10px;
    font-size: 28px;
    color: var(--main-color);
    display: flex;
    justify-content: space-between;
}

.laliga-intro h3 a {
    font-size: 15px;
    color: var(--main-color);
}

.laliga-intro p {
    padding-top: 20px;
    text-indent: 2em;
    line-height: 28px;
    font-size: 15px;
}

.list-back {
    overflow: hidden;
}

.list-back dd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    padding: 0 20px;
}

.list-back dd:nth-child(odd) {
    background-color: rgba(var(--main-r), var(--main-g), var(--main-b), 0.1)
}

.list-back dd:hover {
    background-color: rgba(calc(255 - var(--main-r)), calc(255 - var(--main-g)), calc(255 - var(--main-b)), 0.05);
}

.back-cont {
    width: 65%;
}

.back-cont a {
    display: block;
    line-height: 64px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.back-cont span {
    padding-right: 10px;
}

.back-team {
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 14px;
}

.back-team a {
    padding-left: 10px;
}

.pages {
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

.pages a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 10px;
    font-size: 16px;
    background-color: #fff;
    user-select: none;
}

.pages a[href=''] {
    pointer-events: none;
    background-color: #eee;
}

.pages a[href='#'] {
    pointer-events: none;
    color: #fff;
    border-color: var(--main-color);
    background-color: var(--main-color);
}

.live-list {
}

.live-list dd:not(:last-child) {
    border-bottom: 1px solid rgba(var(--main-r), var(--main-g), var(--main-b), 0.3);
    padding-bottom: 14px;
    margin-bottom: 14px;
}

.live-list .top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6px 6px;
}

.live-list .league {
    padding-top: 4px;
}

.live-list .right-part a {
    display: flex;
    align-items: center;
}

.live-list .right-part i {
    margin-right: 4px;
}

.live-list .middle-container {
    display: flex;
    align-items: center;
    text-align: center;
}

.live-list .middle-container .team {
    width: 35%;
}

.live-list .middle-container .info {
    width: 30%;
}

.live-list .middle-container .score {
    font-size: 20px;
}

.live-list .middle-container .status {
    padding-top: 6px;
}

.live-list .middle-container img {
    width: 44px;
    height: 44px;
}

.live-list .middle-container .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 12px;
}

.news-list dd {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}

.news-list dd a {
    width: 190px;
}

.news-list dd img {
    width: 100%;
    height: 130px;
    object-fit: cover;
}

.news-list dd > div {
    width: calc(100% - 210px);
}

.news-list dd h4 {
    display: flex;
    align-items: center;
    padding-bottom: 12px;
    justify-content: space-between;
}

.news-list dd h4 a {
    font-size: 17px;
    width: 470px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.news-list dd h4 span {
    font-size: 13px;
    color: #999;
}

.news-list dd p.desc {
    font-size: 15px;
    line-height: 26px;
    height: 52px;
    color: #999;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all;
    overflow: hidden;
}

.news-list dd p.other {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    color: #666;
}

.news-list dd p.other span:first-child a {
    margin-right: 10px;
    color: #666;
}

.news-list dd p.other span:last-child {
    font-size: 13px;
    color: #999;
}

.new-content {
    padding: 30px;
}

.new-content h1 {
    font-size: 30px;
    font-weight: normal;
    line-height: 44px;
}

.new-content .info {
    color: #999;
    padding: 14px 0 20px;
    font-size: 14px;
}

.new-content .info span {
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1px solid #ddd;
}

.new-content .info span:last-child {
    border: none;
}

.new-content .cont {
    line-height: 30px;
    font-size: 16px;
    padding: 20px 0;
    overflow: hidden;
}

.new-content .cont p {
    padding-bottom: 10px;
    color: #666;
}

.new-content .cont img {
    display: block;
    margin: 20px auto;
    max-width: 100% !important;
}

.new-content .connect {
    display: flex;
    padding-top: 20px;
    border-top: 1px dashed #eee;
    justify-content: space-between;
}

.new-content .connect span {
    width: 50%;
    box-sizing: border-box;
    line-height: 24px;
}

.new-content .connect span:first-child {
    padding-right: 20px;
}

.new-content .connect span:last-child {
    padding-left: 20px;
}

.new-content .keyword {
    font-size: 14px;
    padding-bottom: 20px;
}

.new-content .keyword a {
    display: inline-block;
    font-size: 15px;
    padding: 5px 8px;
    margin-right: 15px;
    background-color: #eee;
    color: var(--main-color);
}

.new-content .keyword a:hover {
    background-color: var(--main-color);
    color: #fff;
}

.about-new ul {
    display: flex;
    flex-wrap: wrap
}

.about-new li {
    width: 50%;
}

@property --direc {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.playbg {
    --direc: 0deg;
    padding: 30px 0;
    background: #000 conic-gradient(from var(--direc), rgba(calc(255 - var(--main-r)), calc(255 - var(--main-g)), calc(255 - var(--main-b)), 0.3), rgba(var(--main-r), var(--main-g), var(--main-b), 0.3), rgba(calc(255 - var(--main-r)), calc(255 - var(--main-g)), calc(255 - var(--main-b)), 0.3));
    animation: spin 5s linear infinite;
}

@keyframes spin {
    to {
        --direc: 360deg;
    }
}

.playbg .play,
.live-link {
    width: 1200px;
    margin: 0 auto;
}

.match-info {
    height: 220px;
    display: flex;
    padding-bottom: 60px;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    background: url(../images/match-info.jpg) no-repeat center top/cover;
}

.match-info .team {
    width: 300px;
    text-align: center;
}

.match-info .team-logo {
    width: 110px;
    height: 110px;
    background-color: var(--main-color);
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    margin: 0 auto 20px;
}

.match-info .team-logo img {
    width: 80%;
    height: 80%;
    object-fit: contain;
    margin-top: 10%;
}

.match-info .team .name {
    font-size: 24px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.match-info .team .name a {
    color: #fff;
}

.match-info .team .name span {
    font-size: 30px;
    display: block;
}

.match-info .bf {
    padding: 0 40px;
    font-size: 80px;
}

.match-info .info {
    width: 170px;
    text-align: center;
}

.match-info .info p {
    padding: 14px 0;
}

.match-info .info .zt {
    font-size: 34px;
}

.match-info .type-tab {
    border-bottom: 1px solid #ddd;
}

.match-info .tab-cont {
    padding: 30px;
}

.live-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-top: -80px;
}

.live-link a {
    display: inline-block;
    margin: 0 10px;
    padding: 6px 12px;
    color: #fff;
    background-color: var(--main-color);
}

.type-tabs {
    height: 50px;
    display: flex;
    padding: 0 20px;
    border-bottom: 1px solid rgba(calc(255 - var(--main-r)), calc(255 - var(--main-g)), calc(255 - var(--main-b)), 0.3);
}

.type-tabs p {
    font-size: 18px;
    padding: 0 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: -1px;
    margin-right: 20px;
    border-bottom: 3px solid transparent;
}

.type-tabs p.cur {
    font-weight: bold;
    border-color: var(--main-color);
}

.type-cont {
    display: none;
    padding: 20px;
}

.main-model .type-cont:nth-child(2) {
    display: block;
}

.type-cont .name-tab {
    display: flex;
    justify-content: center;
    align-items: center;
}

.type-cont .name-tab li {
    height: 36px;
    line-height: 36px;
    padding: 0 24px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    background-color: #ddd;
    border-radius: 5px;
    margin-right: 10px;
    transition: 0.5s;
    background-color: rgba(calc(255 - var(--main-r)), calc(255 - var(--main-g)), calc(255 - var(--main-b)), 0.1);
    color: rgb(calc(255 - var(--main-r)), calc(255 - var(--main-g)), calc(255 - var(--main-b)));
}

.type-cont .name-tab li.cur {
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color: #fff;
    background-color: var(--main-color);
}

.type-cont .name-cont {
    display: none;
}

.type-cont .name-cont:nth-of-type(1) {
    display: block;
}

.type-cont .linklist li {
    line-height: 40px;
    font-size: 16px;
    list-style: inside;
}

.name-cont ul {
    border: 1px solid #ddd;
    margin-top: 30px;
}

.name-cont ul li {
    display: flex;
    height: 48px;
    border-top: 1px solid #ddd;
    align-items: center;
    justify-content: space-between;

}

.name-cont ul li.header {
    color: var(--main-color);
    font-weight: bold;
}

.name-cont ul li:first-child {
    border-top: none;
}

.name-cont ul li span {
    width: 20%;
    text-align: center;
}

.census {
    display: flex;
    justify-content: center;
}

.census p {
    line-height: 50px;
}

.census .center {
    width: 100px;
    font-size: 16px;
    text-align: center;
}

.census img {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0 20px;
}

.census .left,
.census .right {
    width: calc((100% - 100px) / 2);
}

.census .left {
    text-align: right;
}

.census-name {
    font-size: 16px;
    padding: 20px 40px;
}

.contrast {
}

.contrast span {
    display: inline-block;
    width: 70px;
    text-align: center;
}

.contrast i {
    display: inline-block;
    height: 10px;
    vertical-align: middle;
    background-color: #ccc;
}

.contrast i.win {
    background-color: var(--main-color);
}

.playtxt {
    line-height: 30px;
    font-size: 14px;
}

.player-data {
    margin-bottom: 20px;
    width: 100%;
    border-collapse: separate;
}

.player-data tr th:first-child {
    width: 170px;
    display: flex;
    align-items: center;
}

.player-data tr th:first-child,
.player-data tr td:first-child {
    text-align: left;
    padding-left: 10px;
}

.player-data tr th,
.player-data tr td {
    height: 50px;
    text-align: center;
    font-weight: normal;
    border-bottom: 1px solid #ddd;
    width: 70px;
}

.player-data tr:last-child td {
    border-bottom: none;
}

.player-data img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.playbg h1 {
    color: #fff;
    font-size: 26px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 14px;
}

.showlist {
    display: flex;
    width: 100%;
    height: 600px;
}

.showlist iframe {
    width: 71.6%;
}

.showlist > a {
    display: block;
    width: 71.6%;
    position: relative;
    background-color: #333;
}

.showlist > a img {
    width: 100%;
    height: 500px;
    opacity: 0.9;
    transition: .3s;
    object-fit: cover;
}

.showlist > a:hover img {
    opacity: 0.6;
}

.showlist > a .btn {
    position: absolute;
    background: url(http://8.218.237.37/static/home/images/video_article_play.png);
    left: 50%;
    margin-left: -60px;
    width: 120px;
    height: 120px;
    top: 50%;
    margin-top: -60px;
}

.showlist .list {
    width: 28.3%;
    background-color: #333;
}

.showlist .list > p {
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 44px;
    border-bottom: 2px #3c3c3c solid;
}

.showlist .list ul::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #555;
}

.showlist .list ul::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 4px #000;
    background-color: var(--main-color)
}

.showlist .list ul {
    max-height: calc(600px - 46px);
    overflow-y: auto;
}

.showlist .list ul li {
    margin: 14px 14px 0;
    display: flex;
    cursor: pointer;
    background-color: #444;
    border-radius: 5px;
    overflow: hidden;
    color: var(--main-color)
}

.showlist .list ul li .title {
    padding: 12px;
    line-height: 22px;
}

.showlist .list ul li.cur {
    background-color: var(--main-color);
    color: #fff;
}

.showlist .list ul li a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    color: #fff;
    text-align: center;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.2);
}

.showlist .list ul li span {
    display: block;
    width: 60px;
    padding-top: 4px;
}

.showlist .list ul li i {
    font-size: 26px;
    color: #fff;
}

.video-intro {
    padding: 20px;
}

.video-intro .tit {
    font-size: 18px;
    padding-bottom: 16px;
    font-weight: bold;
}

.playtxt {
    line-height: 30px;
    font-size: 14px;
}

.zhuanti {
}

.ztbg {
    background-color: rgba(var(--main-r), var(--main-g), var(--main-b), 0.7);
    position: relative;
    padding: 20px 0;
    box-sizing: border-box;
}

.ztbg::before {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 0;
    background: url(../images/zhuantibg.jpg) no-repeat center/cover;
    mix-blend-mode: screen;
    opacity: 0.2;
}

.zt-title {
    position: relative;
    box-sizing: border-box;
    width: 240px;
    aspect-ratio: 2.11/1;
    margin: 0 auto 20px;
    font-size: 32px;
    color: #fff;
    padding: 20px 0 0 26px;
    font-weight: bold;
    letter-spacing: 6px;
}

.zt-title span {
    font-size: 50px;
    vertical-align: bottom;
}

.zt-title::before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: var(--main-color);
    -webkit-mask: url(../images/zt_border.png) no-repeat center/100%;
}

.zhuanti .search {
    position: relative;
    width: 800px;
    padding: 0 100px;
    box-sizing: border-box;
    margin: 0 auto 20px;
}

.zhuanti .search p {
    display: flex;
    align-items: center;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .1);
}

.zhuanti .search input {
    height: 40px;
    flex-grow: 1;
    border: none;
    padding: 0 10px;
    font-size: 16px;
    color: var(--main-color);
}

.zhuanti .search button {
    height: 40px;
    width: 80px;
    cursor: pointer;
    background-color: rgb(calc(255 - var(--main-r)), calc(255 - var(--main-g)), calc(255 - var(--main-b)));
}

.zhuanti .search button i {
    color: #fff;
}

.hontlink {
    position: relative;
    box-sizing: border-box;
    width: 800px;
    margin: 0 auto;
    padding-left: 100px;
    font-size: 16px;
    color: #fff;
    text-indent: -80px;
}

.hontlink a {
    display: inline-block;
    margin: 0 10px 10px 0;
    padding: 4px 10px;
    border-radius: 5px;
    background-color: #fff3;
    color: #fff;
    font-size: 14px;
    text-indent: 0;
}

.ztnav-bg {
    background-color: #555;
    position: relative;
    z-index: 1;
}

.ztnav {
    width: 1200px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 40px;
    background-color: #555;
}

.ztnav a {
    margin: 0 10px;
    position: relative;
}

.ztnav a span {
    color: #fff;
    font-size: 18px;
    padding: 0 40px;
    display: inline-block;
}

.ztnav a.cur span {
    transform: skew(-30deg);
    line-height: 50px;
    background-color: var(--main-color);
}

.ztnav a.cur i {
    display: inline-block;
    transform: skew(30deg);
}

.ztnav a.cur::before,
.ztnav a.cur::after {
    content: "";
    position: absolute;
    border: 8px solid transparent;
    z-index: -1;
}

.ztnav a.cur::before {
    border-top-color: #333;
    border-right-color: #333;
    transform: rotate(-45deg);
    right: -22px;
    top: 4px;
}

.ztnav a.cur::after {
    border-bottom-color: #333;
    border-left-color: #333;
    transform: rotate(-45deg);
    left: -22px;
    bottom: 4px;
}

.zt-list {
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.zt-list .logo-list {
    display: flex;
    flex-wrap: wrap;
}

.zt-list .logo-list a {
    position: relative;
    display: inline-block;
    width: 140px;
    margin: 0 5px 10px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 2px 4px #0002;
}

.zt-list .logo-list a img {
    display: block;
    margin: 20px auto;
    width: 100px;
    height: 100px;
}

.zt-list .logo-list p {
    position: absolute;
    top: 100%;
    height: 100%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color: rgba(var(--main-r), var(--main-g), var(--main-b), 0.9);
    color: #fff;
    transition: 0.3s;
}

.zt-list .logo-list a:hover p {
    top: 0;
}

.about-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 20px;
}

.about-list dd {
    width: 50%;
    box-sizing: border-box;
    padding: 20px 20px 0;
}

.about-list dd a {
    display: flex;
    justify-content: space-between;
}

.about-list dd img {
    width: 140px;
    height: 90px;
    object-fit: cover;
}

.about-list dd .cont {
    width: calc(100% - 160px);
}

.about-list dd .cont h4 {
    font-size: 16px;
    padding-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.about-list dd .cont .desc {
    line-height: 22px;
    font-size: 12px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    word-break: break-all;
    overflow: hidden;
}

.specific {
    padding: 20px 0;
}

.specific .logo {
    text-align: center;
}

.specific .logo img {
    width: 140px;
    height: 140px;
}

.specific .intro {
    padding: 10px 50px;
}

.specific .intro .name {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
}

.specific .intro ul {
    line-height: 26px;
}

.specific .info {
    padding: 20px 20px 0;
    line-height: 24px;
}

.jifen-tab {
    background-color: #fff;
    width: 15%;
}

.jifen-tab a {
    display: block;
    font-size: 16px;
    padding: 14px;
    border-left: 6px solid #fff;
    box-sizing: border-box;
}

.jifen-tab a.cur {
    border-color: var(--main-color);
    color: var(--main-color);
    font-weight: bold;
    background-color: rgba(var(--main-r), var(--main-g), var(--main-b), 0.1);
}

.jifen-list {
    width: 83%;
    background-color: #fff;
}

.jifen-list ul.zuqiu {
    --span-width: 80px;
}

.jifen-list ul.lanqiu {
    --span-width: 100px;
}

.jifen-list li {
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    border-top: 1px solid #eee;
    background-color: #fff;
}

.jifen-list li span {
    display: block;
    width: var(--span-width);
    text-align: center;
    line-height: 60px;
}

.jifen-list li.group-name span {
    color: var(--main-color);
    font-weight: bold;
}

.jifen-list li span i {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-style: normal;
    color: #fff;
    background-color: #999;
}

.jifen-list li span i.top1 {
    background-color: #F61111;
}

.jifen-list li span i.top2 {
    background-color: #FF7D0C;
}

.jifen-list li span i.top3 {
    background-color: #FFB330;
}

.jifen-list li.jifen-head span {
    line-height: 50px;
    color: #fff;
    font-weight: bold;
    background-color: var(--main-color);
}

.jifen-list ul.zuqiu li span:nth-child(2) {
    width: calc(996px - var(--span-width) * 9);
}

.jifen-list ul.lanqiu li span:nth-child(2) {
    width: calc(996px - var(--span-width) * 7);
}

.jifen-list li:nth-child(n+2) span:nth-child(2) {
    text-align: left;
    padding-left: 40px;
    box-sizing: border-box;
}

.jifen-list li img {
    margin-right: 30px;
    width: 30px;
    height: 30px;
    object-fit: contain;
}

p.nodata {
    width: 84%;
    margin: 4% auto;
    padding: 4%;
    border: 3px dashed #ddd;
    text-align: center;
    color: #ddd;
    font-size: 2em;
    background-color: #fbfbfb;
}

.zhibosp {
    width: 100% !important;
}

.zhibosp .infoimg {
    width: 100%;
    height: 250px;
}

.zhibosp .play-list {
    padding: 0 20px;
}

.zhibosp .list-cont .left {
    display: flex;
    width: 240px;
    justify-content: space-between;
}

.zhibosp .list-cont .left .name {
    padding-top: 0;
}

.zhibosp .list-cont .left .status {
}

.zhibosp .list-cont dd .center p {
    width: 230px;
}

.zhibosp .list-cont dd .center .bf {
    width: 50px;
}

.zhibosp .list-cont dd .center img {
    margin: 0 12px;
}

.yuce-list dd {
    margin: 0 20px;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}

.yuce-list dd .tit {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    position: relative;
}

.yuce-list dd .tit h4 {
    font-size: 30px;
    margin: 0 auto;
    padding-left: 14%;
}

.yuce-list dd .tit span {
    font-size: 13px;
    color: #999;
    position: absolute;
    right: 0;
}

.yuce-list dd .logovs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.yuce-list dd .logovs p {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.yuce-list dd .logovs p.name {
    width: 14%;
}

.yuce-list dd .logovs p.team {
    width: 40%;
}

.yuce-list dd .logovs p.vs {
    width: 6%;
    justify-content: center;
}

.yuce-list dd .logovs p:last-child {
    justify-content: right;
}

.yuce-list dd .logovs img {
    width: 50px;
    height: 50px;
}

.yuce-list dd .logovs span {
    padding: 0 20px;
}

.yuce-content {
    padding: 30px;
}

.yuce-content h1 {
    font-size: 24px;
    font-weight: normal;
    line-height: 38px;
}

.yuce-content .cont {
    line-height: 30px;
    font-size: 16px;
    padding: 20px 0;
    overflow: hidden;
}

.yuce-content .cont * {
    font-weight: revert;
}

.yuce-content .list-cont {
    margin: -20px -20px 20px;
}

.yuce-content .list-cont dd:hover {
    background-color: transparent !important;
}

.yuce-content .list-cont dd .item-box {
    padding-bottom: 10px;
    border-top: 0;
    border-bottom: 1px solid #f1f1f1;
}

