{extend name="common/base"/}
{block name="style"}
{/block}
<!-- 主体 -->
{block name="body"}
{include file="common/header" nav='info' /}
<div class="breadcrumbs">
    <ul>
        <li>
            <a href="">首页</a>
        </li>
        <li>&gt;</li>
        <li>
            <a href="">首页</a>
        </li>
        <li>&gt;</li>
        <li>
            <a href="">首页</a>
        </li>
        <li>&gt;</li>
        <li>
            首页666
        </li>
    </ul>
</div>
<div class="zhuanti">
    <div class="ztbg">
        <div class="zt-title">
            <span>联赛</span>专题
        </div>
        <?php $type=hotlive('liansai'); ?>
        <div class="hontlink">
            热门联赛：
            {foreach $type as $key=>$item}
            <a href="{$item.src}">{$item.title}</a>
            {/foreach}
        </div>
    </div>
    <div class="ztnav-bg">
        <div class="ztnav">
            <a href="" class="cur"><span><i>足球专题</i></span></a><a href=""><span><i>篮球专题</i></span></a>
        </div>
    </div>
    <div class="zt-list">
        <div class="logo-list">
            <a href="">
                <img src="https://www.i999.com.cn/uploads/liansai/hasachao.png" alt="">
                哈萨超
            </a>
            <a href="">
                <img src="https://www.i999.com.cn/uploads/liansai/hasachao.png" alt="">
                哈萨超
            </a>
            <a href="">
                <img src="https://www.i999.com.cn/uploads/liansai/hasachao.png" alt="">
                哈萨超
            </a>
            <a href="">
                <img src="https://www.i999.com.cn/uploads/liansai/hasachao.png" alt="">
                哈萨超
            </a>
            <a href="">
                <img src="https://www.i999.com.cn/uploads/liansai/hasachao.png" alt="">
                哈萨超
            </a>
            <a href="">
                <img src="https://www.i999.com.cn/uploads/liansai/hasachao.png" alt="">
                哈萨超
            </a>
            <a href="">
                <img src="https://www.i999.com.cn/uploads/liansai/hasachao.png" alt="">
                哈萨超
            </a>
            <a href="">
                <img src="https://www.i999.com.cn/uploads/liansai/hasachao.png" alt="">
                哈萨超
            </a>
            <a href="">
                <img src="https://www.i999.com.cn/uploads/liansai/hasachao.png" alt="">
                哈萨超
            </a>
            <a href="">
                <img src="https://www.i999.com.cn/uploads/liansai/hasachao.png" alt="">
                哈萨超
            </a>
            <a href="">
                <img src="https://www.i999.com.cn/uploads/liansai/hasachao.png" alt="">
                哈萨超
            </a>
            <a href="">
                <img src="https://www.i999.com.cn/uploads/liansai/hasachao.png" alt="">
                哈萨超
            </a>
            <a href="">
                <img src="https://www.i999.com.cn/uploads/liansai/hasachao.png" alt="">
                哈萨超
            </a>
            <a href="">
                <img src="https://www.i999.com.cn/uploads/liansai/hasachao.png" alt="">
                哈萨超
            </a>
            <a href="">
                <img src="https://www.i999.com.cn/uploads/liansai/hasachao.png" alt="">
                哈萨超
            </a>
            <a href="">
                <img src="https://www.i999.com.cn/uploads/liansai/hasachao.png" alt="">
                哈萨超
            </a>
        </div>
        <div class="pages">
            <a href="">&lt;</a>
            <a href="#">1</a>
            <a href="/">2</a>
            <a href="/">3</a>
            <a href="/">4</a>
            <a href="/">5</a>
            <a href="/">6</a>
            <a href="/">7</a>
            <a href="/">8</a>
            <a href="/">9</a>
            <a href="/">&gt;</a>
        </div>
    </div>
</div>
{/block}
<!-- /主体 -->
<!-- 脚本 -->
{block name="script"}
<script>

</script>
{/block}
<!-- /脚本 -->