{extend name="common/base"/}
{block name="style"}
{/block}
<!-- 主体 -->
{block name="body"}
{include file="common/header" nav='info' /}
<div class="zhuanti">
    <?php $typesrc=strpos($_SERVER['REQUEST_URI'], 'liansai') ? 'liansai' : 'qiudui'; $linkname=get_ruleName(); ?>
    <div class="ztbg">
        <div class="zt-title">
            <span>{$typesrc=='liansai'?'联赛':'球队'}</span>专题
        </div>
        <div class="search">
            <p id="search"><input type="text"/>
                <button><i class="iconfont icon-sousuo"></i></button>
            </p>
        </div>
        <div class="hontlink">
            <?php if($typesrc=='liansai'): ?>
            <?php $type=hotlive('liansai'); ?>
            热门联赛：{volist name="type" id="item" length='40'}<a href="/liansai-{$item.type}/{$item.id}" target="_blank">{$item.title}</a>{/volist}
            <?php else: ?>
            <?php $type=getHotTeam(); ?>
            热门球队：{volist name="type" id="item" length='40'}<a href="/qiudui-{$item.sphere_type}/{$item.id}" target="_blank">{:empty($item.short_name_zh)?$item.name_zh:$item.short_name_zh}</a>{/volist}
            <?php endif; ?>
        </div>
    </div>
    <div class="ztnav-bg">
        <div class="ztnav">
            <a href="/{$typesrc}-zuqiu/" class="{:strpos($linkname,'zuqiu')?'cur':''}"><span><i>足球专题</i></span></a>
            <a href="/{$typesrc}-lanqiu/" class="{:strpos($linkname,'lanqiu')?'cur':''}"><span><i>篮球专题</i></span></a>
        </div>
    </div>
    <div class="zt-list">
        <div class="logo-list">
            {foreach $data.data as $key=>$item}
            <a href="/{$typesrc}-{$item.sphere_type}/{$item.id}" target="_blank">
                <img src="{$item.logo}" title="{:empty($item.short_name_zh)?$item.name_zh:$item.short_name_zh}">
                <p>{:empty($item.short_name_zh)?$item.name_zh:$item.short_name_zh}</p>
            </a>
            {/foreach}
        </div>
        <div class="pages">
            <?php
				$cur=$data['current_page'];
				$total=ceil($data['total']/$data['per_page']);
				$start=$total>9&&$cur>5?($total-$cur<5?$total-8:$cur-4):1;
                $end=$total>9&&$cur>5?($cur+5>$total?$total+1:$cur+5):($total>9?10:$total+1);
                if($total>1):
            ?>
            <a href="{$cur==1?'':$linkname.'index_'.($cur-1).'/'.get_params('keyword')}"><</a>
            {for start='$start' end='$end'}
            <a href="{$cur==$i?'#':$linkname.'index_'.($i).'/'.get_params('keyword')}">{$i}</a>
            {/for}
            <a href="{$cur==$total?'':$linkname.'index_'.($cur+1).'/'.get_params('keyword')}">></a>
            <?php endif; ?>
        </div>
    </div>
</div>
{/block}
<!-- /主体 -->
<!-- 脚本 -->
{block name="script"}
<script>
    function worldlist(val) {
        let txt = $.trim(val);
        let name = location.href.indexOf('liansai') > 0 ? 'liansai-search' : 'qiudui-search';
        if (txt != "") {
            location.href = `${location.origin}/${name}/index_1/${txt}`
        }
    }
    $("#search input").keydown(function (e) {
        if (e.keyCode == 13) {
            worldlist($("#search input").val());
        }
    });
    $("#search button").click(function () {
        worldlist($("#search input").val());
    })
</script>
{/block}
<!-- /脚本 -->