<!--热点资讯-->
<?php
$toArticle = toArticle($cateId);
if($articleType=="detail"){
    $action = "article/".$type;
}else{
    $action = "jijin/".$type;
}

?>
<ul class="ul-zxsp1">
    {foreach $toArticle as $vo}
    <li>
        <a href="{:url($action,['id'=>$vo.id])}" target="_blank">
            <img  class="imgSize" src="{:get_file($vo.thumb)}" alt="{$vo.title}" >
            <div class="right-u-zxsp">
                <p>{$vo.title}</p>
                <span class="tws">{$vo.desc}</span>
                <span></span><span style="margin-right: 30px;float: right;">{$vo.update_time|date="Y-m-d H:i:s"}</span>
            </div>
        </a>
    </li>
    {/foreach}
</ul>