{extend name="common/base"/}
{block name="style"}
{/block}
<!-- 主体 -->
{block name="body"}
{include file="common/header" nav='info' /}
<div class="container">
    <div class="jifen-tab">
        <p class="cur">射手榜</p>
        <p>助攻榜</p>
    </div>
    <div class="jifen-list">
        <ul class="cur">
            <li class="jifen-head">
                <span>排名</span>
                <span>球队</span>
                <span>场次</span>
                <span>胜</span>
                <span>平</span>
                <span>负</span>
                <span>进球</span>
                <span>失球</span>
                <span>净胜球</span>
                <span>积分</span>
            </li>
            <li><span><i class="top1">1</i></span><span><img
                    src="https://cdn.sportnanoapi.com/football/team/f378eb1ea04e53999b89051aa3244de6.png"><a
                    href="team/10015.html"
                    target="_blank">巴萨</a></span><span>38</span><span>28</span><span>4</span><span>6</span><span>70</span><span>20</span><span>50</span><span>88</span>
            </li>
            <li><span><i class="top2">2</i></span><span><img
                    src="https://cdn.sportnanoapi.com/football/team/47ba2fe5caa3770cfa2e99dc4b7e72cd.png"><a
                    href="team/10217.html"
                    target="_blank">皇马</a></span><span>38</span><span>24</span><span>6</span><span>8</span><span>75</span><span>36</span><span>39</span><span>78</span>
            </li>
            <li><span><i class="top3">3</i></span><span><img
                    src="https://cdn.sportnanoapi.com/football/team/15f730f481d1ae7c75c1d28ee2862adc.png"><a
                    href="team/10251.html"
                    target="_blank">马竞</a></span><span>38</span><span>23</span><span>8</span><span>7</span><span>70</span><span>33</span><span>37</span><span>77</span>
            </li>
            <li><span><i class="4">4</i></span><span><img
                    src="https://cdn.sportnanoapi.com/football/team/5c3c390fc1cb7b35f06ebbb160151c27.png"><a
                    href="team/10222.html"
                    target="_blank">皇家社会</a></span><span>38</span><span>21</span><span>8</span><span>9</span><span>51</span><span>35</span><span>16</span><span>71</span>
            </li>
            <li><span><i class="5">5</i></span><span><img
                    src="https://cdn.sportnanoapi.com/football/team/aee62af96a956756cc29fe4831286357.png"><a
                    href="team/10493.html"
                    target="_blank">比利亚雷亚尔</a></span><span>38</span><span>19</span><span>7</span><span>12</span><span>59</span><span>40</span><span>19</span><span>64</span>
            </li>
            <li><span><i class="6">6</i></span><span><img
                    src="https://cdn.sportnanoapi.com/football/team/018e260ad68bdad741c61e3171c4c608.png"><a
                    href="team/10029.html"
                    target="_blank">贝蒂斯</a></span><span>38</span><span>17</span><span>9</span><span>12</span><span>46</span><span>41</span><span>5</span><span>60</span>
            </li>
            <li><span><i class="7">7</i></span><span><img
                    src="https://cdn.sportnanoapi.com/football/team/c2050b940076df70b2ad0a6103c50df4.png"><a
                    href="team/10749.html"
                    target="_blank">奥萨苏纳</a></span><span>38</span><span>15</span><span>8</span><span>15</span><span>37</span><span>42</span><span>-5</span><span>53</span>
            </li>
            <li><span><i class="8">8</i></span><span><img
                    src="https://cdn.sportnanoapi.com/football/team/b2a647479bd175eb2e61d89f2317e7de.png"><a
                    href="team/10027.html"
                    target="_blank">毕尔巴鄂</a></span><span>38</span><span>14</span><span>9</span><span>15</span><span>47</span><span>43</span><span>4</span><span>51</span>
            </li>
            <li><span><i class="9">9</i></span><span><img
                    src="https://cdn.sportnanoapi.com/football/team/fdef90456d2a2eee09976c558457aec7.png"><a
                    href="team/10326.html"
                    target="_blank">马略卡</a></span><span>38</span><span>14</span><span>8</span><span>16</span><span>37</span><span>43</span><span>-6</span><span>50</span>
            </li>
            <li><span><i class="10">10</i></span><span><img
                    src="https://cdn.sportnanoapi.com/football/team/006ce259b33ef72dd5570cfa8dc39f38.png"><a
                    href="team/10808.html"
                    target="_blank">吉罗纳</a></span><span>38</span><span>13</span><span>10</span><span>15</span><span>58</span><span>55</span><span>3</span><span>49</span>
            </li>
            <li><span><i class="11">11</i></span><span><img
                    src="https://cdn.sportnanoapi.com/football/team/5005d8feab109ce64e40beb98073cc1f.png"><a
                    href="team/11845.html"
                    target="_blank">巴列卡诺</a></span><span>38</span><span>13</span><span>10</span><span>15</span><span>45</span><span>53</span><span>-8</span><span>49</span>
            </li>
            <li><span><i class="12">12</i></span><span><img
                    src="https://cdn.sportnanoapi.com/football/team/d20ed1da4f299cc3ef0e1e9eb06eced1.png"><a
                    href="team/10425.html"
                    target="_blank">塞维利亚</a></span><span>38</span><span>13</span><span>10</span><span>15</span><span>47</span><span>54</span><span>-7</span><span>49</span>
            </li>
            <li><span><i class="13">13</i></span><span><img
                    src="https://cdn.sportnanoapi.com/football/team/fd954d083ee85a6f1a3f2471dc756242.png"><a
                    href="team/10371.html"
                    target="_blank">塞尔塔</a></span><span>38</span><span>11</span><span>10</span><span>17</span><span>43</span><span>53</span><span>-10</span><span>43</span>
            </li>
            <li><span><i class="14">14</i></span><span><img
                    src="https://cdn.sportnanoapi.com/football/team/13ad117ddb310052841244f0d1ed3c1e.png"><a
                    href="team/10292.html"
                    target="_blank">加的斯</a></span><span>38</span><span>10</span><span>12</span><span>16</span><span>30</span><span>53</span><span>-23</span><span>42</span>
            </li>
            <li><span><i class="15">15</i></span><span><img
                    src="https://cdn.sportnanoapi.com/football/team/36bf5bf0c8fdf08c1270124808f060e1.png"><a
                    href="team/10042.html"
                    target="_blank">赫塔菲</a></span><span>38</span><span>10</span><span>12</span><span>16</span><span>34</span><span>45</span><span>-11</span><span>42</span>
            </li>
            <li><span><i class="16">16</i></span><span><img
                    src="https://cdn.sportnanoapi.com/football/team/3b54543c1a584e2e9948d655142996d3.png"><a
                    href="team/10325.html"
                    target="_blank">瓦伦西亚</a></span><span>38</span><span>11</span><span>9</span><span>18</span><span>42</span><span>45</span><span>-3</span><span>42</span>
            </li>
            <li><span><i class="17">17</i></span><span><img
                    src="https://cdn.sportnanoapi.com/football/team/d019943fa39f97f70cf49601cccbfa4b.png"><a
                    href="team/10690.html"
                    target="_blank">阿尔梅里亚</a></span><span>38</span><span>11</span><span>8</span><span>19</span><span>49</span><span>65</span><span>-16</span><span>41</span>
            </li>
            <li><span><i class="18">18</i></span><span><img
                    src="https://cdn.sportnanoapi.com/football/team/4b662ff690012390522d3aea7030b7f5.png"><a
                    href="team/10252.html"
                    target="_blank">巴拉多利德</a></span><span>38</span><span>11</span><span>7</span><span>20</span><span>33</span><span>63</span><span>-30</span><span>40</span>
            </li>
            <li><span><i class="19">19</i></span><span><img
                    src="https://cdn.sportnanoapi.com/football/team/214049d4df11756a2eb21bbd8266e2a1.png"><a
                    href="team/10220.html"
                    target="_blank">西班牙人</a></span><span>38</span><span>8</span><span>13</span><span>17</span><span>52</span><span>69</span><span>-17</span><span>37</span>
            </li>
            <li><span><i class="20">20</i></span><span><img
                    src="https://cdn.sportnanoapi.com/football/team/e5ecd0553885f1a3af731758dddce2ec.png"><a
                    href="team/10301.html"
                    target="_blank">埃尔切</a></span><span>38</span><span>5</span><span>10</span><span>23</span><span>30</span><span>67</span><span>-37</span><span>25</span>
            </li>
        </ul>
        <ul>
            <li class="jifen-head">
                <span>排名2</span>
                <span>球队</span>
                <span>场次</span>
                <span>胜</span>
                <span>平</span>
                <span>负</span>
                <span>进球</span>
                <span>失球</span>
                <span>净胜球</span>
                <span>积分</span>
            </li>
            <li><span><i class="top1">1</i></span><span><img
                    src="https://cdn.sportnanoapi.com/football/team/f378eb1ea04e53999b89051aa3244de6.png"><a
                    href="team/10015.html"
                    target="_blank">巴萨</a></span><span>38</span><span>28</span><span>4</span><span>6</span><span>70</span><span>20</span><span>50</span><span>88</span>
            </li>
            <li><span><i class="top2">2</i></span><span><img
                    src="https://cdn.sportnanoapi.com/football/team/47ba2fe5caa3770cfa2e99dc4b7e72cd.png"><a
                    href="team/10217.html"
                    target="_blank">皇马</a></span><span>38</span><span>24</span><span>6</span><span>8</span><span>75</span><span>36</span><span>39</span><span>78</span>
            </li>
            <li><span><i class="top3">3</i></span><span><img
                    src="https://cdn.sportnanoapi.com/football/team/15f730f481d1ae7c75c1d28ee2862adc.png"><a
                    href="team/10251.html"
                    target="_blank">马竞</a></span><span>38</span><span>23</span><span>8</span><span>7</span><span>70</span><span>33</span><span>37</span><span>77</span>
            </li>
            <li><span><i class="4">4</i></span><span><img
                    src="https://cdn.sportnanoapi.com/football/team/5c3c390fc1cb7b35f06ebbb160151c27.png"><a
                    href="team/10222.html"
                    target="_blank">皇家社会</a></span><span>38</span><span>21</span><span>8</span><span>9</span><span>51</span><span>35</span><span>16</span><span>71</span>
            </li>
            <li><span><i class="5">5</i></span><span><img
                    src="https://cdn.sportnanoapi.com/football/team/aee62af96a956756cc29fe4831286357.png"><a
                    href="team/10493.html"
                    target="_blank">比利亚雷亚尔</a></span><span>38</span><span>19</span><span>7</span><span>12</span><span>59</span><span>40</span><span>19</span><span>64</span>
            </li>
            <li><span><i class="6">6</i></span><span><img
                    src="https://cdn.sportnanoapi.com/football/team/018e260ad68bdad741c61e3171c4c608.png"><a
                    href="team/10029.html"
                    target="_blank">贝蒂斯</a></span><span>38</span><span>17</span><span>9</span><span>12</span><span>46</span><span>41</span><span>5</span><span>60</span>
            </li>
            <li><span><i class="7">7</i></span><span><img
                    src="https://cdn.sportnanoapi.com/football/team/c2050b940076df70b2ad0a6103c50df4.png"><a
                    href="team/10749.html"
                    target="_blank">奥萨苏纳</a></span><span>38</span><span>15</span><span>8</span><span>15</span><span>37</span><span>42</span><span>-5</span><span>53</span>
            </li>
            <li><span><i class="8">8</i></span><span><img
                    src="https://cdn.sportnanoapi.com/football/team/b2a647479bd175eb2e61d89f2317e7de.png"><a
                    href="team/10027.html"
                    target="_blank">毕尔巴鄂</a></span><span>38</span><span>14</span><span>9</span><span>15</span><span>47</span><span>43</span><span>4</span><span>51</span>
            </li>
            <li><span><i class="9">9</i></span><span><img
                    src="https://cdn.sportnanoapi.com/football/team/fdef90456d2a2eee09976c558457aec7.png"><a
                    href="team/10326.html"
                    target="_blank">马略卡</a></span><span>38</span><span>14</span><span>8</span><span>16</span><span>37</span><span>43</span><span>-6</span><span>50</span>
            </li>
            <li><span><i class="10">10</i></span><span><img
                    src="https://cdn.sportnanoapi.com/football/team/006ce259b33ef72dd5570cfa8dc39f38.png"><a
                    href="team/10808.html"
                    target="_blank">吉罗纳</a></span><span>38</span><span>13</span><span>10</span><span>15</span><span>58</span><span>55</span><span>3</span><span>49</span>
            </li>
            <li><span><i class="11">11</i></span><span><img
                    src="https://cdn.sportnanoapi.com/football/team/5005d8feab109ce64e40beb98073cc1f.png"><a
                    href="team/11845.html"
                    target="_blank">巴列卡诺</a></span><span>38</span><span>13</span><span>10</span><span>15</span><span>45</span><span>53</span><span>-8</span><span>49</span>
            </li>
            <li><span><i class="12">12</i></span><span><img
                    src="https://cdn.sportnanoapi.com/football/team/d20ed1da4f299cc3ef0e1e9eb06eced1.png"><a
                    href="team/10425.html"
                    target="_blank">塞维利亚</a></span><span>38</span><span>13</span><span>10</span><span>15</span><span>47</span><span>54</span><span>-7</span><span>49</span>
            </li>
            <li><span><i class="13">13</i></span><span><img
                    src="https://cdn.sportnanoapi.com/football/team/fd954d083ee85a6f1a3f2471dc756242.png"><a
                    href="team/10371.html"
                    target="_blank">塞尔塔</a></span><span>38</span><span>11</span><span>10</span><span>17</span><span>43</span><span>53</span><span>-10</span><span>43</span>
            </li>
            <li><span><i class="14">14</i></span><span><img
                    src="https://cdn.sportnanoapi.com/football/team/13ad117ddb310052841244f0d1ed3c1e.png"><a
                    href="team/10292.html"
                    target="_blank">加的斯</a></span><span>38</span><span>10</span><span>12</span><span>16</span><span>30</span><span>53</span><span>-23</span><span>42</span>
            </li>
            <li><span><i class="15">15</i></span><span><img
                    src="https://cdn.sportnanoapi.com/football/team/36bf5bf0c8fdf08c1270124808f060e1.png"><a
                    href="team/10042.html"
                    target="_blank">赫塔菲</a></span><span>38</span><span>10</span><span>12</span><span>16</span><span>34</span><span>45</span><span>-11</span><span>42</span>
            </li>
            <li><span><i class="16">16</i></span><span><img
                    src="https://cdn.sportnanoapi.com/football/team/3b54543c1a584e2e9948d655142996d3.png"><a
                    href="team/10325.html"
                    target="_blank">瓦伦西亚</a></span><span>38</span><span>11</span><span>9</span><span>18</span><span>42</span><span>45</span><span>-3</span><span>42</span>
            </li>
            <li><span><i class="17">17</i></span><span><img
                    src="https://cdn.sportnanoapi.com/football/team/d019943fa39f97f70cf49601cccbfa4b.png"><a
                    href="team/10690.html"
                    target="_blank">阿尔梅里亚</a></span><span>38</span><span>11</span><span>8</span><span>19</span><span>49</span><span>65</span><span>-16</span><span>41</span>
            </li>
            <li><span><i class="18">18</i></span><span><img
                    src="https://cdn.sportnanoapi.com/football/team/4b662ff690012390522d3aea7030b7f5.png"><a
                    href="team/10252.html"
                    target="_blank">巴拉多利德</a></span><span>38</span><span>11</span><span>7</span><span>20</span><span>33</span><span>63</span><span>-30</span><span>40</span>
            </li>
            <li><span><i class="19">19</i></span><span><img
                    src="https://cdn.sportnanoapi.com/football/team/214049d4df11756a2eb21bbd8266e2a1.png"><a
                    href="team/10220.html"
                    target="_blank">西班牙人</a></span><span>38</span><span>8</span><span>13</span><span>17</span><span>52</span><span>69</span><span>-17</span><span>37</span>
            </li>
            <li><span><i class="20">20</i></span><span><img
                    src="https://cdn.sportnanoapi.com/football/team/e5ecd0553885f1a3af731758dddce2ec.png"><a
                    href="team/10301.html"
                    target="_blank">埃尔切</a></span><span>38</span><span>5</span><span>10</span><span>23</span><span>30</span><span>67</span><span>-37</span><span>25</span>
            </li>
        </ul>
    </div>
</div>
{/block}
<!-- /主体 -->
<!-- 脚本 -->
{block name="script"}
<script>
    $(".jifen-tab p").click(function () {
        let index = $(this).index();
        $(this).addClass("cur").siblings().removeClass();
        $(".jifen-list ul").removeClass("cur").eq(index).addClass("cur");
    })
</script>
{/block}
<!-- /脚本 -->
