{extend name="common/base"/}
{block name="style"}
{/block}
<!-- 主体 -->
{block name="body"}
{include file="common/header" nav='info' /}
<div class="container">
    <?php $iszuqiu=strpos($_SERVER['REQUEST_URI'], 'zuqiu')?true:false; $typelist=$iszuqiu ? getFootballHotComp() : getBasketballHotComp();?>
    <div class="jifen-tab">
        {volist name="typelist" id="item" length='20'}
        <a href="/jifen-{$item.sphere_type}/{$item.short_name_py}">{$item.short_name_zh}</a>
        {/volist}
    </div>
    <div class="jifen-list nodata">
        <?php $typename=$iszuqiu?'zuqiu':'lanqiu'; if($iszuqiu&&$data): ?>
        <ul class="zuqiu">
            <li class="jifen-head">
                <span>排名</span>
                <span>球队</span>
                <span>场次</span>
                <span>胜</span>
                <span>平</span>
                <span>负</span>
                <span>进球</span>
                <span>失球</span>
                <span>净胜球</span>
                <span>积分</span>
            </li>
            {foreach $data['tables'] as $level}
            <?php $name='ABCDEFGHIJKLMNOPQRSTUVWXYZ'; if(count($data['tables'])>1): ?>
            <li class="group-name"><span>{$name[$level.group-1]}组</span></li>
            <?php endif; ?>
            {foreach $level['rows'] as $i=>$item}
            <li><span><i class={$item.position<4?'top':''}{$item.position}>{$item.position}</i></span><span><img src={$item.team_logo}><a href=/qiudui-{$typename}/{$item.team_id} target=_blank>{$item.team_name}</a></span><span>{$item.total}</span><span>{$item.won}</span><span>{$item.draw}</span><span>{$item.loss}</span><span>{$item.goals}</span><span>{$item.goals_against}</span><span>{$item.goal_diff}</span><span>{$item.points}</span></li>
            {/foreach}
            {/foreach}
        </ul>
        <?php elseif(!$iszuqiu&&$data): ?>
        <ul class="lanqiu">
            <li class="jifen-head">
                <span>排名</span>
                <span>球队</span>
                <span>场次</span>
                <span>胜</span>
                <span>负</span>
                <span>胜率</span>
                <span>主场</span>
                <span>客场</span>
            </li>
            {foreach $data['tables'] as $level}
            <?php if(count($data['tables'])>1): ?>
            <li class="group-name"><span>{$level.name}</span></li>
            <?php endif; ?>
            {foreach $level['rows'] as $i=>$item}
            <li><span><i class={$item.position<4?'top':''}{$item.position}>{$item.position}</i></span><span><img src={$item.team_logo}><a href=/qiudui-{$typename}/{$item.team_id} target=_blank>{$item.team_name}</a></span><span>{$item.won+$item.lost}</span><span>{$item.won}</span><span>{$item.lost}</span><span>{$item.won_rate*100}%</span><span>{$item.home}</span><span>{$item.away}</span></li>
            {/foreach}
            {/foreach}
        </ul>
        <?php endif; ?>
    </div>
</div>
{/block}
<!-- /主体 -->
<!-- 脚本 -->
{block name="script"}
<script>
    let issel = true;
    $(".jifen-tab a").each(function (i, item) {
        let thelink = $(item).attr('href');
        if (curlink.indexOf(thelink) > -1) {
            $(item).addClass('cur');
            issel = false;
        }
    })
    if (issel) $(".jifen-tab a:first-child").addClass('cur');
</script>
{/block}
<!-- /脚本 -->
