{extend name="common/base"/}
{block name="style"}
<link rel="stylesheet" href="{__CSS__}/index.css?v={:get_system_config('web','version')}">
<link rel="stylesheet" href="{__CSS__}/public.css?v={:get_system_config('web','version')}">
<link rel="stylesheet" href="{__CSS__}/swiper-bundle.css?">
<link rel="stylesheet" href="{__CSS__}/layui.css">
<link rel="stylesheet" href="{__CSS__}/newstyle.css">
{/block}
<!-- 主体 -->
{block name="body"}
{include file="common/header" nav='info' /}
<div class="main clearfix">
	这是篮球集锦
</div>
{/block}
<!-- /主体 -->
<!-- 脚本 -->
{block name="script"}
<script src="{__JS__}/index.js?v={:get_system_config('web','version')}"></script>
<script>
let patchname = window.location.pathname;
$(".play-title>p").each(function(i,item){
	let href = $(item).find('a').attr('href');
	if (href==patchname) $(item).addClass('title');
})
</script>
{/block}
<!-- /脚本 -->
{block name="footer"}
{empty name="$id"}
{include file="common/footer_index" /}
{else}
{include file="common/footer" /}
{/empty}
{/block}