{extend name="common/base"/}
{block name="style"}
<style>
	.upload-img {
		width: 120px;
		height: 90px;
		overflow: hidden;
		position: relative;
		border: 1px solid #eee;
		padding: 1px;
		margin: 5px;
		float: left;
	}

	.upload-close {position: absolute; top: 1px; right: 1px; }

	.layui-upload-add {
		position: relative;
		margin:12px 0;
		padding:16px 0;
		font-size:14px;
		box-sizing: border-box;
		border: 1px solid #eee;
		background-color: #fff;
		text-align: center;
		cursor: pointer;
		color: #999;
	}
	.layui-upload-add .layui-icon{font-size:52px; color:#3c9cff}
	.gallery-item{background-color:#fff; padding:12px 12px 0; margin:12px 0; box-sizing: border-box;border: 1px solid #eee;}
	.img-filepath{max-width: 200px;max-height: 150px;}
	.list-text{font-size:12px; padding:12px 12px 0 0;color:#969696;}
	.list-text span{color:#646464;}
	
	.gougu-upload-files{background-color: #ffffff; border:1px solid #e4e7ed;color: #c0c4cc;cursor: not-allowed; padding:0 12px; box-sizing: border-box; display: inline-block; font-size: inherit; height: 38px; line-height: 35px; margin-right:8px; border-radius:2px;}
	.gougu-upload-tips{color:#969696}
</style>
{/block}
<!-- 主体 -->
{block name="body"}
<form class="layui-form p-3">
<div class="layui-row layui-col-space12">
	<div class="layui-col-md8">
	<table class="layui-table layui-table-form">
		<tr>
			<td class="layui-td-gray">图集标题<font>*</font></td>
			<td><input type="text" name="title" lay-verify="required" lay-reqText="请输入图集标题" placeholder="请输入图集标题" class="layui-input"></td>
		</tr>
		<tr>
			<td class="layui-td-gray" style="vertical-align:top;">图集简介</td>
			<td>
				<textarea name="desc" placeholder="请输入图集简介，200字以内" class="layui-textarea"></textarea>
			</td>
		</tr>
	</table>
	
	<div id="imgList"></div>
	
<!--	<div class="layui-upload-add" style="width:100% background-color:#F5FAFF">-->
<!--		<i class="layui-icon"></i>-->
<!--		<p>添加图片</p>-->
<!--	</div>-->

		<button type="button" class="layui-upload-add" id="upload_imgs" style="width:100%;background-color:#F5FAFF">
			<i class="layui-icon">&#xe67c;</i>上传图片
		</button>
	
	</div>
	<div class="layui-col-md4">
		<table class="layui-table layui-table-form">
		<tr>
			<td class="layui-td-gray">图集分类<font>*</font></td>
			<td>
				<select name="cate_id" lay-verify="required" lay-reqText="请选择分类">
					<option value="">请选择分类</option>
					{volist name=":set_recursion(get_article_cate())" id="v"}
					<option value="{$v.id}" {if $v.id <= 2 }disabled{/if}>{$v.title}</option>
					{/volist}
				</select>
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray">状态<font>*</font></td>
			<td>
				<input type="radio" name="status" value="1" title="正常" checked>
				<input type="radio" name="status" value="0" title="下架">
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray">关键字<font>*</font></td>
			<td>
				<input type="text" id="keyword_name" name="keyword_names" lay-verify="required" lay-reqText="请选择关键字"
					placeholder="请选择关键字" class="layui-input" readonly>
				<input type="hidden" id="keyword_id" name="keyword_ids">
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray">封面图</td>
			<td style="vertical-align:top">
				<div class="layui-upload" style="text-align:center;">
					<button type="button" class="layui-btn layui-btn-sm" id="uploadBtn">上传图集封面图(尺寸：640x360)</button>
					<div class="layui-upload-list" id="demo1">
						<img src="" width="100" style="width:200px;max-width:200px" />
						<input type="hidden" name="thumb" value="">
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray">作者/来源</td>
			<td>
				<input type="text" name="origin" class="layui-input" autocomplete="off" placeholder="请输入来源" value="">
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray">来源链接</td>
			<td>
				<input type="text" name="origin_url" class="layui-input" autocomplete="off" placeholder="请输入来源链接" value="">
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray">属性</td>
			<td>
				<select name="type">
					<option value="">请选择属性</option>
					<option value="1">精华</option>
					<option value="2">热门</option>
					<option value="3">推荐</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray">首页显示</td>
			<td>
				<input type="radio" name="is_home" value="1" title="是" checked>
				<input type="radio" name="is_home" value="0" title="否">
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray">排序</td>
			<td>
				<input type="text" name="sort" value="0" lay-verify="number" placeholder="请输入排序，数字" class="layui-input">
				<input type="text" name="img_strs" value="0" lay-verify="string" style="display: none" id="img_strs" class="layui-input">
			</td>
		</tr>
	</table>
	<div class="py-3">
		<input type="hidden" name="id" value="0">
		<button class="layui-btn layui-btn-danger" lay-submit="" lay-filter="webform" id="submitid" disabled>请上传图片</button>
		<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		<button lay-event="back" class="layui-btn layui-btn-primary">关闭</button>
	</div>
	</div>
</form>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}

<script>
	var moduleInit = ['tool', 'tagpicker'];
	function gouguInit() {
		var form = layui.form, tool = layui.tool,element = layui.element, tagspicker = layui.tagpicker, upload = layui.upload;
		
		var tags = new tagspicker({
			'url': '/admin/api/get_keyword_cate',
			'target': 'keyword_name',
			'tag_ids': 'keyword_id',
			'tag_tags': 'keyword_name',
			'height': 500,
			'isDiy': 1
		});

		//缩略图上传
		var uploadInst = upload.render({
			elem: '#uploadBtn'
			, url: '/admin/api/upload'
			, done: function (res) {
				//如果上传失败
				if (res.code == 1) {
					return layer.msg('上传失败');
				}
				//上传成功
				$('#demo1 input').attr('value', res.data.id);
				$('#demo1 img').attr('src', res.data.filepath);
			}
		});

		//监听返回
		$('body').on('click', '[lay-event="back"]', function () {
			tool.tabClose();
			return false;
		});

		
		//监听提交
		form.on('submit(webform)', function (data) {
			console.log(data)
			let callback = function (e) {
				if (e.code == 0) {
					tool.tabRefresh(94);
					layer.confirm('保存成功,关闭当前页面吗?', { icon: 3, title: '提示' }, function (index) {
						tool.tabClose();
					});
				} else {
					layer.msg(e.msg);
				}
			}

			tool.post("/admin/gallery/add", data.field, callback);
			return false;
		});

		let imgArr = []
		layui.use('upload', function(){
			var upload = layui.upload;

			//执行实例
			var uploadInst = upload.render({
				elem: '#upload_imgs' //绑定元素
				,url: '/admin/api/upload' //上传接口
				,multiple:true
				,accept:'png|jpg|gif|jpeg|bmp'
				,acceptMime: 'image/*'
				,progress: function(n, elem, res, index){
					var percent = n + '%' //获取进度百分比
					element.progress('demo', percent); //可配合 layui 进度条元素使用
					element.progress('demo-'+ index, n + '%'); //进度条
				}
				,allDone: function(obj){ //当文件全部被提交后，才触发
					document.getElementById('submitid').removeAttribute('disabled')
					document.getElementById('submitid').setAttribute('class',"layui-btn layui-btn-normal")
					document.getElementById('submitid').innerText = "立即提交"

					let imgStr = JSON.stringify(imgArr)
					document.getElementById('img_strs').value = imgStr;
				}
				,done: function(res, index, upload){
					//上传完毕回调
					if(res.code == 0){
						//do something （比如将res返回的图片链接保存到表单的隐藏域）
						imgArr.push({filename:res.data.filename,filepath:res.data.filepath,fileid:res.data.id})
					}
				}
				,error: function(){
					//请求异常回调
				}
			});
		});
	
	}
</script>
{/block}
<!-- /脚本 -->