<div class="model">
    <div class="title">
        <p class="tit"><i class="iconfont icon-jifen"></i><span>积分榜</span></p>
    </div>
    <div class="integral">
        <div class="type">
            <p class="cur">中超</p>
            <p>英超</p>
            <p>意甲</p>
            <p>西甲</p>
            <p>德甲</p>
            <p>法甲</p>
        </div>
        <ul class="table">
            <li class="item-name">
                <span></span>
                <span>球队</span>
                <span>胜</span>
                <span>平</span>
                <span>负</span>
                <span>积分</span>
            </li>
            <li>
                <span>1</span>
                <span>武汉三镇</span>
                <span>25</span>
                <span>3</span>
                <span>6</span>
                <span>78</span>
            </li>
            <li>
                <span>2</span>
                <span>武汉三镇</span>
                <span>25</span>
                <span>3</span>
                <span>6</span>
                <span>78</span>
            </li>
            <li>
                <span>3</span>
                <span>武汉三镇</span>
                <span>25</span>
                <span>3</span>
                <span>6</span>
                <span>78</span>
            </li>
        </ul>
    </div>
</div>