<?php $zxdata=getCompTables();  ?>
<div class="model">
    <div class="title">
        <p class="tit"><i class="iconfont icon-jifen"></i><span>积分榜</span></p>
    </div>
    <div class="integral">
        <div class="type">
            {foreach $zxdata as $key=>$type}
            <p class="{$key==0?'cur':''}">{$type.comp.short_name_zh}</p>
            {/foreach}
        </div>
        {foreach $zxdata as $key=>$table}
        <ul class="table {$key==0?'cur':''}">
            <li class="item-name">
                <span></span>
                <span>球队</span>
                <span>胜</span>
                <span>平</span>
                <span>负</span>
                <span>积分</span>
            </li>
            {foreach $table['tables'][0]['rows'] as $key=>$item}
            <li>
                <span>{$key+1}</span>
                <span>{$item.team_name}</span>
                <span>{$item.won}</span>
                <span>{$item.draw}</span>
                <span>{$item.loss}</span>
                <span>{$item.points}</span>
            </li>
            {/foreach}
        </ul>
        {/foreach}
    </div>
</div>
<script>
    $(".integral p").click(function (){
        let index = $(this).index();
        $(this).addClass("cur").siblings().removeClass();
        $(".integral .table").removeClass("cur").eq(index).addClass("cur");
    })
</script>