<div class="model">
    <div class="title">
        <p class="tit"><i class="iconfont icon-jijin"></i><span>集锦</span></p>
        <p class="more"><a href="">更多</a></p>
    </div>
    <div class="lists">
        <ul>
            <li><a href="" title="" target="_blank">西甲-奥坎波斯补时点杀 塞维利亚1-0毕尔巴鄂</a></li>
            <li><a href="" title="" target="_blank">西甲-奥坎波斯补时点杀 塞维利亚1-0毕尔巴鄂</a></li>
            <li><a href="" title="" target="_blank">西甲-奥坎波斯补时点杀 塞维利亚1-0毕尔巴鄂</a></li>
            <li><a href="" title="" target="_blank">西甲-奥坎波斯补时点杀 塞维利亚1-0毕尔巴鄂</a></li>
            <li><a href="" title="" target="_blank">西甲-奥坎波斯补时点杀 塞维利亚1-0毕尔巴鄂</a></li>
        </ul>
    </div>
</div>