<?php $typid=strpos(get_ruleName(), 'zuqiu') ? 0 : (strpos(get_ruleName(), 'lanqiu') ? 1 : ''); $compid=$comp['id']??0; $jjdata=getLuxiangJijin(1,$typid,5,$compid); ?>
<div class="model">
    <div class="title">
        <p class="tit"><i class="iconfont icon-jijin"></i><span class="prefix">集锦</span></p>
        <p class="more"><a href="/jijin/">更多</a></p>
    </div>
    <div class="lists">
        <ul>
            {if isset($jijin)}
                {foreach $jijin as $jj}
                <li><a href="/{$jj.type=='1'?'jijin':'luxiang'}/{$jj.video_type=='0'?'zuqiu':'lanqiu'}/1/{$jj.short_name_py}/{$jj.id}" title="{$jj.title}" target="_blank">{$jj.title}</a></li>
                {/foreach}
            {/if}
        </ul>
    </div>
</div>