<?php
$typid=strpos(get_ruleName(), 'zuqiu') ? 0 : (strpos(get_ruleName(), 'lanqiu') ? 1 : '');
$compid=$comp['id']??0;
$lxdata=getLuxiangJijin(2,$typid,$compid,4);
?>
<div class="sub-model">
    <div class="title">
        <p class="name"><span class="{$lxdata.source?='prefix'}">{$lxdata.source==false?='热门'}录像</span></p>
        <p class="more"><a href="{:moresrc('luxiang',$lxdata.source)}" target="_blank">更多</a></p>
    </div>
    <div class="cont video-list">
        {foreach $lxdata.data as $i=>$item}
        <div class="play">
            <a href="/luxiang-{$item.video_type=='0'?'zuqiu':'lanqiu'}/{$item.short_name_py}/{$item.id}.html" rel="nofollow"
               target="_blank">
                <img src="{$item.cover}">
                <p class="tit">{$item.title}</p>
            </a>
        </div>
        {/foreach}
    </div>
</div>