<?php $typid=strpos(get_ruleName(), 'zuqiu') ? 0 : (strpos(get_ruleName(), 'lanqiu') ? 1 : ''); $compid=$comp['id']??0; $lxdata=getLuxiangJijin(2,$typid,4,$compid); ?>
<div class="model">
    <div class="title">
        <p class="tit"><i class="iconfont icon-luxiang"></i><span class="prefix">录像</span></p>
        <p class="more"><a href="/luxiang/">更多</a></p>
    </div>
    <div class="video">
        {if isset($luxiang)}
        {foreach $luxiang as $lx}
        <div class="play">
            <a href="/{$lx.type=='1'?'jijin':'luxiang'}/{$lx.video_type=='0'?'zuqiu':'lanqiu'}/1/{$lx.short_name_py}/{$lx.id}" rel="nofollow"
               target="_blank">
                <img src="{$lx.cover}">
                <p class="tit">{$lx.title}</p>
            </a>
        </div>
        {/foreach}
        {/if}
    </div>
</div>