<div class="model">
    <div class="title">
        <p class="tit"><i class="iconfont icon-zixun"></i><span>相关资讯</span></p>
    </div>
    <dl class="about-list nodata">
        {foreach $article.data as $i=>$item}
        <dd>
            <a href="/zixun-{$item.cate_id=='1'?'zuqiu':'lanqiu'}/{$item.short_name_py}/{$item.id}" target="_blank">
                <div class="new-img">
                    <img title="{$item.title}" src="{$item.origin_url}">
                </div>
                <div class="cont">
                    <h4 title="{$item.title}">{$item.title}</h4>
                    <p class="desc">{$item.desc}</p>
                </div>
            </a>
        </dd>
        {/foreach}
    </dl>
</div>