<div class="model">
    <div class="title">
        <p class="tit"><i class="iconfont icon-jiangbei"></i><span>赛事</span></p>
        <p class="more"><a href="">更多</a></p>
    </div>
    <div class="match-type">
        <a href="">
            <img src="https://www.i999.com.cn/uploads/liansai/hasachao.png" alt="">
            哈萨超
        </a>
        <a href="">
            <img src="https://www.i999.com.cn/uploads/liansai/hasachao.png" alt="">
            哈萨超
        </a>
        <a href="">
            <img src="https://www.i999.com.cn/uploads/liansai/hasachao.png" alt="">
            哈萨超
        </a>
        <a href="">
            <img src="https://www.i999.com.cn/uploads/liansai/hasachao.png" alt="">
            哈萨超
        </a>
        <a href="">
            <img src="https://www.i999.com.cn/uploads/liansai/hasachao.png" alt="">
            哈萨超
        </a>
        <a href="">
            <img src="https://www.i999.com.cn/uploads/liansai/hasachao.png" alt="">
            哈萨超
        </a>
        <a href="">
            <img src="https://www.i999.com.cn/uploads/liansai/hasachao.png" alt="">
            哈萨超
        </a>
        <a href="">
            <img src="https://www.i999.com.cn/uploads/liansai/hasachao.png" alt="">
            哈萨超
        </a>
        <a href="">
            <img src="https://www.i999.com.cn/uploads/liansai/hasachao.png" alt="">
            哈萨超
        </a>
    </div>
</div>