<?php $lsdata=getHotComp(); ?>
<div class="sub-model">
    <div class="title">
        <p class="name">联赛</p>
        <p class="more"><a href="/liansai-zuqiu/" target="_blank">更多</a></p>
    </div>
    <div class="cont match-type">
        {foreach $lsdata as $i=>$item}
        <a href="/liansai-{$item.sphere_type}/{$item.id}" target="_blank">
            <img src="{$item.logo}" alt="{:empty($item.short_name_zh)?$item.name_zh:$item.short_name_zh}">
            <p>{:empty($item.short_name_zh)?$item.name_zh:$item.short_name_zh}</p>
        </a>
        {/foreach}
    </div>
</div>