<?php $qddata=getHotTeam(); var_dump($qddata);die;?>
<div class="model">
    <div class="title">
        <p class="tit"><i class="iconfont icon-duiwu"></i><span>球队</span></p>
        <p class="more"><a href="/qiudui/">更多</a></p>
    </div>
    <div class="team-name">
        {foreach $qddata as $i=>$item}
        <a href="">
            <img src="https://www.i999.com.cn/uploads/qiudui/9c8466e1de53c93844cb1ed35f3ab036.png"
                 alt="">武汉三镇
        </a>
        {/foreach}
    </div>
</div>