<?php $type=typeselect(); $curparam=get_params('compname'); ?>
<div class="category">
    {volist name="type" id="item" length='10'}
    <a href="{$item.src}" data-link="{$item.py}">{$item.title}</a>
    {/volist}
</div>
<script>
    let issel = true;
    $(".category a").each(function (i, item) {
        let thelink = $(item).data('link');
        if (curlink.indexOf(thelink) > -1) {
            $(item).addClass('cur');
            issel = false;
        }
    })
    if (issel) $(".category a:first-child").addClass('cur');
</script>