<div class="model">
    <div class="title">
        <p class="tit"><i class="iconfont icon-zhibo"></i><span><?php echo typename() ?>直播</span></p>
        <p class="more"><a href="">更多</a></p>
    </div>
    <dl class="live">
        <dd>
            <p class="info">
                <a href="">澳超</a>
                <span>04-28 17:45</span>
            </p>
            <div class="cont">
                <p class="team">
                    <a href=""><img
                            src="https://www.i999.com.cn/uploads/qiudui/31e4e9417ec512d4e6aeb27fb30fbd5e.png">墨尔本城</a>
                    <a href=""><img
                            src="https://www.i999.com.cn/uploads/qiudui/0f2783cf9426088b7775925c6b3875a6.png">西悉尼流浪者</a>
                </p>
                <a class="right-btn" href=""><i class="iconfont icon-fenxi"></i><span>赛前分析</span></a>
            </div>
        </dd>
        <dd>
            <p class="info">
                <a href="">澳超</a>
                <span>04-28 17:45</span>
            </p>
            <div class="cont">
                <p class="team">
                    <a href=""><img
                            src="https://www.i999.com.cn/uploads/qiudui/31e4e9417ec512d4e6aeb27fb30fbd5e.png">墨尔本城</a>
                    <a href=""><img
                            src="https://www.i999.com.cn/uploads/qiudui/0f2783cf9426088b7775925c6b3875a6.png">西悉尼流浪者</a>
                </p>
                <a class="right-btn" href=""><i class="iconfont icon-fenxi"></i><span>赛前分析</span></a>
            </div>
        </dd>
        <dd>
            <p class="info">
                <a href="">澳超</a>
                <span>04-28 17:45</span>
            </p>
            <div class="cont">
                <p class="team">
                    <a href=""><img
                            src="https://www.i999.com.cn/uploads/qiudui/31e4e9417ec512d4e6aeb27fb30fbd5e.png">墨尔本城</a>
                    <a href=""><img
                            src="https://www.i999.com.cn/uploads/qiudui/0f2783cf9426088b7775925c6b3875a6.png">西悉尼流浪者</a>
                </p>
                <a class="right-btn" href=""><i class="iconfont icon-fenxi"></i><span>赛前分析</span></a>
            </div>
        </dd>
        <dd>
            <p class="info">
                <a href="">澳超</a>
                <span>04-28 17:45</span>
            </p>
            <div class="cont">
                <p class="team">
                    <a href=""><img
                            src="https://www.i999.com.cn/uploads/qiudui/31e4e9417ec512d4e6aeb27fb30fbd5e.png">墨尔本城</a>
                    <a href=""><img
                            src="https://www.i999.com.cn/uploads/qiudui/0f2783cf9426088b7775925c6b3875a6.png">西悉尼流浪者</a>
                </p>
                <a class="right-btn" href=""><i class="iconfont icon-fenxi"></i><span>赛前分析</span></a>
            </div>
        </dd>
        <dd>
            <p class="info">
                <a href="">澳超</a>
                <span>04-28 17:45</span>
            </p>
            <div class="cont">
                <p class="team">
                    <a href=""><img
                            src="https://www.i999.com.cn/uploads/qiudui/31e4e9417ec512d4e6aeb27fb30fbd5e.png">墨尔本城</a>
                    <a href=""><img
                            src="https://www.i999.com.cn/uploads/qiudui/0f2783cf9426088b7775925c6b3875a6.png">西悉尼流浪者</a>
                </p>
                <a class="right-btn" href=""><i class="iconfont icon-fenxi"></i><span>赛前分析</span></a>
            </div>
        </dd>
    </dl>
</div>