<div class="model">
    <div class="title">
        <p class="tit"><i class="iconfont icon-zixun"></i><span><?php echo typename() ?>资讯</span></p>
        <p class="more"><a href="">更多</a></p>
    </div>
    <div class="lists">
        <ul>
            {foreach $article.data as $i=>$item}
            <li><a href="/zixun/{$item.cate_id=='1'?'zuqiu':'lanqiu'}/1/{$item.short_name_py}/{$item.id}" title="{$item.title}" target="_blank">{$item.title}</a></li>
            {/foreach}


            
        </ul>
    </div>
</div>