<div class="model">
    <div class="title">
        <p class="tit"><i class="iconfont icon-zixun"></i><span class="prefix">资讯</span></p>
        <p class="more"><a href="">更多</a></p>
    </div>
    <div class="lists">
        <ul>
            <li><a href="" title="" target="_blank">梅州外援杜加利奇：本场输球很失望 要抬起头来拿到更多分数</a></li>
            <li><a href="" title="" target="_blank">梅州外援杜加利奇：本场输球很失望 要抬起头来拿到更多分数</a></li>
            <li><a href="" title="" target="_blank">梅州外援杜加利奇：本场输球很失望 要抬起头来拿到更多分数</a></li>
            <li><a href="" title="" target="_blank">梅州外援杜加利奇：本场输球很失望 要抬起头来拿到更多分数</a></li>
            <li><a href="" title="" target="_blank">梅州外援杜加利奇：本场输球很失望 要抬起头来拿到更多分数</a></li>
        </ul>
    </div>
</div>