{extend name="common/base"/}
{block name="style"}
{/block}
<!-- 主体 -->
{block name="body"}
{include file="common/header" nav='info' /}
<div class="breadcrumbs">
    <ul>
        <li>
            <a href="">首页</a>
        </li>
        <li>&gt;</li>
        <li>
            <a href="">首页</a>
        </li>
        <li>&gt;</li>
        <li>
            <a href="">首页</a>
        </li>
        <li>&gt;</li>
        <li>
            首页
        </li>
    </ul>
</div>
<div class="container">
    <div class="left-main">
        <div class="model">
            <div class="title">
                <p class="tit"><i class="iconfont icon-zhibo"></i><span>直播</span></p>
            </div>
            <div class="play-list">
                <dl class="list-cont">
                    <dd>
                        <p class="time"><i class="iconfont icon-zuqiu"></i>15:00</p>
                        <p class="type"><a href="">中女超</a></p>
                        <p class="team"><a href="">永川茶山竹海女足</a><img class=""
                                                                            src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""></p>
                        <p class="vs">VS</p>
                        <p class="team"><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png"
                                             alt=""><a href="">杭州银行女足</a></p>
                        <a class="right-btn" href=""><i class="iconfont icon-fenxi"></i><span>赛前分析</span></a>
                    </dd>
                    <dd>
                        <p class="time"><i class="iconfont icon-zuqiu"></i>15:00</p>
                        <p class="type"><a href="">中女超</a></p>
                        <p class="team"><a href="">永川茶山竹海女足</a><img class=""
                                                                            src="https://www.i999.com.cn/uploads/qiudui/default.png" alt=""></p>
                        <p class="vs">VS</p>
                        <p class="team"><img class="" src="https://www.i999.com.cn/uploads/qiudui/default.png"
                                             alt=""><a href="">杭州银行女足</a></p>
                        <a class="right-btn" href=""><i class="iconfont icon-bofang"></i><span>锦集/录像</span></a>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="model">
            <div class="title">
                <p class="tit"><i class="iconfont icon-luxiang"></i><span>录像</span></p>
            </div>
            <dl class="list-back">
                <dd>
                    <p class="back-cont">
                        <a href=""><span>2023-04-28</span>04月28日 西甲第31轮 毕尔巴鄂vs塞维利亚 全场录像</a>
                    </p>
                    <p class="back-team">
                        <a href="">塞维利亚</a><a href="">巴鄂</a>
                    </p>
                </dd>
                <dd>
                    <p class="back-cont">
                        <a href=""><span>2023-04-28</span>04月28日 西甲第31轮 毕尔巴鄂vs塞维利亚 全场录像</a>
                    </p>
                    <p class="back-team">
                        <a href="">塞维利亚</a><a href="">巴鄂</a>
                    </p>
                </dd>
                <dd>
                    <p class="back-cont">
                        <a href=""><span>2023-04-28</span>04月28日 西甲第31轮 毕尔巴鄂vs塞维利亚 全场录像</a>
                    </p>
                    <p class="back-team">
                        <a href="">塞维利亚</a><a href="">巴鄂</a>
                    </p>
                </dd>
            </dl>
        </div>
        <div class="model">
            <div class="title">
                <p class="tit"><i class="iconfont icon-jijin"></i><span>集锦</span></p>
            </div>
            <dl class="list-back">
                <dd>
                    <p class="back-cont">
                        <a href=""><span>2023-04-26</span>英超-西尼斯特拉泰山压顶瓦尔迪扳平 利兹联1-1莱斯特城排名不变</a>
                    </p>
                    <p class="back-team">
                        <a href="">莱斯特城</a><a href="">利兹联</a>
                    </p>
                </dd>
                <dd>
                    <p class="back-cont">
                        <a href=""><span>2023-04-26</span>英超-西尼斯特拉泰山压顶瓦尔迪扳平 利兹联1-1莱斯特城排名不变</a>
                    </p>
                    <p class="back-team">
                        <a href="">莱斯特城</a><a href="">利兹联</a>
                    </p>
                </dd>
            </dl>
        </div>
        {include file="assembly/newimg"/}
    </div>
    <div class="right-main">
        <div class="model specific">
            <div class="logo">
                <img src="https://www.i999.com.cn/uploads/qiudui/af9b672d68a9c382ff4b6886dcdfce6d.png" />
            </div>
            <div class="info">
                曼彻斯特城足球俱乐部（Manchester City F.C.），简称“曼城”，绰号“蓝月亮”，口号是Superbia in Proelio，意为“战争的自豪”（Pride in
                Battle）；位于英国的曼彻斯特，前身为成立于1880年的
            </div>
        </div>
        {include file="assembly/team"/}
    </div>
</div>
{/block}
<!-- /主体 -->
<!-- 脚本 -->
{block name="script"}
<script>

</script>
{/block}
<!-- /脚本 -->