{extend name="common/base"/}
{block name="style"}
{/block}
<!-- 主体 -->
{block name="body"}
{include file="common/header" nav='info' /}
<div class="playbg">
    <div class="breadcrumbs">
        <ul>
            <li>
                <a href="">首页</a>
            </li>
            <li>&gt;</li>
            <li>
                <a href="">首页</a>
            </li>
            <li>&gt;</li>
            <li>
                <a href="">首页</a>
            </li>
            <li>&gt;</li>
            <li>
                首页
            </li>
        </ul>
    </div>
    <div class="play match-info">
        <div class="team">
            <p class="team-name">瓦伦西亚</p>
            <p class="team-logo"><img
                    src="https://cdn.sportnanoapi.com/football/team/3b54543c1a584e2e9948d655142996d3.png"></p>
        </div>
        <div class="info">
            <p>即将开始</p>
            <p class="type">西甲</p>
            <p>2023-04-28 01:30</p>
        </div>
        <div class="team">
            <p class="team-logo"><img
                    src="https://cdn.sportnanoapi.com/football/team/4b662ff690012390522d3aea7030b7f5.png"></p>
            <p class="team-name">巴拉多利德</p>
        </div>
    </div>
    <div class="live-link">
        <a href="https://tv.cctv.com/live/cctv5/" target=_blank>CCTV5</a>
        <a href="https://kbs.sports.qq.com/" target=_blank>腾讯体育</a>
        <a href="https://www.miguvideo.com/mgs/website/prd/sportMatchDetail.html" target=_blank>咪咕体育</a>
    </div>
</div>
<div class="container">
    <div class="left-main">
        <div class="model">
            <div class="type-tabs">
                <p class="cur">赛前分析</p>
                <p>直播信息</p>
                <p>技术统计</p>
                <p>球员统计</p>
            </div>
            <div class="type-cont">
                <ul class="name-tab">
                    <li class="cur">亚特兰特</li>
                    <li>塔巴蒂奥</li>
                </ul>
                <div class="name-cont">
                    <ul>
                        <li class=header>
                            <span>交锋历史</span><span>赛事</span><span>主队</span><span>比分结果</span><span>客队</span>
                        </li>
                        <li>
                            <span>2023-01-14 07:00</span><span>墨西甲</span><span>塔巴蒂奥</span><span>4 :
										3</span><span>亚特兰特</span>
                        </li>
                        <li>
                            <span>2022-10-10 05:00</span><span>墨西甲</span><span>亚特兰特</span><span>4 :
										1</span><span>塔巴蒂奥</span>
                        </li>
                        <li>
                            <span>2022-01-28 11:00</span><span>墨西甲</span><span>亚特兰特</span><span>0 :
										0</span><span>塔巴蒂奥</span>
                        </li>
                        <li>
                            <span>2021-09-27 06:00</span><span>墨西甲</span><span>塔巴蒂奥</span><span>1 :
										4</span><span>亚特兰特</span>
                        </li>
                        <li>
                            <span>2021-02-05 07:00</span><span>墨西甲</span><span>塔巴蒂奥</span><span>2 :
										1</span><span>亚特兰特</span>
                        </li>
                    </ul>
                    <ul>
                        <li class=header>
                            <span>主队近期战绩</span><span>赛事</span><span>主队</span><span>比分结果</span><span>客队</span>
                        </li>
                        <li>
                            <span>2023-05-07 02:00</span><span>墨西甲</span><span>亚特兰特</span><span>1 :
										0</span><span>蒙特雷B队</span>
                        </li>
                        <li>
                            <span>2023-05-04 09:00</span><span>墨西甲</span><span>蒙特雷B队</span><span>1 :
										1</span><span>亚特兰特</span>
                        </li>
                        <li>
                            <span>2023-04-24 07:00</span><span>墨西甲</span><span>亚特兰特</span><span>1 :
										0</span><span>杜兰戈蝎子</span>
                        </li>
                        <li>
                            <span>2023-04-13 09:05</span><span>墨西甲</span><span>拉巴斯竞技</span><span>1 :
										2</span><span>亚特兰特</span>
                        </li>
                        <li>
                            <span>2023-04-07 11:05</span><span>墨西甲</span><span>亚特兰特</span><span>2 :
										1</span><span>克雷卡米诺斯</span>
                        </li>
                    </ul>
                    <ul>
                        <li class=header>
                            <span>主队未来赛程</span><span>赛事</span><span>主队</span><span>比分结果</span><span>客队</span>
                        </li>
                    </ul>
                </div>
                <div class="name-cont">
                    <ul>
                        <li class=header>
                            <span>交锋历史</span><span>赛事</span><span>主队</span><span>比分结果</span><span>客队</span>
                        </li>
                        <li>
                            <span>2023-01-14 07:00</span><span>墨西甲</span><span>塔巴蒂奥</span><span>4 :
										3</span><span>亚特兰特</span>
                        </li>
                        <li>
                            <span>2022-10-10 05:00</span><span>墨西甲</span><span>亚特兰特</span><span>4 :
										1</span><span>塔巴蒂奥</span>
                        </li>
                        <li>
                            <span>2022-01-28 11:00</span><span>墨西甲</span><span>亚特兰特</span><span>0 :
										0</span><span>塔巴蒂奥</span>
                        </li>
                        <li>
                            <span>2021-09-27 06:00</span><span>墨西甲</span><span>塔巴蒂奥</span><span>1 :
										4</span><span>亚特兰特</span>
                        </li>
                        <li>
                            <span>2021-02-05 07:00</span><span>墨西甲</span><span>塔巴蒂奥</span><span>2 :
										1</span><span>亚特兰特</span>
                        </li>
                    </ul>
                    <ul>
                        <li class=header>
                            <span>客队近期战绩</span><span>赛事</span><span>主队</span><span>比分结果</span><span>客队</span>
                        </li>
                        <li>
                            <span>2023-05-07 07:00</span><span>墨西甲</span><span>塔巴蒂奥</span><span>1 :
										1</span><span>特拉斯卡拉</span>
                        </li>
                        <li>
                            <span>2023-05-04 11:05</span><span>墨西甲</span><span>特拉斯卡拉</span><span>2 :
										2</span><span>塔巴蒂奥</span>
                        </li>
                        <li>
                            <span>2023-04-20 07:00</span><span>墨西甲</span><span>塔巴蒂奥</span><span>1 :
										2</span><span>扎卡特卡斯</span>
                        </li>
                        <li>
                            <span>2023-04-13 07:00</span><span>墨西甲</span><span>杜兰戈蝎子</span><span>2 :
										5</span><span>塔巴蒂奥</span>
                        </li>
                        <li>
                            <span>2023-04-07 09:05</span><span>墨西甲</span><span>塔巴蒂奥</span><span>4 :
										0</span><span>多拉多斯</span>
                        </li>
                    </ul>
                    <ul>
                        <li class=header>
                            <span>客队未来赛程</span><span>赛事</span><span>主队</span><span>比分结果</span><span>客队</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="type-cont">
                <ul class="playtxt">
                    <li>赛事名称：西甲</li>
                    <li>比赛队伍：瓦伦西亚vs巴拉多利德</li>
                    <li>比赛时间：2023-04-28 01:30</li>
                    <li>赛事信息：本场包含了瓦伦西亚vs巴拉多利德直播信息,爱尚体育直播将对本场进行免费视频直播。</li>
                    <li>爱尚体育直播为您提供瓦伦西亚对阵
                        巴拉多利德高清无插件直播地址，
                        瓦伦西亚直播和巴拉多利德直播信号将在开赛前实时更新，
                        刷新本页面或进入爱尚体育直播首页即可获取最新直播信号。
                        喜欢看瓦伦西亚VS巴拉多利德比赛的朋友可以提前收藏本页面以免错过您喜欢的赛事直播。
                    </li>
                </ul>
            </div>
            <div class="type-cont">
                <table class="player-data">
                    <tr>
                        <th>实时数据</th>
                        <th>1st</th>
                        <th>2nd</th>
                        <th>3rd</th>
                        <th>4th</th>
                        <th>加时1</th>
                        <th>加时2</th>
                        <th>加时3</th>
                        <th>加时4</th>
                        <th>总分</th>
                    </tr>
                    <tr>
                        <td>湖人</td>
                        <td>22</td>
                        <td>27</td>
                        <td>28</td>
                        <td>27</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>104</td>
                    </tr>
                    <tr>
                        <td>勇士</td>
                        <td>21</td>
                        <td>31</td>
                        <td>32</td>
                        <td>17</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>101</td>
                    </tr>
                </table>
                <div class="census">
                    <p class="left"><span>湖人</span><img
                            src="https://image.24zbw.com/icon/team/2/d8a539f504ff28555785d42b3ab32c79">
                    </p>
                    <p class="center">数据对比</p>
                    <p class="right"><img
                            src="https://image.24zbw.com/icon/team/2/92345ef1c709dd1b9e3911413f3ad887"><span>勇士</span>
                    </p>
                </div>
                <div class="census contrast">
                    <p class="left"><i style="width:43.68%" class="win"></i>
                        <span>14</span>
                    </p>
                    <p class="center">快攻得分</p>
                    <p class="right">
                        <span>17</span><i style="width:34.32%"></i>
                    </p>
                </div>
                <div class="census contrast">
                    <p class="left"><i style="width:43.68%" class="win"></i>
                        <span>46</span>
                    </p>
                    <p class="center">内线得分</p>
                    <p class="right">
                        <span>52</span><i style="width:34.32%"></i>
                    </p>
                </div>
                <div class="census contrast">
                    <p class="left"><i style="width:43.68%" class="win"></i>
                        <span>5</span>
                    </p>
                    <p class="center">最多领先分数</p>
                    <p class="right">
                        <span>12</span><i style="width:34.32%"></i>
                    </p>
                </div>
                <div class="census contrast">
                    <p class="left"><i style="width:43.68%" class="win"></i>
                        <span>0</span>
                    </p>
                    <p class="center">二次进攻</p>
                    <p class="right">
                        <span>0</span><i style="width:34.32%"></i>
                    </p>
                </div>
                <div class="census contrast">
                    <p class="left"><i style="width:43.68%" class="win"></i>
                        <span>14</span>
                    </p>
                    <p class="center">失误</p>
                    <p class="right">
                        <span>16</span><i style="width:34.32%"></i>
                    </p>
                </div>
                <div class="census">
                    <p class="left"><span>比利亚雷亚尔</span><img
                            src="https://cdn.sportnanoapi.com/football/team/aee62af96a956756cc29fe4831286357.png">
                    </p>
                    <p class="center">数据对比</p>
                    <p class="right"><img
                            src="https://cdn.sportnanoapi.com/football/team/3b54543c1a584e2e9948d655142996d3.png"><span>瓦伦西亚</span>
                    </p>
                </div>
                <div class="census contrast">
                    <p class="left"><i style="width:43.68%" class="win"></i>
                        <span>56%</span>
                    </p>
                    <p class="center">控球率</p>
                    <p class="right">
                        <span>44%</span><i style="width:34.32%"></i>
                    </p>
                </div>
                <div class="census contrast">
                    <p class="left"><i style="width:45.157894736842%" class="win"></i>
                        <span>11</span>
                    </p>
                    <p class="center">射门</p>
                    <p class="right">
                        <span>8</span><i style="width:32.842105263158%"></i>
                    </p>
                </div>
                <div class="census contrast">
                    <p class="left"><i style="width:62.4%" class="win"></i>
                        <span>4</span>
                    </p>
                    <p class="center">射正</p>
                    <p class="right">
                        <span>1</span><i style="width:15.6%"></i>
                    </p>
                </div>
                <div class="census contrast">
                    <p class="left"><i style="width:54.109090909091%" class="win"></i>
                        <span>496</span>
                    </p>
                    <p class="center">传球</p>
                    <p class="right">
                        <span>219</span><i style="width:23.890909090909%"></i>
                    </p>
                </div>
                <div class="census contrast">
                    <p class="left"><i style="width:57.388601036269%" class="win"></i>
                        <span>426</span>
                    </p>
                    <p class="center">传球成功</p>
                    <p class="right">
                        <span>153</span><i style="width:20.611398963731%"></i>
                    </p>
                </div>
                <div class="census contrast">
                    <p class="left"><i style="width:52%" class="win"></i>
                        <span>2</span>
                    </p>
                    <p class="center">任意球</p>
                    <p class="right">
                        <span>1</span><i style="width:26%"></i>
                    </p>
                </div>
                <div class="census contrast">
                    <p class="left"><i style="width:39%"></i>
                        <span>6</span>
                    </p>
                    <p class="center">角球</p>
                    <p class="right">
                        <span>6</span><i style="width:39%"></i>
                    </p>
                </div>
                <div class="census contrast">
                    <p class="left"><i style="width:22.285714285714%"></i>
                        <span>2</span>
                    </p>
                    <p class="center">越位</p>
                    <p class="right">
                        <span>5</span><i style="width:55.714285714286%" class="win"></i>
                    </p>
                </div>
                <div class="census contrast">
                    <p class="left"><i style="width:37.555555555556%"></i>
                        <span>13</span>
                    </p>
                    <p class="center">角球</p>
                    <p class="right">
                        <span>14</span><i style="width:40.444444444444%" class="win"></i>
                    </p>
                </div>
                <div class="census contrast">
                    <p class="left"><i style="width:26%"></i>
                        <span>2</span>
                    </p>
                    <p class="center">犯规</p>
                    <p class="right">
                        <span>4</span><i style="width:52%" class="win"></i>
                    </p>
                </div>
                <div class="census contrast">
                    <p class="left"><i style="width:0%"></i>
                        <span>0</span>
                    </p>
                    <p class="center">黄牌</p>
                    <p class="right">
                        <span>0</span><i style="width:0%"></i>
                    </p>
                </div>
                <div class="census contrast">
                    <p class="left"><i style="width:0%"></i>
                        <span>0</span>
                    </p>
                    <p class="center">红牌</p>
                    <p class="right">
                        <span>0</span><i style="width:0%"></i>
                    </p>
                </div>
                <div class="census contrast">
                    <p class="left"><i style="width:39%"></i>
                        <span>1</span>
                    </p>
                    <p class="center">两黄变红</p>
                    <p class="right">
                        <span>1</span><i style="width:39%"></i>
                    </p>
                </div>
                <div class="census contrast">
                    <p class="left"><i style="width:35.020408163265%"></i>
                        <span>22</span>
                    </p>
                    <p class="center">失球</p>
                    <p class="right">
                        <span>27</span><i style="width:42.979591836735%" class="win"></i>
                    </p>
                </div>
                <div class="census contrast">
                    <p class="left"><i style="width:19.5%"></i>
                        <span>6</span>
                    </p>
                    <p class="center">抢断</p>
                    <p class="right">
                        <span>18</span><i style="width:58.5%" class="win"></i>
                    </p>
                </div>
            </div>
            <div class="type-cont">
                <table class="player-data">
                    <tr>
                        <th><img src="https://image.24zbw.com/icon/team/2/d8a539f504ff28555785d42b3ab32c79">湖人</th>
                        <th>位置</th>
                        <th>时间</th>
                        <th>投篮</th>
                        <th>三分</th>
                        <th>罚球</th>
                        <th>篮板</th>
                        <th>助攻</th>
                        <th>犯规</th>
                        <th>抢断</th>
                        <th>失误</th>
                        <th>盖帽</th>
                        <th>得分</th>
                    </tr>
                    <tr>
                        <td>范德比尔特</td>
                        <td>前锋</td>
                        <td>11</td>
                        <td>0/1</td>
                        <td>0/1</td>
                        <td>2/2</td>
                        <td>3</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>2</td>
                        <td>0</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>范德比尔特</td>
                        <td>前锋</td>
                        <td>11</td>
                        <td>0/1</td>
                        <td>0/1</td>
                        <td>2/2</td>
                        <td>3</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>2</td>
                        <td>0</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>范德比尔特</td>
                        <td>前锋</td>
                        <td>11</td>
                        <td>0/1</td>
                        <td>0/1</td>
                        <td>2/2</td>
                        <td>3</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>2</td>
                        <td>0</td>
                        <td>2</td>
                    </tr>
                </table>
                <table class="player-data">
                    <tr>
                        <th><img src="https://image.24zbw.com/icon/team/2/92345ef1c709dd1b9e3911413f3ad887">勇士</th>
                        <th>位置</th>
                        <th>时间</th>
                        <th>投篮</th>
                        <th>三分</th>
                        <th>罚球</th>
                        <th>篮板</th>
                        <th>助攻</th>
                        <th>犯规</th>
                        <th>抢断</th>
                        <th>失误</th>
                        <th>盖帽</th>
                        <th>得分</th>
                    </tr>
                    <tr>
                        <td>维金斯</td>
                        <td>前锋</td>
                        <td>39</td>
                        <td>6/14</td>
                        <td>2/6</td>
                        <td>3/4</td>
                        <td>4</td>
                        <td>1</td>
                        <td>4</td>
                        <td>2</td>
                        <td>3</td>
                        <td>0</td>
                        <td>17</td>
                    </tr>
                    <tr>
                        <td>维金斯</td>
                        <td>前锋</td>
                        <td>39</td>
                        <td>6/14</td>
                        <td>2/6</td>
                        <td>3/4</td>
                        <td>4</td>
                        <td>1</td>
                        <td>4</td>
                        <td>2</td>
                        <td>3</td>
                        <td>0</td>
                        <td>17</td>
                    </tr>
                    <tr>
                        <td>维金斯</td>
                        <td>前锋</td>
                        <td>39</td>
                        <td>6/14</td>
                        <td>2/6</td>
                        <td>3/4</td>
                        <td>4</td>
                        <td>1</td>
                        <td>4</td>
                        <td>2</td>
                        <td>3</td>
                        <td>0</td>
                        <td>17</td>
                    </tr>
                </table>
            </div>
        </div>
        {include file="assembly/newimg"/}
    </div>
    <div class="right-main">
        {include file="assembly/luxiang"/}
        {include file="assembly/jijin"/}
    </div>
</div>
{/block}
<!-- /主体 -->
<!-- 脚本 -->
{block name="script"}
<script>
    $(".type-tabs p").click(function() {
        let index = $(this).index();
        $(this).addClass("cur").siblings().removeClass();
        $(".type-cont").hide().eq(index).show();
    })
    $(".name-tab li").click(function() {
        let index = $(this).index();
        $(this).addClass("cur").siblings().removeClass();
        $(".type-cont .name-cont").slideUp().eq(index).slideDown();
    })
</script>
{/block}
<!-- /脚本 -->