{extend name="common/base"/}
{block name="title"}
<title>3月21日火箭vs勇士比赛直播视频在线免费观看 -{:get_system_config('web','admin_title')}</title>
{/block}
{block name="keywords"}
<meta name="keywords" content="3月21日火箭vs勇士,火箭vs勇士比赛直播,火箭vs勇士直播免费在线观看"/>
<meta name="description" content="3月21日火箭vs勇士比赛直播视频在线免费观看，小兔直播努力做最好的篮球赛事免费直播平台。"/>
{/block}
{block name="style"}
<link rel="stylesheet" href="{__CSS__}/public.css?v={:get_system_config('web','version')}">
<link rel="stylesheet" href="{__CSS__}/swiper-bundle.css?">
<link rel="stylesheet" href="{__CSS__}/layui.css">
<link rel="stylesheet" href="{__CSS__}/zhiboxq.css?v=0.0.7">
<link rel="stylesheet" href="{__CSS__}/jjhf.css">
{/block}
<!-- 主体 -->
{block name="body"}
<?php
                    if(empty($homeTeam)){
                        $homeTeam["short_name_zh"] = "";
                        $homeTeam["name_en"] = "";
                        $homeTeam["name_zh"] = "";
                        $homeTeam["logo"] = defaultLogo('');
                    }
                    if(empty($awayTeam)){
                        $awayTeam["short_name_zh"] = "";
                        $awayTeam["name_en"] = "";
                        $homeTeam["name_zh"] = "";
                        $awayTeam["logo"] = defaultLogo('');
                    }
?>
{include file="common/header" nav='info' /}
<div class="zbtu">
    <div class="main-wrap2">
        <div class="team">
            <div>
                <h1>
                    <img src="{$homeTeam.logo}" alt="">
                    <span style="position: absolute;left: 500px;color: #fff;">{$homeTeam.short_name_zh}</span>
                </h1>
            </div>
            <div style="text-align: center;">
                <em class="status">{$model.status_text}</em>
                <div class="team-time">{$model.match_time|date="m-d H:i"}</div>
                {if condition="$model.is_link eq 0"}
                <div class="sig-list">进入直播</div>
                {else}
                <a  href="{$model.pc_link}"><div class="sig-list">进入直播</div></a>
                {/if}
            </div>
            <div>
                <h1>
                    <span style="position: absolute;right: 500px;color: #fff;">{$awayTeam.short_name_zh}</span>
                    <img src="{$awayTeam.logo}" alt="">
                </h1>
            </div>
        </div>

    </div>
</div>
<div class="zbtu-btn">{$competitionName}</div>

<div class="main-wrap">
    <div class="box" style="margin-top: 16px;">
        <div class="box-w1">
            <div class="bssm">
                <div>

                    <div class='bssm-top'>比赛说明</div>
                    <div class="bsxx">【比赛信息】: 在线观看{$competitionName}-
                        <a href="{:url('team/'.$sphere_type,['id'=>$model.home_team_id])}" target="_blank">{$homeTeam.short_name_zh}</a>
                        VS
                        <a href="{:url('team/'.$sphere_type,['id'=>$model.away_team_id])}" target="_blank">{$awayTeam.short_name_zh}</a>，
                        {:get_system_config('web','admin_title')}为你提供{$model.match_time|date="Y年m月d日"}{$competitionName}-{$homeTeam.short_name_zh}VS{$awayTeam.short_name_zh}高清在线视频直播导航资源，{:get_system_config('web','admin_title')}不制作、不存储{$typeNameText}-{$homeTeam.short_name_zh}VS{$awayTeam.short_name_zh}的高清直播信号，只作为技术探索的导航学习用途。</div>
                    <div class="bsfl">【比赛分类】: <a href="/" target="_blank">{$typeNameText}直播</a></div>
                    <div class="bssj">【比赛时间】: {$model.match_time|date="m-d H:i"}</div>
                    <div class="dzsf">【对阵双方】: {$competitionName}-{$homeTeam.short_name_zh}VS{$awayTeam.short_name_zh}</div>
                </div>
            </div>
            <div class="qdjs-box">
                <div class="qdjs">
                    <div>
                        <div class="bssm-top">{$homeTeam.name_zh}队介绍</div>
                        <div class="bssm-zw">{$homeTeam.name_zh}队（英文名：{$homeTeam.name_en}，当前{$homeTeam.name_zh}队的市值为：，{$homeTeam.name_zh}队总球员数为人，其中国家队球员数人,非本土球员人，我们将为你实时更新{$homeTeam.name_zh}赛事数据信息。</div>
                    </div>
                </div>
                <div class="qdjs">
                    <div>
                        <div class="bssm-top">{$awayTeam.name_zh}队介绍</div>
                        <div class="bssm-zw">{$awayTeam.name_zh}队（英文名：{$awayTeam.name_en}，当前{$awayTeam.name_zh}队的市值为：，{$awayTeam.name_zh}队总球员数为人，其中国家队球员数人,非本土球员人，我们将为你实时更新{$awayTeam.name_zh}赛事数据信息。</div>
                    </div>
                </div>

            </div>
        </div>
        <div class="box-w2">
            <div class="box-w2">
                <div class="right-box box-w2">
                    <div class="hotlive">
                        <img src="{__IMG__}/tizi.png" alt="">
                        <span style="margin-left: 10px;">热点直播</span>
                        <div class="grayline"></div>
                    </div>

                    {include file="sphere/hotLive" /}


                </div>
                <div class="right-box box-w2" style="margin-top: 16px;">
                    <div class="timeLive">本场战报</div>
                    <div class="grayline"></div>
                    <ul class="ul-zxsp1">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
<!-- /主体 -->
<!-- 脚本 -->
{block name="script"}
<script src="{__JS__}/public.js?v={:get_system_config('web','version')}"></script>
<script src="{__JS__}/noreapt.js?v={:get_system_config('web','version')}"></script>
<script src="{__JS__}/swiper-bundle.js?v={:get_system_config('web','version')}"></script>
<script src="{__JS__}/move.js"></script>
{/block}
<!-- /脚本 -->
