{foreach $model as $key=>$value}
<div class="lanqiu">
    <ul class="classicon">
        {if condition="$key eq 'basketball'"}
        <li><img src="{__IMG__}/bkball.png"></li>
        <li>篮球</li>
        {else}
        <li><img src="{__IMG__}/ftball.png"></li>
        <li>足球</li>
        {/if}
    </ul>
    <ul class="lanqiu-ul">
        {foreach $value as $vo}
        <a href="{:url('live/'.$key,['id'=>$vo.id])}">
            <li class="leftList"><img src="{$vo['logo']}" alt=""> &nbsp;&nbsp;{$vo["short_name_zh"]}</li>
        </a>
        {/foreach}
    </ul>
</div>
{/foreach}
