<!--近期直播-->
<ul>
    {foreach name="[list]" item="v"}
    <li class="rightList" style="margin: 0;">
        <div>{$v['match_time']|date='y-m-d'}</div>
        <div class="saishi-11">
            <span><a href="{:url('team/'.$v.sphere_type,['id'=>$v.home_team_id])}" target="_blank">{$v['home_team_text']}</a></span>
            <img src="{$v['home_team_logo']|defaultLogo}" alt="{$v['home_team_text']}">
        </div>
        <div class="saishi-21">
            {if $v['status_id']<=1}
            -
            {else}
            {$v['home_scores']|scoresCount}
            {/if}
        </div>
        <div class="saishi-31">

            <span><a href="{:url('competition/'.$v.sphere_type,['id'=>$v.competition_id])}" target="_blank">{$v['competition_text']}</a></span>
            <span>{$v['status_text']}</span>
        </div>

        <div class="saishi-21">
            {if $v['status_id']<=1}
            -
            {else}
            {$v['away_scores']|scoresCount}
            {/if}
        </div>
        <div class="saishi-11">
            <img src="{$v['away_team_logo']|defaultLogo}" alt="{$v['away_team_text']}">
            <span><a href="{:url('team/'.$v.sphere_type,['id'=>$v.away_team_id])}" target="_blank">{$v['away_team_text']}</a></span>
        </div>
        <div>
            <div class="{$v['status_id']<=1?'saishi-41-wks':'saishi-41-jj'} saishi-41">
                <a href="{:url('match/'.$v.sphere_type,['id'=>$v.id])}" target="_blank"> {$v['status_text']}</a>
            </div>
        </div>
    </li>
    {/foreach}
</ul>