{extend name="common/base"/}
<!-- 主体 -->
{block name="body"}
<form class="layui-form p-4">
	<h3 class="pb-3">标签配置</h3>
	<table class="layui-table layui-table-form">
		<tr>
			<td class="layui-td-gray">标签替换个数</td>
			<input type="hidden" value="{$id}" name="id">
			<td colspan="3">
				<input type="text" name="amount" autocomplete="off" placeholder="输入标签替换个数" lay-reqText="输入标签替换个数"
					class="layui-input" {notempty name="$config.amount" } value="{$config.amount}" {/notempty}>
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray-3">是否开启联赛、球队标签</td>
			<td colspan="3">
				{empty name="$config.liansaiteam"}
				<input type="radio" name="liansaiteam" value="1" title="开启" checked>
				<input type="radio" name="liansaiteam" value="2" title="不开启">
				{else/}
					<input type="radio" name="liansaiteam" value="1" title="开启"   {if $config.liansaiteam=='1'} checked="checked" {/if} >
					<input type="radio" name="liansaiteam" value="2" title="不开启" {if $config.liansaiteam=='2'} checked="checked" {/if} >
				{/empty}
			</td>
		</tr>

		<tr>
			<td class="layui-td-gray-3">联赛、球队标签是否新开窗口</td>
			<td colspan="3">
				{empty name="$config.target"}
				<input type="radio" name="target" value="1" title="开启" checked>
				<input type="radio" name="target" value="2" title="不开启">
				{else/}
				<input type="radio" name="target" value="1" title="开启"   {if $config.target=='1'} checked="checked" {/if} >
				<input type="radio" name="target" value="2" title="不开启" {if $config.target=='2'} checked="checked" {/if} >
				{/empty}
			</td>
		</tr>


		<tr>
			<td class="layui-td-gray">获取排名前几</td>
			<td colspan="3">
				<input type="text" name="rank" autocomplete="off" placeholder="获取排名前几" lay-reqText="获取排名前几"
					   class="layui-input" {notempty name="$config.rank" } value="{$config.rank}" {/notempty}>
			</td>
		</tr>

		<tr>
			<td class="layui-td-gray-3">标签是否加粗</td>
			<td colspan="3">
				{empty name="$config.bold"}
				<input type="radio" name="bold" value="1" title="加粗" checked>
				<input type="radio" name="bold" value="2" title="不加粗">
				{else/}
				<input type="radio" name="bold" value="1" title="加粗"   {if $config.bold=='1'} checked="checked" {/if} >
				<input type="radio" name="bold" value="2" title="不加粗" {if $config.bold=='2'} checked="checked" {/if} >
				{/empty}
			</td>
		</tr>

	</table>
	<div class="py-3">
		<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="webform">立即提交</button>
		<button type="reset" class="layui-btn layui-btn-primary">重置</button>
	</div>
</form>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	const moduleInit = ['tool'];
	function gouguInit() {
		var form = layui.form, tool = layui.tool;
		//监听提交
		form.on('submit(webform)', function (data) {
			let callback = function (e) {
				layer.msg(e.msg);
				if (e.code == 0) {
					parent.layui.tool.close(1000);
				}
			}
			tool.post("/admin/conf/edit", data.field, callback);
			return false;
		});
	}
</script>
{/block}
<!-- /脚本 -->