@font-face {
  font-family: "iconfont"; /* Project id 4225537 */
  src: url('iconfont.woff2?t=1694480895217') format('woff2'),
       url('iconfont.woff?t=1694480895217') format('woff'),
       url('iconfont.ttf?t=1694480895217') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouyefill:before {
  content: "\e6ca";
}

.icon-shaixuan:before {
  content: "\e641";
}

.icon-bofang:before {
  content: "\e624";
}

.icon-fenxi:before {
  content: "\e76d";
}

.icon-jifen:before {
  content: "\e721";
}

.icon-duiwu:before {
  content: "\e712";
}

.icon-zhibo:before {
  content: "\e626";
}

.icon-zuqiu:before {
  content: "\e619";
}

.icon-lanqiu:before {
  content: "\ea73";
}

.icon-shang:before {
  content: "\ea74";
}

.icon-jiangbei:before {
  content: "\e872";
}

.icon-shipin:before {
  content: "\e622";
}

.icon-tag:before {
  content: "\e885";
}

.icon-zixun:before {
  content: "\e602";
}

.icon-jijin:before {
  content: "\e627";
}

.icon-luxiang:before {
  content: "\e680";
}

.icon-sousuo:before {
  content: "\e63f";
}

.icon-null:before {
  content: "\e715";
}

.icon-close:before {
  content: "\e725";
}

.icon-jianjie:before {
  content: "\e685";
}

.icon-xia:before {
  content: "\e65e";
}

